<dom-module id="consent-link">
<template>
    <a>{{ text }}</a>
</template>
<script>
    Polymer({
        is: "consent-link",

        properties: {
            text: String
        },

        handleClick: function(e) {
            this.$.consentTrackerService.accept(this.text, );
        }
    });
</script>
</dom-module>