<dom-module id="element-pagination">
    <style>
        .paginationItem {
            height: 31px;
        }
        span {
            pointer-events: none;
        }
        .selected {
            background-color: #88bf40 !important;
            color: white !important;
        }
    </style>
    <template>
        <ul class="pagination">
            <li>
                <a href="javascript:;" on-click="prev">
                    <span class="btn btn-xs btn-grey">Previous</span>
                </a>
            </li>
            <template is="dom-repeat" items="{{indices}}">
                <li><a href="javascript:;" on-click="setPage" class$="{{selectorClass(item, selectedIndex)}}">
                    <span>{{item}}</span>
                </a></li>
            </template>
            <li>
                <a href="javascript:;" on-click="next">
                    <span class="btn btn-xs btn-grey">Next</span>
                </a>
            </li>
        </ul>
    </template>
    <script>
        Polymer({
            is: "element-pagination",
            properties: {
                elementLength: {
                    type: Number,
                    notify: true
                },
                selectedIndex: {
                    type: Number,
                    notify: true
                },
                pageLength: Number
            },
            observers: [
                "displayIndices(selectedIndex, elementLength, pageLength)"
            ],
            selectorClass: function(item, selected) {
                var classes = "paginationItem";
                
                if (item === selected + 1) {
                    classes += " selected";
                }
                return classes;
            },
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            init: function() {
                var self = this;
                
                return function() {}
            },
            displayIndices: function(selectedIndex, elementLength, pageLength) {
                var lengthCalc = (this.elementLength / this.pageLength) % 2 === 0 ? this.elementLength / this.pageLength - 1 : this.elementLength / this.pageLength  
                var numberOfPages = Math.ceil(lengthCalc);
                var pageNumber = selectedIndex + 1;
                var indices = [pageNumber];
                
                // Next numbers
                var maxNext = pageNumber === 1 ? 0 : pageNumber === 2 ? 1 : 2
                for (var i = 1; i < 5 - maxNext; i++) {
                    if (pageNumber + i < numberOfPages + 1 && indices.length < 5) {
                        indices.push(pageNumber + i);
                    }
                }
                
                // Previous Numbers
                for (var i = 1; i < 5; i++) {
                    if (pageNumber - i > 0 && indices.length < 5) {
                        indices.unshift(pageNumber - i);
                    }
                }
                if (indices[indices.length - 1] !== numberOfPages && numberOfPages !== pageNumber) {
                    indices[indices.length - 1] = numberOfPages
                }
                if (indices[0] !== 1 && numberOfPages !== pageNumber) {
                    indices[0] = 1;
                }
                this.set("indices", indices);
            },
            prev: function() {
                if (this.selectedIndex > 0) {
                    this.set("selectedIndex", this.selectedIndex - 1);
                }
            },
            next: function() {
                var lengthCalc = (this.elementLength / this.pageLength) % 2 === 0 ? this.elementLength / this.pageLength - 1 : this.elementLength / this.pageLength  
                var numberOfPages = Math.ceil(lengthCalc);
                if (this.selectedIndex + 1 < numberOfPages) {
                    this.set("selectedIndex", this.selectedIndex + 1);
                }
            },
            setPage: function(e) {
                this.set("selectedIndex", +$(e.target).find("span").text() - 1);
            }
            
        });
    </script>
</dom-module>