<dom-module id="promised-value">
    <template>
        <content></content>
        <style>
            .fade {
                opacity: 0;
                -webkit-transition: opacity 0.15s linear;
                -moz-transition: opacity 0.15s linear;
                -o-transition: opacity 0.15s linear;
                transition: opacity 0.15s linear;
            }

            .fade.in {
                opacity: 1;
            }

            .lift {
                transform: translateY(-100%);
            }
        </style>
    </template>
    <script>
        /**
         * Use this component to to set the "items" property on its children
         * as the result of a promise passed in as a property
         */
        Polymer({
            is: "promised-value",

            properties: {
                // Received from parent
                promise: Object,
                state: {
                    value: function ()
                    {
                        return {
                            loading: true,
                            error: null,
                            value: null
                        };
                    }
                }
            },

            attached: function ()
            {
                var self = this;
                this.promise.then(function (value)
                    {
                        setTimeout(function() {
                            self.set("state", {
                                loading: false,
                                value: value.map(function (user)
                                {
                                    return user.login;
                                }),
                                error: null
                            });

                            // set response on children
                            $(self).children().each(function ()
                            {
                                if (typeof this.set === "function") {
                                    this.set("items", self.state.value);
                                }
                            });

                        }, 2000)
                    })
                    .catch(function (error)
                    {
                        self.set("state", {
                            loading: false,
                            value: null,
                            error: error
                        });

                        console.error(error);
                    });
            }
        });
    </script>
</dom-module>