<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<style>
    .payments-tab.wrapper {
        padding: 20px;
        padding-right: 20px !important;
    }
    .header {
        margin-bottom: 10px;
    }
    .header-right {
        position: absolute;
        right: 20px;
    }
    .btn.selected {
        background-color: #88bf40;
        border: 1px #88bf40 solid;
    }
    .btn.selected:hover:active {
        color: white;
        background-color: #578C11;
        border-color: #4D7B0F;
    }
    #table-search {
        width: 250px;
    }
    .header .input-group {
        width: 1px;
    }
    .inline-block {
        display: inline-block;
    }
    #length-selector {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
    label {
        font-weight: normal;
    }
    .tags {
        margin-right: 10px;
    }
    tr td:nth-of-type(6) {
        text-align: center;
    }
</style>
<dom-module id="alerts-tab">
    <template>
        <div class="wrapper">
            <div class="header">
                <span class="header-left">
                    <span class="tags">
                        <span id="show-all" class="btn btn-xs btn-default selected">All</span>
                        <span class="btn btn-xs btn-default">Critical</span>
                        <span class="btn btn-xs btn-default">Normal</span>
                        <span class="btn btn-xs btn-default">Warning</span>
                    </span>
                    <label>
                        <select name="table_length" id="length-selector" class="form-control">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> alerts per page
                    </label>
                </span>
                <span class="header-right">
                    <div class="inline-block">
                        <div class="input-group">
                            <input type="text" id="table-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </span>
            </div>
            
            <table id="alerts-table" class="table hover issue-tracker" width="100%">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "alerts-tab",
            attached: function() {
                var self = this;
                
                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                    self.setApplications();
                    self.initializeDataTable();
                }
            },
            setApplications: function() {
                 this.applications = [
                     ["","Active UCC Filings","High","7 Active UCC filings identified. Acceptable Count 2",""],
                     ["","Bankruptcies","High","0 Bankruptcies found"],
                     ["","Judgement/Liens","High","0 Judgement/Liens found"],
                     ["","Foreclosures","High","1 Foreclosure identified. Acceptable Count 1"],
                     ["","Executives","High","2 Executives identified. Acceptable Count 1"],
                     ["","Time in Business","High","1 year(s) in Business found. Acceptable number of years 3"]
                 ]
            },
            initializeDataTable: function() {
                var self = this;
                
                var table = self.table = $("#alerts-table", self).DataTable({
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    data: self.applications,
                    order: [[1, "desc"]],
                    columns: [
                        { title: "" },
                        { title: "Alert" },
                        { title: "Severity" },
                        { title: "Description" }
                    ],
                    columnDefs: [
                        {
                            targets: [0],
                            orderable: false,
                            render: function(data, type, rowData, meta) {
                                return "<i class=\"fa fa-warning\">" + data + "</i>"
                            }
                        }
                    ]
                });
                
                self.addClickHandling();
                
                // Create and render buttons
                new $.fn.dataTable.Buttons( table, {
                    buttons: ['copyHtml5', 'csvHtml5',
                        {
                            extend: 'excelHtml5',
                            title: 'payments',
                            extension: '.xlsx'
                        }, 'pdfHtml5', 'print'
                    ]
                })    
                
                // Tag Filters
                $(".tags span:not(#show-all)", this).on('click', function() {
                    if ($(this).hasClass("selected")) {
                        $(this).removeClass("selected");
                        $("#show-all", self).addClass("selected");
                        table.columns().search('').draw()
                    } else {
                        $(".tags span", self).each(function() {
                            $(this).removeClass("selected");
                        })
                        $(this).addClass("selected");
                        table.columns(2).search($(this).text()).draw()
                    }
                });
                $(this.$["show-all"]).on('click', function() {
                    $(".tags span", self).each(function() {
                        $(this).removeClass("selected");
                    })
                    $(this).addClass("selected");
                table.columns().search('').draw()
                });
                
                // Custom Length Selector
                $(this.$["length-selector"]).on("change", function() {
                    table.page.len(this.value).draw();
                })
                // Custom search
                $(this.$["table-search"]).on('input', function() {
                    table.search(this.value).draw();
                });
            },
            addClickHandling: function() {
                var self = this;
                
                $(".detail-btn", self).each(function() {
                    $(this).on('click', function() {
                        var rowPosition = $("#alerts-table", self).dataTable().fnGetPosition($(this).closest('tr')[0]);
                        var rowData = $("#alerts-table", self).dataTable().fnGetData(rowPosition);
                        var data = self.convertRowDataToInstallment(rowData);
                        
                        self.$.hub.publish("activity:dynamo",
                        {
                            activity: "cancel-payment",
                            title: "Cancel Payment",
                            properties: data
                        });
                    })
                });
            },
            formatDate: function(date) {
                return this.$.format.formatDate(date);
            },
            capitalize: function(string) {
                return this.$.format.capitalize(string);
            },
            formatMoney : function(value){
                if(typeof(value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },
            resetTab : function() {
                this.init()();
            },
            convertRowDataToInstallment: function(rowData) {
                return {
                    date: rowData[0],
                    amount: rowData[1],
                    status: rowData[2],
                    type: rowData[3],
                    method: rowData[4],
                    paymentId: rowData[6]
                }
            }
        })
    </script>
</dom-module>