<html-import html-href="event/hub.html"></html-import>
<html-import html-href="applications/filter.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<style>
    .payments-tab.wrapper {
        padding: 20px;
        padding-right: 20px !important;
    }
    .header {
        margin-bottom: 10px;
    }
    .header-right {
        position: absolute;
        right: 50px;
    }
    .btn.selected {
        background-color: #88bf40;
        border: 1px #88bf40 solid;
    }
    .btn.selected:hover:active {
        color: white;
        background-color: #578C11;
        border-color: #4D7B0F;
    }
    #application-search {
        width: 250px;
    }
    .header .input-group {
        width: 1px;
    }
    .inline-block {
        display: inline-block;
    }
    #length-selector {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
    label {
        font-weight: normal;
    }
    .tags {
        margin-right: 10px;
    }
    tr td:nth-of-type(6) {
        text-align: center;
    }
</style>
<dom-module id="applications-tab">
    <template>
        <template is="dom-if" if="{{filterPath}}">
            <applications-filter hide-button filter-path="{{filterPath}}"></applications-filter>
        </template>
    </template>
    <script>
        Polymer({
            is: "applications-tab",
            behaviors: [eventHub],
            observers: [
                "setFilterPath(merchant)"
            ],
            attached: function() {
                this.publish("dependent.ready", {
                    dependencies: [
                        {
                            context: this,
                            name: "merchant",
                            parentProp: "merchant"
                        }
                    ]
                });
            },
            setFilterPath: function(merchant) {
                this.filterPath = "/Merchant/" + merchant.merchantId + "/all";
            }
        });
    </script>
</dom-module>