<dom-module id="application-business-info">
    <template>
        <style>
            .row {
                padding-top: 25px;
            }
            .tooltip {
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .tooltip:hover:before {
                top: 15px;
                background: #333;
                background: rgba(0,0,0,.8);
                border-radius: 5px;
                color: #fff;
                content: attr(name);
                padding: 5px 15px;
                position: absolute;
                z-index: 98;
                width: 220px;
            }
        </style>
        <div class="row">
            <div class="col-lg-4">
                <dl class="dl-horizontal">
                    <dt>Business Name</dt>
                    <dd>{{merchant.businessName}}</dd>
                    <dt>SIC Code</dt>
                    <dd>{{merchant.sicCode.value}}</dd>
                    <dt>Start Date</dt>
                    <dd>{{merchant.yearBusinessStarted}}</dd>
                    <dt>Address (Physical)</dt>
                    <dd>{{ getMerchantAddress(merchant) }}</dd>
                </dl>
            </div>
            <div class="col-lg-4">
                <dl class="dl-horizontal">
                    <dt>DBA</dt>
                    <dd>{{ merchant.dba }}</dd>
                    <dt>Tax ID</dt>
                    <dd>{{ merchant.federalTaxIdOrSSN }}</dd>
                    <dt>Incorporated Dates</dt>
                    <dd>{{ merchant.incDate }}</dd>
                    <dt>Phone</dt>
                    <dd>{{ merchant.contacts.0.phoneNumber }}</dd>
                </dl>
            </div>

            <div class="col-lg-4">
                <dl class="dl-horizontal">
                    <dt>Business Type</dt>
                    <dd>{{ merchant.businessType.value }}</dd>
                    <dt>Website</dt>
                    <!--<dd class="tooltip" name="{{ merchant.website }}">{{ merchant.website }}</dd>-->
                    <dd>{{ merchant.website }}</dd>
                    <dt>Tax ID or SSN</dt>
                    <dd>
                        <censor-ssn full-ssn="{{ merchant.federalTaxIdOrSSN }}"></censor-ssn>
                    </dd>
                    <br>
                </dl>
            </div>
        </div>
        <!--<div class="row">
            <span class="btn btn-primary pull-right" style="margin-right: 20px">Modify</span>
        </div>-->
    </template>
    <script>
        Polymer({
            is: "application-business-info",
            behaviors: [eventHub],
            observers: ["setMerchant(applicant)"],
            setMerchant: function (applicant) {
                this.merchant = applicant.merchantInfo;
            },
            ready: function () {
                var self = this;
                this.publish("dependent.ready", {
                    dependencies: [{
                        context: self,
                        name: "merchant",
                        parentProp: "merchant"
                    }]
                });
            },

            getMerchantAddress: function (merchant) {
                if (!merchant || !merchant.businessAddresses) { return }
                var primaryAddress = merchant.businessAddresses.filter(function (address) {
                    return address.isPrimary
                })[0];

                return [
                    primaryAddress.line1,
                    primaryAddress.line2,
                    primaryAddress.line3,
                    primaryAddress.city,
                    primaryAddress.state,
                    primaryAddress.zipCode,
                    primaryAddress.country
                ].filter(function (addressField) { return addressField }).join(" ");
            }

        });
    </script>
</dom-module>