<link rel="import" href="./bower_components/polymer/polymer.html"/>
<dom-module id="test-el">
<template>
    <h1 id="howdy">Howdy</h1>
</template>
<script>
    Polymer({
        is: "test-el",

        aMethod: function() { return 1; }
    });
</script>
</dom-module>