<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/censor-ssn.html"></html-import>
<dom-module id="merchant-details">
	<style>
		.loan-summary .ibox-content {
			padding-bottom: 0;
		}
		.merchant-details .dl-horizontal dt {
			text-align: left;
			margin-bottom: 5px;
			width: 160px;
		}
        .merchant-details .col-lg-4:first-of-type .dl-horizontal dd {
            margin-left: 120px;
		}
        .merchant-details .col-lg-4:first-of-type .dl-horizontal dt {
            width: 100px;
        }
        .fa-arrow-circle-right {
            margin-left: 10px;
        }
        .email {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .email:hover:before {
            top: 15px;
            background: #333;
            background: rgba(0,0,0,.8);
            border-radius: 5px;
            color: #fff;
            content: attr(name);
            padding: 5px 15px;
            position: absolute;
            z-index: 98;
            width: 220px;
        }
        .no-ellipse.email:hover:before {
            display: none;
        }
	</style>
	<template>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins loan-summary">
					<div class="ibox-title">
						<h1>
                            <strong>{{ merchant.merchantId }}</strong> - <span>{{ merchant.businessName }}</span>
                            <span class="labels">
                                <span class="pull-right label label-primary">{{ merchant.status }}</span>
                            </span>
                        </h1>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-4">
								<dl class="dl-horizontal">
									<dt>Contact</dt>
									<dd>{{ merchant.contacts.0.name }}</dd>
									<dt>Job Title</dt>
									<dd>{{ merchant.contacts.0.jobTitle }}</dd>
									<dt>Email</dt>
									<dd class="email" name="{{merchant.email}}">{{ merchant.email }}</dd>
									<dt>Phone Number</dt>
									<dd>{{ merchant.contacts.0.phoneNumber }}</dd>
								</dl>
							</div>
							<div class="col-lg-4">
								<dl class="dl-horizontal">
									<dt>Apps</dt>
									<dd>{{merchant.apps}}</dd>
									<dt>Submitted</dt>
									<dd>{{merchant.submitted}}</dd>
									<dt>Loan Approved Address</dt>
									<dd>{{merchant.loanApprovedAddress}}</dd>
								</dl>
							</div>

							<div class="col-lg-4">
								<dl class="dl-horizontal">
									<dt>Business Started</dt>
									<dd>{{ merchant.yearBusinessStarted }}</dd>
									<dt>DBA</dt>
									<dd>{{ merchant.dba }}</dd>
									<dt>Tax ID or SSN</dt>
									<dd>
                                        <censor-ssn full-ssn="{{ merchant.federalTaxIdOrSSN }}"></censor-ssn>
                                    </dd>
                                    <br>
                                </dl>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
	</template>
	<script>
        Polymer({
			is : 'merchant-details',
			properties: {
				merchant: {
					type: Object
				}
			},

			getMerchantId: function(merchant) {
                var merchantId = this.get("merchant.merchantId");
				if (merchantId) {
                    return merchantId.slice(0,5);
                }
			}
		});
	</script>
</dom-module>