<html-import html-href="merchant/details.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/selectable-table.html"></html-import>
<dom-module id="merchant-view">
    <style>
        .wrapper.wrapper-content {
            padding: 20px 10px 40px !important;
        }

        .sidebar-panel {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 3;
        }
        .height-controller {
            background-color: #F3F3F4;
            height: 2000px;
            margin-bottom: -2000px;
            overflow: hidden;
        }
        .col-md-4 {
            width: 33.33333333%;
        }
        .filler {
            position: absolute;
            right: 0;
            background-color: #EBEBED;
            z-index: 2;
            width: 33.33%;
        }
        .main-filler {
            position: absolute;
            left: 0;
            background-color: #F3F3F4;
            z-index: -1;
            width: 66.66%;
        }
    </style>
    <template>
        <div class="main-filler height-controller"></div>
        <div class="filler height-controller"></div>
        <div class="container-fluid">
            <div class="row">
                    <div class="sidebar-panel col-md-4">
                        <micro-app app-id="merchantActivities"></micro-app>
                    </div>
                    <div class="wrapper wrapper-content col-md-8">
                        <merchant-details merchant="{{ merchant }}"></merchant-details>
                        <micro-app app-id="merchantTabs"></micro-app>
                    </div>
            </div>
        </div>
        <event-hub id="hub">
            <event-subscription event="loan:refresh" on-handle="getLoan"></event-subscription>
        </event-hub>
        <alloy-config id="config" config-ready="{{configReady}}"></alloy-config>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "merchant-view",

            properties: {
                merchant: {
                    type: Object,
                    notify: true
                },
                dependants: {
                    type: Array,
                    notify: true,
                    value: function() {
                        return [];
                    }
                }
            },
            observer: ["log(merchant)"],
            behaviors: [eventHub],
            ready: function() {
                var self = this;

                self.addListeners();
                self.setMerchant()
                    .then(function() {
                        self.fulfillDependants(self.dependants);
                    });
            },
            addListeners: function() {
                var self = this;
                self.subscribe("dependent.ready", function(payload) {
                    var dependencies = payload.dependencies;

                    for (var i = 0; i < dependencies.length; i++) {
                        var dependency = dependencies[i];

                        var context = dependency.context;
                        var contextPropName = dependency.name;
                        var parentPropName = dependency.parentProp;

                        if (self[parentPropName]) {
                            context.set(contextPropName, self[parentPropName]);
                        } else {
                            self.push("dependants", payload);
                        }
                    }
                });

                self.subscribe(
                    "activity.request.merchant",
                    function(payload) {
                    payload.set("applicant", self.applicant);
                });
            },
            fulfillDependants: function(dependants) {
                var self = this;
                dependants.forEach(function(dependant) {
                    var dependencies = dependant.dependencies;
                    for (var i = 0; i < dependencies.length; i++) {
                        var dependency = dependencies[i];

                        var context = dependency.context;
                        var contextPropName = dependency.name;
                        var parentPropName = dependency.parentProp;

                        context.set(contextPropName, self[parentPropName]);
                    }
                });
            },
            log: function(merchant) {
                console.log("MERCHANT: ", merchant);
            },
            setMerchant: function() {
                var self = this;
                return this.$.http.get("/:id", window.config.services.merchant, function(merchant) {
                    self.set("merchant", merchant);
                    window.merchant = merchant;
//                    {
//                        merchant: merchant.businessName,
//                        id: merchant.merchantId.slice(0, 5),
//                        contact: merchant.contacts[0].name,
//                        jobTitle: merchant.contacts[0].jobTitle,
//                        email: merchant.email,
//                        phone: merchant.contacts[0].phoneNumber,
//                        apps: "",
//                        submitted: "",
//                        loanApprovedAddress: "",
//                        businessStarted: merchant.yearBusinessStarted,
//                        dba: merchant.dba,
//                        taxId: merchant.federalTaxIdOrSSN,
//                        merchantInfo: {
//                            name: merchant.businessName,
//                            sic: merchant.sicCode.value,
//                            startDate: moment(merchant.businessLicences[0].issuedDate).format("MM/DD/YYYY"),
//                            address: "",
//                            dba: merchant.dba,
//                            taxId: merchant.federalTaxIdOrSSN,
//                            incDate: "",
//                            phone: merchant.contacts[0].phoneNumber,
//                            type: merchant.businessType.value,
//                            website: merchant.website,
//                            sale: merchant.annualSale
//                        }
//                    };
                });
            }
        });
    </script>
</dom-module>