<dom-module id="borrower-status">
    <template>
        <style>
        </style>
    </template>
    <script>
        Polymer({
            is: "borrower-status",
            behaviors: [eventHub],
            attached: function() {
                this.subscribe("borrower-status.get", function(callback) {
                   callback(true); 
                });
            }
            
        });
    </script>
</dom-module>