<dom-module id="identity-service">
    <template>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <alloy-config id="config"
                      alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "identity-service",

            baseUrl: window.config.services.security,

            login: function (username, password) {
                var self = this;

                var securityBase = window.config.services.security;
                var data = {
                    username: username,
                    password: password
                }

                return self.$.http.post("/login", data, securityBase)
                    .done(function (token) {
                        self.$.session.set("token", token);
                        window.location = self.configuration.private.url;
                    })
            },
            logout: function () {
                var self = this;
                var token = self.$.session.get("token");
                var securityBase = window.config.services.security;

                return self.$.http.get("/logout", securityBase)
                    .done(function () {
                        self.$.session.remove("token");
                        self.$.session.remove(token);
                        window.location = self.configuration.public.url;
                    })
            },

            /**
             * Create a new user account
             * @param {Object} payload Object describing user
             * @param {string} payload.username
             * @param {string} payload.password
             * @param {string} payload.email
             * @param {string[]} payload.roles
             */
            createUser: function (payload) {
                // for mocking
//                return new Promise(function (resolve, reject) {
//                    resolve(payload);
//                });

                return this.$.http.put("", payload, this.baseUrl);
            },

            validateUsername: function (username) {
                var self = this;
                var url = "check/";
                var payload = {username: username};
                var baseUrl = this.baseUrl;

                return new Promise(function (resolve, reject) {
                    self.$.http.post(
                        url,
                        payload,
                        baseUrl,
                        function success(response) {
                            resolve(response.available);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            },


            requestToken: function (username) {
                var self = this;

                var securityBase = window.config.services.security;

                return self.$.http.post("/request-token/" + username, "", securityBase);
            },
            resetPassword: function (username, password, token) {
                var self = this

                var securityBase = window.config.services.security;
                var data = {
                    username: username,
                    password: password
                }

                return self.$.http.post("/reset-password/" + token, data, securityBase);
            }
        })
    </script>
</dom-module>
