<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/groups/unit.html"></html-import>
<html-import html-href="ui-elements/groups/activity.html"></html-import>
<html-import html-href="ui-elements/groups/dynamo-activity.html"></html-import>
<dom-module id="activity-group">
    <template>
        <style>
        </style>
        <dynamo-activity hidden$="{{!dynamicShowing}}" id="dynamic"></dynamo-activity>
        
        <template is="dom-repeat" items="{{activities}}" as="activity">
            <activity-unit id$="{{createId(activity.title)}}" config="{{activity}}"></activity-unit>
        </template>

        <event-hub id="hub">
            <event-subscription event="activity:dynamo" on-handle="dynamicLoad"></event-subscription>
            <event-subscription event="activities:reset" on-handle="resetActivities"></event-subscription>
        </event-hub>
    </template>
    <script>
        // 	applicationActivities": {
		//     "src": "ui-elements/groups/activities.html",
		//     "configuration": {
		//         "activities": [
		//             {
		//                 "title": "Title",
		//                 "src": "application/activities/log.html",
		//                 "dependencies": [
		//                     "currentLoan"
		//                 ]
		//             }
		//         ]
		//     }
		// }
        Polymer({
            is: "activity-group",
            properties: {
                dynamicShowing: {
                    type: Boolean,
                    value: false
                }
            },
            behaviors: [
                eventHub,
                {
                    attached: function() {
                        this.activities = this.activityList || this.config.activities;
                        window.addEventListener("getDependencies", function(event) {
                            var context = event.detail.context;
                            var dependencies = event.detail.dependencies;
                            this.setBoundProperties(context, dependencies);
                        }.bind(this));
                    },
                    setBoundProperties: function(context, dependencies) {
                        for (var i = 0; i < dependencies.length; i++) {
                            var dependency = dependencies[i];
                            context.setDependency(dependency, this[dependency]);
                        }
                    }
                }
            ],
            attached: function() {
                var self = this
                this.subscribe("activity:clicked", this.activityClick.bind(this));
                this.subscribe("activity:close", this.closeActivity.bind(this));
                this.subscribe("activities:dynamic-close", function() {
                    setTimeout(function() {
                        self.showAll();
                    }, 200)
                });
            },
            activityClick: function(event) {
                var $activityUnit = $(event.target).closest("activity-unit");
                var $siblingUnits = $activityUnit.siblings("activity-unit");

                var toggle = $activityUnit[0].toggleActivity();
                // If open close all siblings
                if (toggle) {
                    $siblingUnits.each(function() {
                        this.closeActivity();
                    });
                    this.$.dynamic.closeActivity();
                    this.dynamicShowing = false;
                } else {
                    $siblingUnits.each(function() {
                        this.showActivity();
                    });
                }
                
            },

            dynamicLoad: function() {
                this.resetActivities();
                this.dynamicShowing = true;
            },
            closeActivity: function(event) {
                var activity = $(event.activity).closest("activity-unit")[0];
                activity.closeActivity();
                setTimeout(function() {
                    this.showAll();
                }.bind(this), 200) 
            },
            createId: function(id) {
                return id.toLowerCase().replace(/ /g, "-");
            },
            showAll: function() {
                this.dynamicShowing = false;
                $("activity-unit", this).each(function() {
                    this.showActivity();
                });
            },
            resetActivities: function() {
                this.dynamicShowing = false;
                $("activity-unit", this).each(function() {
                    this.closeActivity();
                });
            }
            
        });
    </script>
</dom-module>