<dom-module id="enrollment-layout-header">
    <template>
        <style>
            .navbar.navbar-static-top {
                padding: 15px;
            }
        </style>
        <nav class="navbar navbar-static-top border-bottom white-bg" role="navigation" style="margin-bottom: 0">
            <div class="row">
                <div class="col-sm-2">
                    <div class="div">
                        <img src="../images/lendingusa_logo.png" alt="LendingUSA">
                    </div>
                </div>
            </div>
        </nav>
    </template>
<script>
    Polymer({
        is: "enrollment-layout-header",
    });
</script>
</dom-module>