<dom-module id="search-inline">
    <style>
        .form-group .form-control {
            height: 31px;
            margin-top: 14px;
            border: 1px solid #E7EAEC;
        }
        .navbar-form-custom {
            width: 75%;
        }
    </style>
	<template>
		<form role="search" class="navbar-form-custom" action="search_results.html">
			<div class="form-group">
				<input type="text" placeholder="Search for loan, borrower..." class="form-control"
                name="top-search" id="top-search" on-keydown="searchForTerm">
			</div>
		</form>
	</template>
	<script>
		Polymer({ 
			is : 'search-inline',
            attached: function() {
                var self = this;
                
                window.addEventListener("hashchange", function() {
                    self.$["top-search"].value = "";
                }, false)
            },
            searchForTerm: function(e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    var searchTerm = $('#top-search').val();
                    window.location.href = "#/components-search-view/search:" + searchTerm;
                }
            }
		});
	</script>
</dom-module>
