<html-import html-href="search/result.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<style>
    .ibox-content {
        margin-bottom: 20px;
    }
    .green {
        color: #88BF40;
    }
    .search-head {
        margin-bottom: 40px;
    }
    .search-head span {
        position: absolute;
    }
    .search-head span:nth-of-type(1) {
        left: 5%;
    }
    .search-head span:nth-of-type(2) {
        left: 20%;
    }
    .search-head span:nth-of-type(3) {
        left: 35%
    }
    .search-head span:nth-of-type(4) {
        left: 50%;
    }
    .search-head span:nth-of-type(5) {
        left: 60%;
    }
    .search-head span:nth-of-type(6) {
        left: 70%;
    }
    a {
        color: black;
    }
    .results {
        top: 500px;
    }
</style>
<dom-module id="search-view">
    <template>
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <h1 hidden$="{{hasResults}}">0 results found for: <span class="green">{{searchTerm}}</span></h1>
                    <template is="dom-repeat" items="{{searchResults}}" as="result">
                    <h1><span>{{result.results.length}}</span> <span>{{result.type}}</span> found for: <span class="green">{{searchTerm}}</span></h1>
                        <div class="ibox-content">
                            <search-result id="result" result-data="{{result}}"></search-result>
                        </div>
                    </template>
                </div>
            </div>
        </div>
      
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
    </template>
    <script>
        Polymer({
            is: "search-view",
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.searchResults = [];
                self.resultCount = 0;
                self.hasResults = true;
                
                return function() {
                    var base = window.config.services.search;
                    self.searchTerm = self.parseUrl().search;
                    self.$.http.get('/search?q=' + encodeURIComponent(self.searchTerm), base, function(searchResults) {
                        self.hasResults = true;
                        for (var type in searchResults) {
                            if (type !== 'found') {
                                var node = {};
                                node.type = type;
                                node.results = searchResults[type];
                                self.push('searchResults', node);
                            } else {
                                self.resultCount = searchResults.found;
                            }
                        }
                    }, function() {
                        self.hasResults = false;
                    });
                }
            },
            parseUrl: function() {
                var hash = document.location.hash;
                if(hash != undefined && hash != ""){
                    var path = hash.replace(/#\//g, "");
                    var $params = path.split("/");
                    if($params.length > 0){
                        var parsedUrl = $params[0].replace(/-/g, '/') + ".html";
                        var params = {};
                        if ($params.length > 1) {
                            var attributes = $params.splice(1);
                            for (var i =0; i< attributes.length; i++) {
                            var pair = attributes[i].split(":");
                            if (pair.length == 2)
                                params[pair[0]] = pair[1];
                            }
                        }
                    }
                }
                return params;
            },
            capitalize: function(str) {
                return this.$.format.capitalize(str);
            },
            getTabNumber: function(index) {
                return "#tab-" + (index + 1);
            },
            tabPanelClasses: function(index) {
                return "tab-" + (index + 1);
            },
            referenceView: function(referenceNumber) {
                return "#/components-loan-view/loan:" + referenceNumber
            }
        })
    </script>
</dom-module>