<dom-module id="completed-redirect-activity">
    <style>
    </style>
    <template>
    </template>
    <script>
        Polymer({
            is: "completed-redirect-activity",
            behaviors:[eventHub, workflowActivityBehavior],
            execute: function() {
                var sessionUrl;
                if (this.output.name === "luke" ||
                    (this.output.name === "han" && this.output.sidekick === "chewie")) {
                    sessionUrl = document.location.origin + "/#/appFlow/type:done";
                } else {
                    sessionUrl = document.location.origin + "/#/appFlow/type:denied";
                }
                history.pushState({}, "", sessionUrl);
                this.publish("workflow.initialize")
            }
        });
    </script>
</dom-module>