<dom-module id="work-flow-done">
    <style>
    </style>
    <template>
        <h1>Approved for ${{output.amount}}</h1>
    </template>
    <script>
        Polymer({
            is: "work-flow-done",
            behaviors:[eventHub, workflowActivityBehavior],
            
        });
    </script>
</dom-module>