<html-import html-href="appFlow/appFlow.html"></html-import>
<dom-module id="inside-workflow">
    <template>
        <template is="dom-if" if="{{stepExecuted}}">
            <app-flow is-workflow-step workflow-step-type="{{state.type}}" workflow-step-id="{{state.id}}"></app-flow>
        </template>
    </template>
    <script>
        Polymer({
            is: "inside-workflow",
            behaviors:[eventHub, workflowActivityBehavior],
            attached: function() {
                var self = this
                var origin = $("app-flow", self)[0];
                self.subscribe("workflow.created", function(payload) {
                    self.publishActivityPause({
                        output: payload.output
                    });
                }, origin);
                self.subscribe("workflow.complete", function(payload) {
                    self.publishActivityComplete({
                        output: payload.output
                    });
                }, origin);
            },
            execute: function() {
                if (!this.state) {
                    this.state = {};
                    if (this.output) {
                        this.state.type = this.output.type || "inside";
                        this.state.id = this.output.id;
                    } else {
                        this.state.type = "inside";
                    }
                }
                this.stepExecuted = true;
            }
            
        });
    </script>
</dom-module>