<dom-module id="personal-information">
    <style>
    </style>
    <template>
        <button class="btn btn-primary" on-click="lukeSkywalker">Luke Skywalker</button>
        <button class="btn btn-primary" on-click="hanSolo">Han Solo</button>
    </template>
    <script>
        Polymer({
            is: "personal-information",
            behaviors:[eventHub, workflowActivityBehavior],
            lukeSkywalker: function() {
                this.publishActivityComplete({
                    output: {
                        name: "luke"
                    },
                    terminated: true
                });
            },
            hanSolo: function() {
                this.publishActivityComplete({
                    output: {
                        name: "han"
                    }
                });
            }
        });
    </script>
</dom-module>