<dom-module id="redirect-activity">
    <style>
    </style>
    <template>
    </template>
    <script>
        Polymer({
            is: "redirect-activity",
            behaviors:[eventHub, workflowActivityBehavior],
            execute: function() {
                var sessionUrl;
                if (this.output.name === "luke") {
                    sessionUrl = document.location.origin + "/#/appFlow/type:fasttrack";
                } else {
                    sessionUrl = document.location.origin + "/#/appFlow/type:slowtrack";
                }
                history.pushState({}, "", sessionUrl);
                this.publish("workflow.initialize")
            }
        });
    </script>
</dom-module>