<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/sk-wave.html"></html-import>
<dom-module is="auth-login">
    <style>
        .sk-spinner .sk-rect {
            background-color: #03416A !important;
        }
        .form-control:focus {
            border-color: #03416A !important;
        }
        .btn.btn-primary.block {
            background-color: #03416A !important;
            border-color: #03416A !important;
        }
    </style>
    <template>
        <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
        <div class="animated fadeInDown">
            <div class="form-group">
                <input id="username" type="text" placeholder="Username" class="form-control" value="{{username::input}}">
            </div>
            <div class="form-group">
                <input id="password" type="password" placeholder="Password" class="form-control" value="{{password::input}}">
            </div>
            <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
            <button id="log-in" hidden$="{{spin}}" on-click="authenticateUser" class="btn btn-primary block full-width m-b">Log In</button>
            <div><a href="javascript:;" on-click="resetPassword">Request Password</a></div>
        </div>
        <identity-service id="identity"></identity-service>
    </template>
    <script>
        Polymer({
            is: "auth-login",
            properties : {
                authenticationInfo: {
                    type: Object,
                    notify: true
                }
            },
            attached : function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init : function() {
                var self = this;
                
                self.spin = false;
                self.hasError = false;
                self.url = "/";
                self.username = "";
                self.password = "";
                
                return function() {
                    $("#username").on("blur keydown", function(e) {
                        if (e.which !== 13 && e.type !== "blur") {
                            return;
                        } else if (e.which === 13 && e.type !== "blur") {
                            return $(this).trigger("blur");
                        }
                       
                       $("#password").focus();
                    });
                    $("#password").on("keydown", function(e) {
                        if (e.which === 13) {
                            self.authenticateUser();
                        }
                    })
                }
            },
            resetPassword : function() {
                window.location.hash = "#/securityRequest";
            },
            authenticateUser : function(e) {
                var self = this;
                
                if (e) {
                    e.preventDefault();
                }
                self.spin = true;
                
                self.$.identity.login(self.username, self.password)
                    .done(function() {
                        self.spin = false;
                    })
                    .fail(function(err) {
                        self.spin = false;
                        return self.setErrorMessage("Your username or password was incorrect");
                    })
            },
            resetLogin : function() {
                this.forgotPassword = false;
                this.resettingPassword = false;
            },
            setErrorMessage : function(message, field) {
                $(field).addClass("error");
                $("#error-message", this).text(message);
                this.hasError = true;
            }
        })
    </script>
</dom-module>