<html-import html-href="applications/filter.html"></html-import>
<dom-module id="merchant-filter">
    <template>
        <style>
            .alert {
                text-align: center;
            }
            #table-search {
                width: 250px;
            }
            #length-selector {
                width: auto;
                display: inline-block;
                margin-right: 5px;
            }
            .header-right {
                position: absolute;
                right: 50px;
            }
            .footer-right {
                float: right;
            }
            .header {
                margin: 20px 0;
            }
            .header .input-group {
                width: 1px;
            }
            label {
                font-weight: normal;
            }
            .well {
                margin-top: 30px;
                text-align: center;
            }
        </style>
        <div class="wrapper wrapper-content">
            <div class="ibox-title">
                <h1>{{filterTitle}}</h1>
            </div>
            <div class="ibox-content table-responsive">

                <div class="header">
                    <span class="header-left">
                        <label>
                            <select name="table_length" id="length-selector" class="form-control">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> merchants per page
                        </label>
                    </span>
                    <span class="header-right">
                        <div class="inline-block">
                            <div class="input-group">
                                <input type="text" id="table-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </span>
                </div>

                <div hidden$="{{!hasAlert}}" id="status-message" class="animated fadeIn well">No Merchants found</div>

                <table id="merchants-table" class="table issue-tracker" width="100%">
                    <thead></thead>
                    <tbody></tbody>
                </table>
                <http-request id="http"></http-request>
                <url-parser id="url"></url-parser>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "merchant-filter",
            attached: function() {
                var self = this;
                
                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                var params = self.$.url.getParams();

                this.filterTitle = params.filter;

                return function() {
                    self.loadData(function() {
                        self.initDataTable();
                    });
                }
            },
            loadData: function(callback) {
                var self = this;

                var url = "/" + this.filterTitle;
                var base = window.config.services.merchantFilter;

                self.$.http.get(url, base, function(merchants) {
                    var merchantRows = [];
                    for (var i = 0; i < merchants.length; i++) {
                        var merchant = merchants[i];
                        var merchantRow = self.convertToRow(merchant);

                        merchantRows.push(merchantRow);
                    }
                    self.set("merchants", merchantRows);
                    if (merchantRows.length) {
                        self.hasAlert = false;
                        callback();
                    }
                });
            },
            // Param m is merchant
            convertToRow: function(m) {
                return [m.merchantId, m.businessName, m.contact, m.phone, m.city, m.state, m.status, ""];
            },
            formatDate: function(date, isLong) {
                if (!date) {
                    return "";
                }
                if (isLong) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY")
                }
                return moment.tz(date, window.tenant.timezone).format("MMM D, YYYY");
            },
            initDataTable: function() {
                var self = this;

                var table = self.table = $("#merchants-table", self).DataTable({
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    data: self.merchants,
                    columns: [
                        { title: 'Merchant ID' },
                        { title: 'Business Name' },
                        { title: 'Contact' },
                        { title: 'Phone' },
                        { title: 'City' },
                        { title: 'State' },
                        { title: 'Status' },
                        { title: '' }
                    ],
                    columnDefs: [
                        {
                            targets: [7],
                            orderable: false,
                            render: function(data, type, rowData, meta) {
                                return "<span class=\"btn btn-primary btn-xs detail-btn\">Details</span>"
                            }
                        }
                    ]
                });

                table.on('draw.dt', function () {
                    self.addClickHandling();
                });
                self.addClickHandling();

                // Custom Length Selector
                $(this.$["length-selector"]).on("change", function() {
                    table.page.len(this.value).draw();
                })
                // Custom search
                $(this.$["table-search"]).on('input', function() {
                    table.search(this.value).draw();
                });
            },

            addClickHandling: function() {
                var self = this;
                
                $(".detail-btn", self).each(function() {
                    $(this).on('click', function() {
                        var rowPosition = $("#merchants-table", self).dataTable().fnGetPosition($(this).closest('tr')[0]);
                        var rowData = $("#merchants-table", self).dataTable().fnGetData(rowPosition);
                        window.location.hash = "#/merchant/id:" + rowData[0];
                    })
                });
            }
        });
    </script>
</dom-module>