<dom-module id="business-report-service">
    <template>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "business-report-service",

            behaviors: [alloy.ajaxService],

            baseUrl: window.config.services.businessReport,

            fetch: function () {
                console.warn("businessReportService.fetch is deprecated in favor of businessReportService.create");
                this.create.apply(this, arguments);
            },

            /**
             * Response body from businessReportService.create
             * @typedef {Object} BusinessReport
             */

            /**
             * Create a business report
             * @param {string|number} taxId
             * @param {string} entityId
             * @param {string} entityType
             * @returns {Promise<BusinessReport>}
             */
            create: function (taxId, entityId, entityType) {
                var self = this;
                var url = [entityType, entityId, taxId].join("/");

                return self.$.http.post(url, {}, this.baseUrl);
            }

        });
    </script>
</dom-module>