<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/list-pagination.html"></html-import>
<html-import html-href="ui-elements/censor-ssn.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<dom-module id="csr-applicant-info">
    <style>
        .dl-horizontal dt {
            margin-right: 20px;
            width: 100px;
            text-align: left;
        }
        .dl-horizontal dd {
            margin-left: 0;
        }
        dl {
            margin-bottom: 0;
        }
        .applicant-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .applicant-row:not(:last-of-type) {
            border-bottom: 1px lightgray solid;
        }
        .col-xs-4, .col-xs-3 {
            min-height: 180px;
        }
        .btn-sm {
            margin-left: 15px
        }
        .selected-items {
            margin: 0 auto;
            width: 50%;
            display: inline-block;
            text-align: center;
            position: relative;
            bottom: 5px;
        }
        .pagination-custom {
            bottom: 0;
            position: absolute;
        }
        .fa {
            -webkit-user-select: none; /* Chrome/Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+ */
        }
        .email {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .email:hover:before {
            top: 65px;
            background: #333;
            background: rgba(0,0,0,.8);
            border-radius: 5px;
            color: #fff;
            content: attr(name);
            padding: 5px 15px;
            position: absolute;
            z-index: 98;
            width: 220px;
        }
        .no-ellipse.email:hover:before {
            display: none;
        }
        .applicant-row {
            height: 180px;
        }
    </style>
    <template>
        <template id="applicantList" is="dom-repeat" items="{{applicantList}}" as="applicant">
            <div class="applicant-row">
                <div class="col-xs-4">
                    <dl class="dl-horizontal">
                        <dt>First Name</dt><dd>{{applicant.firstName}}</dd>
                        <dt>Last Name</dt><dd>{{applicant.lastName}}</dd>
                        <dt>Middle Initial</dt><dd>{{applicant.middleInitial}}</dd>
                        <dt>Date of Birth</dt><dd>{{formatDate(applicant.dateOfBirth)}}</dd>
                        <dt>SSN</dt><dd><censor-ssn full-ssn="{{applicant.ssn}}"></censor-ssn></dd>
                        <dt>E-mail</dt><dd class="email" name="{{applicant.email}}">{{applicant.email}}</dd>
                    </dl>
                </div>
                <div class="col-xs-3">
                    <template is="dom-repeat" items="{{applicant.addresses}}" as="address">
                        <dl hidden$="{{!selectedAddress(address, applicant.addresses, applicant.addresses._selectedAddress)}}" class="dl-horizontal">
                            <h4 hidden$="{{!address.isPrimary}}">Primary Address</h4>
                            <h4 hidden$="{{address.isPrimary}}">Address</h4>
                            <dd>{{address.line1}}</dd>
                            <dd>{{address.line2}}</dd>
                            <dd>{{address.city}}</dd>
                            <dd>{{address.state}}</dd>
                            <dd>{{address.zipCode}}</dd>
                        </dl>
                    </template>
                    <div class="pagination-custom">
                        <list-pagination list-items="{{applicant.addresses}}"
                        selected-item="{{applicant.addresses._selectedAddress}}"></list-pagination>
                    </div>
                </div>
                <div class="col-xs-3">
                    <template is="dom-repeat" items="{{applicant.phoneNumbers}}" as="phone">
                        <dl hidden$="{{!selectedPhone(phone, applicant.phoneNumbers, applicant.phoneNumbers._selectedPhone)}}">
                            <h4 hidden$="{{!phone.isPrimary}}">Primary Phone Number</h4>
                            <h4 hidden$="{{phone.isPrimary}}">Phone Number</h4>
                            <dd>{{capitalize(phone.type)}}</dd>
                            <dd>{{formatPhone(phone.number)}}</dd>
                        </dl>
                    </template>
                    <div class="pagination-custom">
                        <list-pagination list-items="{{applicant.phoneNumbers}}"
                        selected-item="{{applicant.phoneNumbers._selectedPhone}}"></list-pagination>
                    </div>
                </div>
                <!--<div class="btn btn-primary btn-sm" on-click="modifyCustomerInfo">Modify</div>-->
                <div class="btn btn-primary btn-sm" on-click="dynamoLoad">Modify</div>
            </div>
        </template>
        <alloy-format id="format"></alloy-format>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "csr-applicant-info",
            behaviors: [eventHub],
            attached : function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }

                var parentDataName = self.config.configuration.parentDataName;
                self.publish("dependent.ready", {
                    dependencies: [
                        {
                            context: self,
                            name: "data",
                            parentProp: parentDataName
                        }
                    ]
                });
            },
            observers: [
                "initList(data)",
            ],
            init: function() {
                return function() {}
            },
            initList : function(data) {
                var self = this;

                if (!data) {
                    return;
                }

                self.applicantList = [data.applicants[0]];

                if (self.applicantList) {
                    for (var i = 0; i < self.applicantList.length; i++) {
                        var applicant = self.applicantList[i];
                        applicant.addresses = applicant.addresses || [];
                        applicant.phoneNumbers = applicant.phoneNumbers || [];
                        applicant.addresses._selectedAddress = 0;
                        applicant.phoneNumbers._selectedPhone = 0; 
                        // applicant.addresses = self.sortByPrimary(applicant.addresses);
                        // applicant.phoneNumbers = self.sortByPrimary(applicant.phoneNumbers);
                    }
                }
                self.async(function() {
                    $(self.$$(".email")).each(function() {
                        var $this = $(this);
                        $this.on("mouseenter", function() {
                            var $this = $(this);
                            if (this.offsetWidth < this.scrollWidth) {
                                $this.removeClass("no-ellipse");
                                var text = this.innerHTML;
                                $this.attr("name", text);
                            } else {
                                $this.addClass("no-ellipse");
                            }
                        })
                    })
                });
            },
            properties : {
                data: {
                    type: Object
                }
            },
            modifyCustomerInfo : function(e) {
                var applicant = e.model.applicant;
                this.$.hub.publish("activity:select",
                    {
                        activity: "modify-customer-info",
                        data: applicant
                    });
            },
            currentItemNumber : function(item) {
                return item + 1;
            },
            sortByPrimary : function(list) {
                var result = [];
                var firstItem;
                for (var i = 0; i < list.length; i++) {
                    var listItem = list[i];
                    if (listItem.isPrimary) {
                        firstItem = listItem;
                    } else {
                        result.push(listItem);
                    }
                }
                
                result.unshift(firstItem);
                var selected = Object.keys(list)[list.length];
                result[selected] = list[selected];
                return result;
            },
            selectedAddress : function(item, collection) {
                return collection.indexOf(item) === collection._selectedAddress;
            },
            selectedPhone : function(item, collection) {
                return collection.indexOf(item) === collection._selectedPhone;
            },
            previousAddress : function(e) {
                var selectedAddress = e.model.applicant.addresses._selectedAddress; 
                if (selectedAddress === 0) { return }
                e.model.set('applicant.addresses._selectedAddress', selectedAddress - 1);
            },
            nextAddress : function(e) {
                var selectedAddress = e.model.applicant.addresses._selectedAddress;
                if (selectedAddress === e.model.applicant.addresses.length - 1) { return }
                e.model.set('applicant.addresses._selectedAddress', selectedAddress + 1);
            },
            previousPhone : function(e) {
                var selectedPhone = e.model.applicant.phoneNumbers._selectedPhone; 
                if (selectedPhone === 0) { return }
                e.model.set('applicant.phoneNumbers._selectedPhone', selectedPhone - 1);
            },
            nextPhone : function(e) {
                var selectedPhone = e.model.applicant.phoneNumbers._selectedPhone; 
                if (selectedPhone === e.model.applicant.phoneNumbers.length - 1) { return }
                e.model.set('applicant.phoneNumbers._selectedPhone', selectedPhone + 1);
            },
            capitalize : function(string) {
                if (typeof string !== "string") { return }
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },
            formatPhone: function(phone) {
                var phone = phone.replace(/ /g, "");
                return "(" + phone.slice(0, 3) + ") " + phone.slice(3, 6) + "-" + phone.slice(-4);
            },
            formatDate: function(date) {
                return this.$.format.formatDate(date);
            },
            dynamoLoad: function(e) {
                var applicant = e.model.applicant;
                this.$.hub.publish("activity:dynamo",
                {
                    path: "activities/modify-applicant.html",
                    title: "Modify Applicant Information",
                    properties: applicant
                });
            }
        })
    </script>
</dom-module>