<dom-module id="applications-tab">
    <template>
        <style>
            .wrapper {
                padding: 15px;
            }
            .dl-horizontal dt {
                margin-right: 20px;
                width: 125px;
                text-align: left;
            }
            .dl-horizontal dd {
                margin-left: 0;
            }
        </style>
        <div class="wrapper">
            <div class="row">
                <div class="col-xs-4">
                    <dl class="dl-horizontal">
                        <dt>Home Ownership</dt>
                        <dd>{{primaryApplicant.homeOwnership}}</dd>
                        <dt>Stated Income</dt>
                        <dd>${{formatCurrency(primaryApplicant.statedGrossAnnualIncome)}}</dd>
                        <dt>Verified Income</dt>
                        <dd>${{mockIncome(primaryApplicant.statedGrossAnnualIncome)}}</dd>
                    </dl>
                </div>
                <div class="col-xs-4">
                    <dl class="dl-horizontal">
                        <dt>Empl Status</dt>
                        <dd>{{primaryApplicant.employmentStatus}}</dd>
                        <dt>Employer</dt>
                        <dd>{{primaryApplicant.currentEmployer.name}}</dd>
                        <dt>Address</dt>
                        <dd>{{formatAddress(primaryApplicant.currentEmployer.address)}}</dd>
                        <dt>Empl Length</dt>
                        <dd>{{primaryApplicant.currentEmployer.lengthOfEmploymentInMonths}} Months</dd>
                    </dl>
                </div>
                <div class="col-xs-4">
                    <dl class="dl-horizontal">
                        <dt>Application Date</dt>
                        <dd>{{formatDate(application.submittedDate.time)}}</dd>
                        <dt>Expire</dt>
                        <dd>{{mockExpire(application.submittedDate.time)}}</dd>
                        <dt>Last Activity Date</dt>
                        <dd>{{formatDate(application.submittedDate.time)}}</dd>
                        <dt>Source</dt>
                        <dd>{{application.source.id}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "applications-tab",
            behaviors: [eventHub],
            observers: ["setPrimaryApplicant(application)"],
            setPrimaryApplicant: function(application) {
                this.primaryApplicant = application.applicants.filter(function(applicant) {
                    return applicant.isPrimary;
                })[0];
            },
            mockIncome: function(income) {
                return this.formatCurrency(income + Math.floor((Math.random() * 1000)));
            },
            formatCurrency: function(currency) {
                return currency.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            mockExpire: function(date) {
                var expireDate = new Date();
                expireDate.setDate(new Date(date).getDate() + 5);
                return this.formatDate(expireDate);
            },
            formatDate: function(date, isLong) {
                if (!date) {
                    return "";
                }
                if (isLong) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY")
                }
                return moment.tz(date, window.tenant.timezone).format("MMM D, YYYY");
            },
            formatAddress: function(address) {
                return address.line1 + 
                    (address.city ? (address.city + ",") : "") + 
                    (address.state || "");
            },
            attached: function() {
                var self = this;

                var parentDataName = self.config.configuration.parentDataName;
                self.publish("dependent.ready", {
                    dependencies: [
                        {
                            context: self,
                            name: "application",
                            parentProp: parentDataName
                        }
                    ]
                });
            }
            
        });
    </script>
</dom-module>