<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<style>
    .payments-tab.wrapper {
        padding: 20px;
        padding-right: 20px !important;
    }
    .header {
        margin-top: 20px;
        margin-bottom: 30px !important;
    }
    .header-right {
        position: absolute;
        right: 20px;
    }
    .btn.selected {
        background-color: #88bf40;
        border: 1px #88bf40 solid;
    }
    .btn.selected:hover:active {
        color: white;
        background-color: #578C11;
        border-color: #4D7B0F;
    }
    #table-search {
        width: 250px;
    }
    .header .input-group {
        width: 1px;
    }
    .inline-block {
        display: inline-block;
    }
    #length-selector {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
    label {
        font-weight: normal;
    }
    .tags {
        margin-right: 10px;
    }
    tr.cash-flow-tab td {
        text-align: right;
    }
    tr.cash-flow-tab:last-of-type {
        font-weight: bold;
    }
</style>
<dom-module id="cash-flow-tab">
    <template>
            <div class="header">
                <span class="header-left">
                    <label>
                        <select name="table_length" id="length-selector" class="form-control">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> payments per page
                    </label>
                </span>
                <span class="header-right">
                    <div class="inline-block">
                        <div class="input-group">
                            <input type="text" id="table-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </span>
            </div>

            <div hidden$="{{!hasAlert}}" id="status-message" class="animated fadeIn well">No Bank Accounts found</div>
            
            <div hidden$="{{hasAlert}}">
                <table id="cashFlow-table" class="table hover issue-tracker" width="100%">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "cash-flow-tab",
            attached: function() {
                var self = this;
                
                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            properties: {
                hasAlert: {
                    type: Boolean,
                    value: true
                }
            },
            init: function() {
                var self = this;
                return function() {
                    self.getUser()
                        .then(function() {
                            return self.getMerchantId();
                        })
                        .then(function() {
                            return self.getCashflow();
                        })
                        .then(function() {
                            self.initializeDataTable();
                        });
                }
            },

            getUser: function() {
                var self = this;
                return this.$.http.get("/", window.config.services.security)
                    .then(function(result) {
                        self.user = result;
                    })
            },
            getMerchantId: function() {
                var self = this;
                var email = self.user.result.email;
                var url = "/" + email + "/email";
                return this.$.http.get(url, window.config.services.merchant)
                    .then(function(result) {
                        self.merchant = result;
                    });
            },

            getCashflow: function() {
                var self = this;

                var url = ["", "Analysis", ":id", "application"].join("/");

                return self.$.http.get(url, window.config.services.cashflow, function(applications) {

                    var applicationRows = applications.map(function(application) {
                        return self.convertToRow(application);
                    });

                    if (applicationRows && applicationRows.length) {
                        var totalBeginning = 0;
                        var totalDeposit = 0;
                        var totalWithdrawal = 0;
                        var endingBalance = "";
                        var totalNSF = 0;
                        var totalNegative = 0;
                        var averageDaily = 0;

                        for (var i = 0; i < applications.length; i++) {
                            var application = applications[i];
                            totalBeginning += application.beginningBalance;
                            totalDeposit += application.totalDepositAmount;
                            totalWithdrawal += application.totalWithdrawalAmount;
                            totalNSF += application.totalNonSufficientFundFees;
                            totalNegative += application.totalNegativeDays;
                            averageDaily += application.averageDailyBalance
                        }

                        averageDaily = averageDaily / applications.length;

                        self.cumulativeRow = [
                            "",
                            self.formatCurrency(totalBeginning),
                            self.formatCurrency(totalDeposit),
                            self.formatCurrency(totalWithdrawal),
                            endingBalance,
                            totalNSF,
                            totalNegative,
                            self.formatCurrency(averageDaily),
                        ];

                        self.hasAlert = false;;
                    }

                    self.applications = applicationRows;
                });
            },
            convertToRow: function(bank) {
                return [
                    bank.bankName,
                    this.formatCurrency(bank.beginningBalance),
                    this.formatCurrency(bank.totalDepositAmount),
                    this.formatCurrency(bank.totalWithdrawalAmount),
                    bank.endingBalance,
                    bank.totalNonSufficientFundFees,
                    bank.totalNegativeDays,
                    this.formatCurrency(bank.averageDailyBalance)
                ]
            },
            formatCurrency: function(currency) {
                return currency.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            initializeDataTable: function() {
                var self = this;

                var table = self.table = $("#cashFlow-table", self).DataTable({
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    data: self.applications,
                    columns: [
                        { title: "Bank" },
                        { title: "Beginning Balance ($)" },
                        { title: "Deposits ($)" },
                        { title: "Withdrawals ($)" },
                        { title: "Ending Balance ($)" },
                        { title: "NSF" },
                        { title: "Neg Days" },
                        { title: "Avg Daily Balance ($)" }, 
                    ],
                    columnDefs: [
                        {
                            targets: [0],
                            render: function(data, type, rowData, meta) {
                                if (rowData[0] && rowData[0].toLowerCase() === "cumulative") {
                                    return "<b>Cumulative</b>";
                                }
                                return data;
                            }
                        }
                        // {
                        //     targets: [8],
                        //     orderable: false,
                        //     render: function(data, type, rowData, meta) {
                        //         return "<span class=\"btn btn-primary btn-xs detail-btn\">Details</span>"
                        //     }
                        // }
                    ]
                });
                
                if (self.cumulativeRow) {
                    self.cumulativeRow.forEach(function(value) {
                        $("tfoot tr", self).append("<td>" + value + "</td>")
                    });
                }
                
                self.addClickHandling();
                
                // Create and render buttons
                new $.fn.dataTable.Buttons( table, {
                    buttons: ['copyHtml5', 'csvHtml5',
                        {
                            extend: 'excelHtml5',
                            title: 'payments',
                            extension: '.xlsx'
                        }, 'pdfHtml5', 'print'
                    ]
                })    
                
                // Tag Filters
                $(".tags span:not(#show-all)", this).on('click', function() {
                    if ($(this).hasClass("selected")) {
                        $(this).removeClass("selected");
                        $("#show-all", self).addClass("selected");
                        table.columns().search('').draw()
                    } else {
                        $(".tags span", self).each(function() {
                            $(this).removeClass("selected");
                        })
                        $(this).addClass("selected");
                        table.columns(2).search($(this).text()).draw()
                    }
                });
                $(this.$["show-all"]).on('click', function() {
                    $(".tags span", self).each(function() {
                        $(this).removeClass("selected");
                    })
                    $(this).addClass("selected");
                table.columns().search('').draw()
                });
                
                // Custom Length Selector
                $(this.$["length-selector"]).on("change", function() {
                    table.page.len(this.value).draw();
                })
                // Custom search
                $(this.$["table-search"]).on('input', function() {
                    table.search(this.value).draw();
                });
            },
            addClickHandling: function() {
                var self = this;
                
                $(".detail-btn", self).each(function() {
                    $(this).on('click', function() {
                        var rowPosition = $("#cashFlow-table", self).dataTable().fnGetPosition($(this).closest('tr')[0]);
                        var rowData = $("#cashFlow-table", self).dataTable().fnGetData(rowPosition);
                        var data = self.convertRowDataToInstallment(rowData);
                        
                        self.$.hub.publish("activity:dynamo",
                        {
                            path: "application/activities/cash-flow.html",
                            title: "Cash Flow"
                        });
                    })
                });
            },
            formatDate: function(date) {
                return this.$.format.formatDate(date);
            },
            capitalize: function(string) {
                return this.$.format.capitalize(string);
            },
            formatMoney : function(value){
                if(typeof(value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },
            resetTab : function() {
                this.init()();
            },
            convertRowDataToInstallment: function(rowData) {
                return {
                    date: rowData[0],
                    amount: rowData[1],
                    status: rowData[2],
                    type: rowData[3],
                    method: rowData[4],
                    paymentId: rowData[6]
                }
            }
        })
    </script>
</dom-module>