<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/tables/index.html"></html-import>
<style>
    .header {
        margin-bottom: 10px;
    }
    .header-right {
        position: absolute;
        right: 20px;
    }
    .btn.selected {
        background-color: #88bf40;
        border: 1px #88bf40 solid;
    }
    .btn.selected:hover:active {
        color: white;
        background-color: #578C11;
        border-color: #4D7B0F;
    }
    #table-search {
        width: 250px;
    }
    .header .input-group {
        width: 1px;
    }
    .inline-block {
        display: inline-block;
    }
    #length-selector {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
    label {
        font-weight: normal;
    }
    .tags {
        margin-right: 10px;
    }
    tr td:nth-of-type(6) {
        text-align: center;
    }
    .action-button {
        min-width: 56px;
    }
    .well {
        margin-bottom: 0;
        height: 200px;
        line-height: 150px;
        text-align: center;
    }
</style>
<dom-module id="alerts-tab">
    <template>
        <alloy-table id="table" hidden$="{{tableIsEmpty}}" table-config="{{tableConfig}}"></alloy-table>
        <div class="well" hidden$="{{!tableIsEmpty}}">
            No Alerts
        </div>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "alerts-tab",
            attached: function() {
                var self = this;
                
                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                    $.when(self.getAlerts(), self.getTags())
                        .then(function(alerts, tags) {
                            alerts = self.formatAlerts(alerts[0]);
                            self.checkIfTableEmpty(alerts);
                            tags = tags[0].map(function(tag) {
                                return self.capitalize(tag);
                            });
                            self.setTableConfig(alerts, tags);
                        });
                }
            },
            formatAlerts: function(alerts) {
                var self = this;

                return alerts.map(function(alert) {
                    return [
                        self.formatDate(alert.timestamp.time),
                        self.capitalize(alert.name),
                        self.capitalize(alert.description),
                        self.capitalize(alert.status),
                        alert.tags.map(function(tag) {
                            return self.capitalize(tag);
                        }),
                        alert.status,
                        alert.id
                    ]
                })
            },
            capitalize: function(string) {
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },
            formatDate: function(date, isLong) {
                if (!date) {
                    return "";
                }
                if (isLong) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY")
                }
                return moment.tz(date, window.tenant.timezone).format("MMM D, YYYY");
            },
            getAlerts: function() {
                return this.$.http.get("/:id/all", window.config.services.alertEngine);
            },
            getTags: function() {
                return this.$.http.get("/:id/tags", window.config.services.alertEngine);
            },
            setTableConfig: function(alerts, tags) {
                var self = this;
                self.tableConfig = {
                    columns: [
                        { title: 'Date' },
                        { title: 'Alert Name'},
                        { title: 'Description'},
                        { title: 'Status'},
                        { title: 'Tags'},
                        {},
                        { visible: false}
                    ],
                    data: alerts,
                    columnDefs: [
                        {
                            targets: [5],
                            orderable: false,
                            render: function(data, type) {
                                if (type === "display") {
                                    var buttonText = data.toLowerCase() === "active" ? "Dismiss" : "Undo";
                                    return '<span class="btn btn-primary btn-xs ' + buttonText.toLowerCase()
                                        + ' action-button">' + buttonText + '</span>'
                                }
                                return data;
                            }
                        },
                        {
                            targets: [4],
                            render: function(data, type) {
                                if (type === "display") {
                                    var tagSpans = "";
                                    data.forEach(function(tag) {
                                        tagSpans += '<span class="btn btn-default btn-xs tag">' + tag +'</span>';
                                    });
                                    return tagSpans;
                                }
                                return data;
                            }
                        }
                    ],
                    addClickHandling: self.addClickHandling.bind(self),
                    pageLabel: "alerts",
                    tags: {
                        column: 4,
                        values: tags
                    },
                    options: {
                        column: 3,
                        values: ["Active", "Dismissed"]
                    }
                };
            },
            addClickHandling: function() {
                var self = this;

                $('.dismiss.action-button', self).each(function() {
                    $(this).click(function() {
                        var table = self.$$("#table");
                        var row = $(this).closest('tr')[0];
                        var rowData = table.getData(row);

                        var actionId = rowData[rowData.length - 1];
                        var url = "/:id/" + actionId + "/dismiss";

                        self.$.http.post(url, {}, window.config.services.alertEngine)
                            .then(function() {
                                self.resetTable();
                            });
                    });
                });
                $('.undo.action-button', self).each(function() {
                    $(this).click(function() {
                        var table = self.$$("#table");
                        var row = $(this).closest('tr')[0];
                        var rowData = table.getData(row);

                        var actionId = rowData[rowData.length - 1];
                        var url = "/:id/" + actionId + "/dismiss/undo";
                        self.$.http.post(url, {}, window.config.services.alertEngine)
                            .then(function() {
                                self.resetTable();
                            });
                    });
                });
            },
            resetTable: function() {
                var self = this;

                $.when(self.getAlerts(), self.getTags())
                    .then(function(alerts, tags) {
                        alerts = alerts[0];
                        tags = tags[0].map(function(tag) {
                            return self.capitalize(tag);
                        });
                        self.checkIfTableEmpty(alerts);
                        self.set("tableConfig.tags.values", tags);
                        alerts = self.formatAlerts(alerts);
                        self.$$("#table").reloadWithData(alerts);
                    });
            },
            checkIfTableEmpty: function(alerts) {
                this.tableIsEmpty = alerts.length ? false : true;
            }
        });
    </script>
</dom-module>