<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/drop-zone.html"></html-import>
<html-import html-href="ui-elements/tables/index.html"></html-import>
<html-import html-href="ui-elements/dropdown-list.html"></html-import>
<html-import html-href="ui-elements/dropdown-element.html"></html-import>
<style>
    .well {
        margin-bottom: 0;
        height: 200px;
        line-height: 150px;
        text-align: center;
    }
    .header {
        margin-bottom: 10px;
    }
    .header-right {
        position: absolute;
        right: 20px;
    }
    .btn.selected {
        background-color: #88bf40;
        border: 1px #88bf40 solid;
    }
    .btn.selected:hover:active {
        color: white;
        background-color: #578C11;
        border-color: #4D7B0F;
    }
    #table-search {
        width: 250px;
    }
    .header .input-group {
        width: 1px;
    }
    .inline-block {
        display: inline-block;
    }
    #length-selector {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
    label {
        font-weight: normal;
    }
    tr td:nth-of-type(4) {
        text-align: center;
    }
    .action-button {
        min-width: 56px;
    }
    #status-message {
        margin-bottom: 0;
        height: 200px;
        line-height: 150px;
        text-align: center;
    }
</style>
<dom-module id="document-manager">
    <template>

        <template is="dom-if" if="{{target}}">
            <drop-zone id="document-drop"
                submit-target="{{target}}"
                file-reference="{{fileReference}}"
                auto-process>
                <div hidden$="{{tableIsEmpty}}">
                    <alloy-table id="table" table-config="{{tableConfig}}"></alloy-table>
                </div>
                <div class="well" hidden$="{{!tableIsEmpty}}">
                    No documents added
                </div>
            </drop-zone>
        </template>

        
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "document-manager",
            behaviors: [eventHub],
            attached: function() {
                var self = this;
                
                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            properties: {
                hasAlert: {
                    type: Boolean,
                    value: false
                }
            },
            init: function() {
                var self = this;
                var params = this.$.url.getParams();

                self.entityId = params.id;
                self.entity = this.config.configuration.entityType;
                self.subscribe("document:upload", function() {
                    self.resetTable.call(self);
                });
                self.subscribe("documents.updated", function() {
                    self.resetTable.call(self);
                });
                return function() {
                    self.target = "/" + self.config.configuration.entityType + "/" + self.entityId;
                    self.getDocuments()
                        .then(function(documents) {
                            tags = self.getTags(documents);
                            documents = self.formatDocuments(documents);
                            self.checkIfEmptyTable(documents);
                            self.setTableConfig(documents, tags);
                        });
                }
            },
            formatDocuments: function(documents) {
                var self = this;
                return documents.map(function(doc) {
                    return [
                        doc.fileName,
                        doc.tags ? doc.tags.map(function(tag) {
                            return self.capitalize(tag);
                        }) : [],
                        self.formatDate(doc.timestamp),
                        "",
                        doc.id
                    ]
                })
            },
            structurizeDocument: function(row) {
                return {
                    name: row[0],
                    tags: row[1],
                    date: row[2],
                    id: row[4]
                }
            },
            capitalize: function(string) {
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },
            formatDate: function(date, isLong) {
                if (!date) {
                    return "";
                }
                return moment.tz(date, window.tenant.timezone).format("MMM D YYYY, h:mm a");
            },
            getDocuments: function() {
                return this.$.http.get("/" + this.entity + "/:id", window.config.services.documentManager);
            },
            getTags: function(documents) {
                var self = this;
                var tags = []; 
                
                documents.forEach(function(document) {
                    if (Array.isArray(document.tags)) {
                        tags.push(document.tags);
                    }
                });

                if (tags.length) {
                    tags = tags.reduce(function(prev, curr) {
                        return prev.concat(curr);
                    }).map(function(tag) {
                        return self.capitalize(tag);
                    });
                }
                return _.uniq(tags);
            },
            setTableConfig: function(documents, tags) {
                var self = this;
                self.tableConfig = {
                    columns: [
                        { title: 'Document Name' },
                        { title: 'Tags'},
                        { title: 'Date'},
                        {},
                        { visible: false}
                    ],
                    data: documents,
                    columnDefs: [
                        {
                            targets: [3],
                            orderable: false,
                            render: function(data, type) {
                                if (type === "display") {
                                    var buttonText = data.toLowerCase() === "active" ? "Dismiss" : "Undo";
                                    return '<dropdown-list>'
                                    + '<dropdown-element class="replace-doc">Replace</dropdown-element>'
                                    + '<dropdown-element class="download-doc">Download</dropdown-element>'
                                    + '<dropdown-element class="tag-doc">Change Tag</dropdown-element>'
                                    + '<dropdown-element class="delete-doc">Delete</dropdown-element>'
                                    + '</dropdown-list>';
                                }
                                return data;
                            }
                        },
                        {
                            targets: [1],
                            render: function(data, type) {
                                if (type === "display") {
                                    var tagSpans = "";
                                    data.forEach(function(tag) {
                                        tagSpans += '<span class="btn btn-default btn-xs tag">' + tag +'</span>';
                                    });
                                    return tagSpans;
                                }
                                return data;
                            }
                        }
                    ],
                    addClickHandling: self.addClickHandling.bind(self),
                    pageLabel: "documents",
                    tags: {
                        column: 1,
                        values: tags
                    }
                };
            },
            addClickHandling: function() {
                var self = this;
                var actions = ["replace", "download", "tag", "delete"];
                actions.forEach(function(action) {
                    $("." + action + "-doc").unbind().click(function() {
                        self.handleActionClick(action, this);
                    });
                });
            },
            handleActionClick: function(action, button) {
                var table = this.$$("#table");
                var row = $(button).closest('tr')[0];
                var rowData = table.getData(row);
                var document = this.structurizeDocument(rowData);

                return this[action + "Doc"](document, this.entity, this.entityId);
            },
            downloadDoc: function(document, entity, entityId) {
                var base = window.config.services.documentManager;
                var url = [base, entity, entityId, document.id, "download"].join("/");

                window.location = url;
            },
            tagDoc: function(document, entity, entityId) {
                this.$.hub.publish("activity:dynamo",
                {
                    path: "activities/add-document-tag.html",
                    title: "Add Tags",
                    properties: {
                        document: document,
                        entity: entity,
                        entityId: entityId
                    }
                });
            },
            replaceDoc: function(document, entity, entityId) {
                this.$.hub.publish("activity:dynamo",
                {
                    path: "activities/replace-document.html",
                    title: "Replace Document",
                    properties: {
                        document: document,
                        entity: entity,
                        entityId: entityId,
                        target: this.target
                    }
                });
            },
            deleteDoc: function(document, entity) {
                var self = this;
                var url = "/" + entity + "/:id/" + document.id;

                return this.$.http.delete(url, {}, window.config.services.documentManager)
                .done(function() {
                    self.resetTable();
                });;
            },
            resetTable: function() {
                var self = this;
                self.getDocuments()
                    .then(function(documents) {
                        self.set("tableConfig.tags.values", self.getTags(documents));
                        documents = self.formatDocuments(documents);
                        self.checkIfEmptyTable(documents);
                        self.$$("#table").reloadWithData(documents);
                    });
            },
            checkIfEmptyTable: function(documents) {
                this.tableIsEmpty = documents.length ? false : true;
            }
        });
    </script>
</dom-module>