<html-import html-href="dtm-application/loan-offer/additional-qualified-amounts.html"></html-import>
<dom-module id="csr-offers-tab">
    <template>
        <style>
            .bg-blue-default {
                background-color: #03426b;
            }

            .bg-blue-light {
                background-color: #0d6c96;
            }

            .table-header {
                padding: 5px 10px 5px 10px;
                color: white;
            }

            table-header h4 {
                padding: 0;
                padding-left: 10px;
            }

            .header {
                font-weight: 800;
                line-height: 1.5em;
                color: #03426b;
                margin-bottm: 1em;
            }

            .padding-left-0 {
                padding-left: 0;
            }

            .padding-right-0 {
                padding-right: 0;
            }
        </style>

        <http-request id="http"></http-request>
        <div class="row">

            <template is="dom-repeat" items="{{ additionalOffers }}" as="offerGroup">
                <div class="col-sm-6 padding-right-0">
                    <div class="bg-blue-default table-header">
                        <h4>{{ offerGroup.group }} Months</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Loan Amount</th>
                            <th>Interest Rate</th>
                            <th>Monthly Payment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template is="dom-repeat" items="{{ offerGroup.data }}">
                            <tr>
                                <td>
                                    <label>
                                        <input
                                            type="radio"
                                            name="additionalOffers"
                                            checked$="{{ item.isPreferred }}"
                                            value="{{ index }}"
                                            id="{{ offerGroup.group}}_{{ item.id }}"
                                            on-click="setSelectedOffer">
                                    </label>
                                </td>
                                <td>
                                    {{ item.offerAmount }}
                                </td>
                                <td>
                                    {{ item.apr }}
                                </td>
                                <td>
                                    {{ item.paymentAmount }}
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
        
            </template>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button-secondary on-click="changeOffer">Change Offer</button-secondary>
                <button-secondary on-click="selectOffer">Select Offer</button-secondary>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "csr-offers-tab",
            observers: ["transformOffers(offers)"],
            behaviors: [eventHub],
            attached: function() {
                var self = this;

                var url = "/:id";

                self.$.http.get(url, window.config.services.offerEngine, function(offers) {
                    self.set("offers", offers);
                });
            },
            transformOffers: function (offers) {
                var additionalOffers = _(offers.offers)
                    .map(function (offer) {
                        if (offer.id === offers.preferred.toString()) {
                            offer.isPreferred = true;
                        }
                        return offer;
                    })
                    .groupBy(function (offer) { return offer.terms })
                    .map(function (v, k) {
                        return {
                            group: k,
                            data: v
                        }
                    })
                    .value();
                var selectedOffer = _.filter(offers.offers, 
                    function(offer) {
                        return offer.id === offers.preferred.toString();
                    })[0];
                this.set("selectedOffer", selectedOffer);
                this.set("additionalOffers", additionalOffers);
            },
            setSelectedOffer: function (e) {
                this.set("selectedOffer", e.model.item);
            },
            openActivity: function(path, title, props) {
                this.publish("activity:dynamo",
                    {
                        path: path,
                        title: title,
                        properties: props
                    });
            },
            changeOffer: function() {
                var path = "activities/change-offer.html";
                var title = "Change Offer";
                var properties = this.selectedOffer;
                this.openActivity(path, title, properties);
            },
            selectOffer: function() {
                this.publish("notification:show", {
                    type: "success",
                    message: "New Offer selected!"
                });
            }
            
        });
    </script>
</dom-module>