<dom-module id="borrower-app-header">
    <template>
        <style>
        </style>
        <h1>
            <strong>
                <span class="dropdown">
                    <span class="dropdown-toggle" id="applicationMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Application #174656
                        <i class="fa fa-angle-down"></i>
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="applicationMenu">
                        <li><a href="#">Application #174657</a></li>
                        <li><a href="#">Application #174658</a></li>
                        
                    </ul>
                </span>
            </strong>
            <span class="pull-right">Personal Loan</span>
        </h1>
    </template>
    <script>
        Polymer({
            is: "borrower-app-header"
            
        });
    </script>
</dom-module>