<dom-module id="borrower-progress">
    <template>
        <style>
            .progress-bar.progress-clear:last-of-type {
                border-left: 3px darkgrey solid;
            }
            .progress-bar:not(:first-of-type) {
                border-left: 3px white solid;
            }
            .progress-clear {
                background-color: transparent;
                animation: 0;
            }
            .ticks {
                display: block;
                height: 20px;
                margin-bottom: 20px;
            }
            .ticks span {
                position: absolute;
            }
            /* Tooltip container */
            .tooltip-progress {
                position: relative;
            }

            /* Tooltip text */
            .tooltip-progress .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
            
                /* Position the tooltip text - see examples below! */
                position: absolute;
                z-index: 1;
            }

            /* Show the tooltip text when you mouse over the tooltip container */
            .tooltip-progress:hover .tooltiptext {
                visibility: visible;
            }
            .tooltip-progress .tooltiptext {
                width: 250px;
                bottom: 150%;
                left: 50%; 
                margin-left: -125px; /* Use half of the width (120/2 = 60), to center the tooltip */
            }
        </style>
        <div class="tooltip-progress">
            <span class="tooltiptext">$920.00 due on Jul 15, 2018</span>
            <div class="progress progress-striped active">
                <template is="dom-repeat" items="{{bars}}" as="bar">
                    <div style$="{{bar.width}}" class$="{{bar.style}}"></div>
                </template>
            </div>
        </div>
        <div class="ticks">
            <span style="left: 0">Mar 15, 2016</span>
            <span style="left: 23%">Dec 15, 2016</span>
            <span style="left: 48%">Sept 15, 2017</span>
            <span style="left: 73%">Jul 15, 2018</span>
            <span style="right: 0">Mar 14, 2019</span>
        </div>
        <div class="text-center">
            <h3>You are on track!</h3>
        </div>
    </template>
    <script>
        Polymer({
            is: "borrower-progress",
            properties: {
                isLate: {
                    type: Boolean
                }
            },
            attached: function() {
                this.isLate = true;
                this.calculateBars();
            },
            setBarWidth: function(bar) {
                var style = "width: "
                if (typeof bar === "boolean") {
                    return bar ? style + "25%" : "";
                }
                return style + bar.filled + "%";
            },
            setBarStyle: function(bar) {
                var classes = "progress-bar ";
                if (typeof bar === "boolean") {
                    return bar ? classes + "progress-bar-success" : classes + "progress-clear";  
                }
                if (typeof bar === "object" && !Array.isArray(bar)) {
                    if (bar.success === true) {
                        return this.isLate ? classes + "progress-bar-danger" : classes + "progress-bar-success";  
                    }
                }
                return classes + "progress-clear";
            },
            calculateBars: function() {
                var BAR_PERCENTAGE = 25;
                var BAR_COUNT = 4;
                var percent = 62;

                var barsFilled = Math.floor(percent / BAR_PERCENTAGE);
                var remainingBars = BAR_COUNT - barsFilled;
                var remainingPercent = percent % BAR_PERCENTAGE;

                var barRepeater = [];

                for (var i = 0; i < barsFilled; i++) {
                    barRepeater.push(true);
                }

                if (remainingBars !== 0 && remainingPercent) {
                    var filledPercent = BAR_PERCENTAGE - remainingPercent;
                    remainingBars--;
                    barRepeater.push({
                        filled: filledPercent,
                        success: true
                    });
                    barRepeater.push({
                        filled: remainingPercent,
                        success: false
                    });
                }

                for (var j = 0; j < remainingBars; j++) {
                    barRepeater.push(false);
                }

                var barRepresentation = barRepeater.map(function(bar) {
                    return {
                        width: this.setBarWidth(bar),
                        style: this.setBarStyle(bar)
                    }
                }.bind(this));

                this.bars = barRepresentation;
            }
            
        });
    </script>
</dom-module>