<dom-module id="borrower-details">
    <template>
        <style>
        </style>
        <div class="row">
            <div class="col-lg-4">
                <dl class="dl-horizontal">
                    <dt>Loan Amount</dt>
                    <dd>$9,999.99</dd>
                    <dt>Term (months)</dt>
                    <dd>$36</dd>
                </dl>
            </div>
            <div class="col-lg-4">
                <dl class="dl-horizontal">
                    <dt>Rate</dt>
                    <dd>3.56%</dd>
                    <dt>Origination Date</dt>
                    <dd>Mar 22, 2016</dd>
                </dl>
            </div>
            <div class="col-lg-4">
                <dl class="dl-horizontal">
                    <dt>APR</dt>
                    <dd>4.5%</dd>
                    <dt>Last Payment Date</dt>
                    <dd>Mar 14, 2019</dd>
                </dl>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "borrower-details"
            
        });
    </script>
</dom-module>