<html-import html-href="borrower-summary/completed.html"></html-import>
<html-import html-href="borrower-summary/pending.html"></html-import>
<dom-module id="borrower-summary">
    <template>
        <style>
        </style>
        <template is="dom-if" if="{{applicationCompleted}}">
            <application-completed-summary></application-completed-summary>
        </template>
        <template is="dom-if" if="{{!applicationCompleted}}">
            <application-pending-summary></application-pending-summary>
        </template>
    </template>
    <script>
        Polymer({
            is: "borrower-summary",
            behaviors: [eventHub],
            attached: function() {
                var self = this;

                self.publish("borrower-status.get", function(applicationStatus) {
                    self.applicationCompleted = applicationStatus;
                });
            }
        });
    </script>
</dom-module>