<dom-module id="button-primary">
<template>
    <button
        class$="{{ getClass(block, xs) }}" disabled$="{{ disabled }}"><content></content></button>
    <style>

        .btn {
            height: 3em;
            line-height: 28px;
        }
        .btn-primary,
        .btn-primary:active,
        .btn-primary:focus,
        .btn-primary:hover,
        .btn-primary:hover:active,
        .btn-primary:active:focus {
            background-color: #03426b;
            color: #fff !important;
            border-color: #03426b;
        }
        .btn-primary[disabled]:hover,
        .btn-primary[disabled] {
            background-color: #999999;
            color: #fff !important;
            border-color: #999999;
        }
        .btn-xs {
            height: 22px;
            line-height: 18px;
        }
    </style>
</template>
<script>
    Polymer({
        is: "button-primary",

        properties: {
            disabled: {
                value: false,
                type: Boolean
            },
            block: {
                value: false,
                type: Boolean
            },
            xs: {
                value: false,
                type: Boolean
            }
        },

        getClass: function(block, xs) {
            var style = ["btn", "btn-primary"];

            if (this.block) {
                style.push("btn-block");
            }
            if (this.xs) {
                style.push("btn-xs");
            }
            return style.join(" ");
        }
    });
</script>
</dom-module>