<dom-module id="button-secondary">
<template>
    <span
        class$="{{ getClass(block, xs) }}"><content></content></span>
    <style>
        :host {
            display: inline-block;
        }
        .button-span {
            height: 3em;
            line-height: 28px;
            width: 100%;
        }
        .btn-{{type}} {
            background-color: #73b143;
            color: #fff;
            border-color: #73b143;
        }
        .btn-{{type}}:hover {
            color: #fff;
        }
        .btn-xs {
            height: 22px;
            line-height: 18px;
        }
    </style>
</template>
<script>
    Polymer({
        is: "button-secondary",
        properties: {
            type: {
                value: "primary",
                type: String
            },
            block: {
                value: false,
                type: Boolean
            },
            xs: {
                value: false,
                type: Boolean
            }
        },
        getClass: function(block, xs) {
            var classList = ["btn", "btn-secondary", "button-span"];
            if (block) {
                classList.push("btn-block");
            }
            console.log(xs)
            if (xs) {
                classList.push("btn-xs");
            }

            return classList.join(" ").trim();   
                
        }
    });
</script>
</dom-module>