<html-import html-href="ui-elements/panel-default.html"></html-import>
<html-import html-href="ui-elements/row-item.html"></html-import>
<dom-module id="panel-primary">
    <template>
        <panel-default id="panelDefaultChild" title-bar="{{ titleBar }}" icon="{{ icon }}" no-padding>
            <content></content>
        </panel-default>

        <style>
            :host {
                --panel-heading-color: #fff;
                --panel-heading-background-color: #03466b;
                --panel-heading-border-color: #03466b;
                --panel-border-color: #03466b;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "panel-primary",

            behaviors: [eventHub],

            properties: {
                titleBar: String,
                icon: String,
                noPadding: {
                    value: false,
                    type: Boolean
                }
            },

            attached: function () {
                var self = this;
                var panelDefaultChild = self.$.panelDefaultChild;

                // Set children's noPadding property
                if (panelDefaultChild.set) {
                    panelDefaultChild.set("noPadding", self.noPadding);
                } else {
                    this.subscribe("panelDefault.ready", function (payload) {
                        payload.origin.set("noPadding", self.noPadding);
                    }, panelDefaultChild);
                }
            }
        });
    </script>
</dom-module>