<dom-module id="row-item">
<template>
    <div class="row border-bottom white-bg">
        <content></content>
    </div>
</template>
<script>
    Polymer({
        is: "row-item",
    });
</script>
</dom-module>