<dom-module id="form-validators">
<template>

</template>
<script>
    Polymer({
        is: "form-validators",

        ssn: function(value) {
            var re = /^(\d{3}-?\d{2}-?\d{4}|XXX-XX-XXXX)$/g;
            var valid = re.test(cleanInput(value));

            if (!valid) {
                return "ssn";
            }

            return "";

            function cleanInput(input) {
                return input.replace(/-/g, "").slice(0, 9);
            }
        }
    });
</script>
</dom-module>