<dom-module id="form-factory">
<template>

</template>
<script>
    Polymer({
        is: "form-factory",

        behaviors: [eventHub],

        attached: function() {
            var self = this;
            self.publish(self.id + ".attached", { instance: self });
        },

        create: function(options) {
            if (!options.fields && Array.isArray(options.fields)) {
                console.error("Expected fields to be an array of strings.");
            }

            if (!options.validate && !_.isFunction(options.validate)) {
                console.error("Expected validate to be a function.");
            }

//            if (!_.isObject(options.validate())) {
//                console.error("Expected validation to return a rules Object");
//            }

            var formDefaults = {
                errors: {},
                state: {
                    isSubmitting: false,
                    submitCount: 0
                },
                data: {},
                fields: [],
                validate: null
            };

            _.each(options.fields, function(field) {
                formDefaults.data[field] = ""
            });

            return _.extend({}, formDefaults, options);
        }
    });
</script>
</dom-module>