<dom-module id="merchant-service">
    <template>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "merchant-service",

            behaviors: [eventHub, publishLifecycleEventsBehavior],

            properties: {
                baseUrl: {
                    value: window.config.services.merchant,
                    type: String
                },
                statuses: {
                    value: function () {
                        return {
                            IN_PROGRESS: "In Progress",
                            ACTIVE: "Active",
                            CANCELLED: "Cancelled",
                            DECLINED: "Declined"
                        }
                    }
                }
            },

            ready: function() {
                var self = this;
                var request = self.$.http._request;

                // TODO: This should really be done from alloy core
                self.$.http._request = function () {
                    return Promise.resolve(request.apply(self.$.http, arguments));
                };
            },

            ensureCompliantPromise: function (value) {
                console.warn("ensureCompliantPromise usage is deprecated in favor of decorating http-request._request with a standards compliant promise.");
                return Promise.resolve(value);
            },

            /**
             * Enroll a merchant. Endpoint is tailored to the information
             * entered on the first step of the merchant enrollment workflow
             */
            enroll: function (payload) {
                var self = this;
                return this.ensureCompliantPromise(
                        this.$.http.post(
                                "enroll/",
                                payload,
                                this.baseUrl
                        ))
                        .catch(function (error) {
                            return Promise.reject(error.responseJSON);
                        });
            },

            create: function (payload) {
                return ensureCompliantPromise(
                        this.$.http.post("", payload, this.baseUrl));
            },

            /**
             * Updates a merchant by retrieving a merchant by id, merging the
             * payload into the response body, and updating with merged payload
             * @param {string} id Id of the merchant of interest
             * @param {Object} payload Object of fields to update
             * @returns {Promise<U>}
             */
            safeUpdate: function (id, payload) {
                var self = this;
                return self.getById(id).then(function (res) {
                    var nextPayload = $.extend(res, payload);
                    return self.update(id, nextPayload);
                })
            },

            update: function (id, payload) {
                return this.$.http.put(id, payload, this.baseUrl);
            },

            getCurrentMerchant: function () {
                var self = this;
                return Promise
                        .resolve(this.$.http.get("/", window.config.services.security))
                        .then(function extractCurrentUserEmail(response) {
                            return response.result.email
                        })
                        .then(self.getByEmail.bind(self))
                        .catch(function(error) {
                            setTimeout(function() {
                                console.error(error);
                            });

                            return Promise.reject(error);
                        });

            },

            getById: function (id) {
                return this.$.http.get(id, this.baseUrl);
            },

            /**
             * Fetches a merchant by their email
             * @param {string} Merchant's email address
             * @returns {Promise<Object>}
             */
            getByEmail: function (email) {
                var url = [email, "email"].join("/");
                return this.$.http.get(url, this.baseUrl);
            },

            getAll: function () {
                return this.$.http.get("all", this.baseUrl);
            },

            remove: function (id) {
                return this.$.http.delete(id, {}, this.baseUrl);
            },

            /**
             * Extract the primary contact from a merchant object or the first contact if no primary is present
             * @param {Object} Merchant object
             * @returns {Object} Contact object
             */
            extractMerchantName: function (merchant) {
                var name;
                var primaryContact = _.filter(merchant.contacts, function (contact) {
                    return contact.isPrimary;
                })[0];

                if (primaryContact) {
                    name = primaryContact.name;
                } else if (merchant.contacts[0]) {
                    name = merchant.contacts[0].name;
                }

                return name;
            },

            /**
             * Accepts a fields object to map onto a payload
             * @param fields
             * @returns {{}}
             */
            mapFieldsToEnrollPayload: function (fields) {
                var payload = {};

                Object.keys(fields).forEach(function (key) {
                    var value = fields[key];

                    switch (key) {
                        case "firstName":
                        case "lastName":
                        case "jobTitle":
                            payload.contact = payload.contact || {};
                            payload.contact[key] = value;
                            return;
                        default:
                            payload[key] = value;
                            return;
                    }
                });

                return payload;
            },

            mapFieldsToPayload: function (fields) {
                var payload = {
                    contacts: [{}]
                };

                Object.keys(fields).forEach(function (key) {
                    switch (key) {
                        case "jobTitle":
                        case "first":
                        case "last":
                        case "phoneNumber":
                            payload.contacts[0] = fields[key];
                            return;
                        case "taxId":
                            payload.FederalTaxIdOrSSN = fields.taxId;
                            return;
                        default:
                            payload[key] = fields[key];
                            return;
                    }
                });

                return payload;
            }
        });
    </script>
</dom-module>