<dom-module id="window-service">
    <style>
    </style>
    <template>
    </template>
    <script>
        Polymer({
            is: "window-service",
            attached: function() {
                var hash = document.location.hash;
                if(hash != undefined && hash != ""){
                    var path = hash.replace(/#\//g, "");
                    var $params = path.split("/");
                    if($params.length > 0){
                        var parsedUrl = $params[0].replace(/-/g, '/') + ".html";
                        var params = {};
                        if ($params.length > 1) {
                            var attributes = $params.splice(1);
                            for (var i =0; i< attributes.length; i++) {
                            var pair = attributes[i].split(":");
                            if (pair.length == 2)
                                params[pair[0]] = pair[1];
                            }
                        }
                    }
                }
                this.params = params;
            }
        });
    </script>
</dom-module>