<dom-module id="address-form">
    <style>
        #zipCode {
            width: 20%;
        }
        #state {
            width: 15%;
        }
        #city {
            width: 68.5%;
        }
        .address-field {
            display: inline-block;
        }
    </style>
    <template>
        
        <div class="form-group">
            <h4><strong>Line 1</strong></h4>
            <input id="line1" type="text" value="{{addressInfo.line1::input}}" class="form-control">
            <h4><strong>Line 2</strong></h4>
            <input id="line2" type="text" value="{{addressInfo.line2::input}}" class="form-control">  
            <div id="city" class="address-field">
                <h4><strong>City</strong></h4>
                <input type="text" value="{{addressInfo.city::input}}" class="form-control">          
            </div>
            <div id="state" class="address-field">
                <h4><strong>State</strong></h4>
                <input type="text" value="{{addressInfo.state::input}}" class="form-control">          
            </div>
            <div id="zipCode" class="address-field">
                <h4><strong>ZIP Code</strong></h4>
                <input type="text" value="{{addressInfo.zipCode::input}}" class="form-control">
            </div>        
        </div>
        
        <span hidden$="{{!editingAddress}}" class="btn btn-xs btn-default" on-click="finishEditing">Edit</span>
        <span hidden$="{{editingAddress}}" class="btn btn-xs btn-default" on-click="finishEditing">Add</span>
        or <span><a href="javascript:;" on-click="stopEditing">Cancel</a></span>
    </template>
    <script>
        Polymer({
            is : "address-form",
            properties : {
                addressInfo: {
                    type: Object,
                    notify: true
                },
                editingAddress: Boolean
            },
            stopEditing : function() {
                this.set("addressInfo", false);
            },
            finishEditing : function() {
                this.fire("address-modified", this.addressInfo);
                this.stopEditing();
            }
        })
    </script>
</dom-module>