<dom-module id="lf-submit">
    <template>
        <div class="form-group">
            <button
                class="btn btn-primary"
                disabled$="[[ isDisabled ]]"
                on-tap="submitForm">
                Submit
            </button> or
            <span><a on-tap="cancelForm">Cancel</a></span>
        </div>
    </template>
    <script>
        Polymer({
            is: "lf-submit",

            properties: {
                // Event to be fired when submit button is clicked
                submitAction: {
                    type: String
                },

                // Event to be fired when cancel is clicked
                cancelAction: {
                    type: String
                },

                // Prevent submission flag
                isDisabled: {
                    type: Boolean
                }
            },

            submitForm: function() {
                this.fire(this.submitAction);
            },

            cancelForm: function() {
                this.fire(this.cancelAction);
            }
        });
    </script>
</dom-module>
