<dom-module id="lf-form-group">
    <style>
        .lf-animated {
            -webkit-animation-duration: .5s;
            animation-duration: .5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        @-webkit-keyframes attention {
            from {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
            85% {
                -webkit-transform: scale3d(1.02, 1.02, 1.02);
                transform: scale3d(1.02, 1.02, 1.02);
            }
            to {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }

        @keyframes attention {
            from {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
            85% {
                -webkit-transform: scale3d(1.02, 1.02, 1.02);
                transform: scale3d(1.02, 1.02, 1.02);
            }
            to {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }
        }

        .attention {
            -webkit-animation-name: attention;
            animation-name: attention;
        }
    </style>
    <template>
        <div class$="{{ className }}">
            <content></content>
        </div>
    </template>
    <script>
        Polymer({
            is: "lf-form-group",

            properties: {
                field: String,
                errors: Object,
                className: {
                    value: "form-group"
                }
            },

            observers: ["watch(errors.*)"],

            ready: function() {
                this.computeClass();
            },

            watch: function(errors) {
                errors = errors.base || errors;
                this.computeClass(errors);
            },

            computeClass: function(errors) {
                var self = this;
                var BASE_CLASS = "form-group ";
                var className;

                if (!errors || !this.field) {
                    className = BASE_CLASS;
                    return;
                }

                var ownErrors = this.getOwnErrors(errors, this.field);
                var hasErrors = this.hasErrors(ownErrors);

                if (hasErrors) {
                    className = BASE_CLASS + "has-error";
                } else {
                    className = BASE_CLASS;
                }

                this.set("className", className);
            },

            getOwnErrors: function(errors, field) {
                if (!field || !errors || !errors[field]) {
                    return [];
                }

                var ownErrors = Object.keys(errors[field]).filter(function(key) {
                    return errors[field][key] === true;
                });

                return ownErrors;
            },

            hasErrors: function(ownErrors) {
                if (!ownErrors || !ownErrors.length) {
                    return false;
                }

                return ownErrors.length > 0;
            }
        })
    </script>
</dom-module>
