<html-import html-href="ui-elements/inputs/tag-input.html"></html-import>
<dom-module id="add-document-tag">
    <template>
        <style>
            .bootstrap-tagsinput {
                width: 100%;
            }
        </style>
          <div class="static-details">
            <div class="row">
              <span class="col-xs-6">
                <strong>Name</strong><div>{{doc.name}}</div>
              </span>
              <span class="col-xs-6">
                <strong>Date Added</strong><div>{{doc.date}}</div>
              </span>
            </div>
          </div>
                    
          <br>
          <div class="divider"></div>
          <br>
          
          <div class="form-group">
            <h3><strong>Tags</strong></h3>
            <tag-input id="tag-input" input-value="{{tags}}"></tag-input>
          </div>

          <input type="submit" class="btn btn-primary" on-click="submitForm">
          or
          <span><a href="javascript:;" on-click="resetForm">Cancel</a></span>

          <event-hub id="hub"></event-hub>
          <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "add-document-tag",
            behaviors: [eventHub],
            attached: function() {
                this.entity = {
                    type: this.config.properties.entity,
                    id: this.config.properties.entityId
                }
                this.doc = this.config.properties.document;
                this.tags = this.doc.tags;
            },
            submitForm: function() {
                var self = this;
                var url = [this.entity.type, this.entity.id, this.doc.id, "tags"];
                var tags = this.tags.split(",");
                url = url.concat(tags).join("/");
                var payload = {
                    name: this.doc.name,
                    location: "FileSystem"
                };
                this.$.http.post(url, payload, window.config.services.documentManager)
                    .then(function() {
                        self.$.hub.publish("activity:close", {
                            activity: self.is
                        });
                        self.$.hub.publish("notification:show", { type: "success", message: "Document tags added." });
                        self.publish("documents.updated");
                    })
            },
            resetForm: function() {
                this.$.hub.publish("activity:close", {
                    activity: this.is
                });
            }
            
        });
    </script>
</dom-module>