<html-import html-href="ui-elements/inputs/number-input.html"></html-import>
<dom-module id="change-application-offer">
    <template>
        <style>
            #confirmation-label {
                padding-left: 0;
            }
            #decision-input {
                display: inline-block;
                width: 90%;
                margin-right: 3%;
            }
            .btn-default, .btn-default:hover {
                background-color: #03426b;
            }
        </style>
        <div class="row">
            <span class="col-xs-4">
            <strong>APR</strong>
            <div>{{offer.apr}}</div>
            </span>
            <span class="col-xs-4">
            <strong>Rate</strong>
            <div>{{offer.rate.amount}}<span>{{addPercent(offer.rate.type)}}</span></div>
            </span>
            <span class="col-xs-4">
            <strong>Payment Amount</strong>
            <div>
                Payment Amount
            </div>
            </span>
        </div>

          <br>
          <div class="divider"></div>
          <br>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <h4><strong>Decision</strong></h4>
                    <select id="decision-input" disabled$="{{!confirmedEdit}}" class="form-control">
                        <option value="Approved">Approved</option>
                    </select>
                    <div class="checkbox checkbox-inline checkbox-primary arrow-cursor">
                        <input checked="{{confirmedEdit::change}}" id="confirmation-checkbox" type="checkbox">
                        <label id="confirmation-label" for="confirmation-checkbox"></label>
                    </div>
                </div>
                <div class="form-group">
                    <h4><strong>Amount</strong></h4>
                    <number-input input-type="currency" input-value="{{formatMoney(offer.offerAmount)}}"></number-input>
                </div>
                <div class="form-group">
                    <h4><strong>Term</strong></h4>
                    <div class="btn-group">
                        <span class$="{{monthClass(selectedTerm, 12)}}" on-click="select12">12 Months</span>
                        <span class$="{{monthClass(selectedTerm, 36)}}" on-click="select36">36 Months</span>
                    </div>
                </div>
            </div>
        </div>

        <span class="btn btn-primary" on-click="submit">Recalculate Offer</span> or <span><a href="javascript:;" on-click="resetApp">Cancel</a></span>
    </template>
    <script>
        Polymer({
            is: "change-application-offer",
            properties: {
                confirmedEdit: {
                    type: Boolean,
                    value: false
                },
                selectedTerm: {
                    type: Number,
                    value: 12
                }
            },
            behaviors: [eventHub],
            attached: function() {
                var self = this;
                self.offer = self.config.properties;
                self.selectedTerm = self.offer.terms;
            },
            monthClass: function(selectedTerm, buttonValue) {
                var style = "btn ";

                return selectedTerm === buttonValue ? style + "btn-default" : style + "btn-white"; 
            },
            select12: function() {
                this.selectedTerm = 12;
            },
            select36: function() {
                this.selectedTerm = 36;
            },
            addPercent: function(type) {
                return type.toLowerCase() === "percent" ? "%" : "";
            },
            formatMoney: function(value) {
                return new Number(value).formatMoney(2);
            },
            resetApp: function() {
                this.publish("activity:close", {
                    activity: this.is
                });
            }
        });
    </script>
</dom-module>