<html-import html-href="event/hub.html"></html-import>
<dom-module id="log-application-activity">
    <template>
        <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
        
        <div class="form-group">
          <label class="control-label"></label>
          <select name="activity-dropdown" id="activity" class="form-control" value="{{selectedActivity::change}}">
            <template is="dom-repeat" items="{{configActivities}}">
              <option value="{{item}}">{{item}}</option>
            </template>
          </select>
        </div>
        
        <h4><b>Notes</b></h4>
        <div class="form-group">
            <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{notes::input}}"></textarea>
        </div>
        
        <input id="submit" type="submit" class="btn btn-primary" on-click="submitForm">
        or <span><a href="javascript:;" on-click="resetApp">Cancel</a></span>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
  <script>
      Polymer({
          is : "log-application-activity",
          properties:{
              data : String
          },
          behaviors: [
              eventHub
          ],
          attached: function() {
            var self = this;
            
            if (window.jQuery) {
              self.init()();
            } else {
              window.addEventListener("WebComponentsReady", self.init());
            }
          },
          init: function() {
            var self = this;
            
            self.hasError = false;
            self.selectedActivity;
            self.eventType = self.config.configuration.eventType;
            self.parentDataName = self.config.configuration.parentDataName;

            return function() {
                self.getActivities();
                self.publish("dependent.ready", {
                    dependencies: [
                        {
                            context: self,
                            name: "data",
                            parentProp: self.parentDataName
                        }
                    ]
                });
            }
          },
          resetApp: function() {
              $(this.$.notes).val("");
              this.init();

              this.$.hub.publish("activity:close", {
                  activity: "log-application-activity"
              });
          },
          submitForm: function() {
              var self = this;
              
              if ($(this.$.notes).val().length <= 0) {
                return self.displayErrorMessage("Notes field must be filled out.");
              }
              
              var request = {
                Description : self.notes,
                AppReferenceNumber: self.data.id,
                Title: self.selectedActivity
              }
              var url = ["", self.eventType].join("/");

              self.$.http.post("/AppActivityLogged", request, window.config.services.eventHub,
              function(){
                self.$.hub.publish("notification:show", { type: "success", message: "Activity logged successfully." });
                self.$.hub.publish("activity:refresh");
                self.resetApp();    
              }, function(error) {
                  if (error && error.responseJSON && error.responseJSON.message) {
                        return self.displayErrorMessage(error.responseJSON.message);
                    }
                    return self.displayErrorMessage("Error submitting request. Please try again or contact support.");
              });
              
          },
          displayErrorMessage : function(message) {
              $("#error-message", this).text(message);
              this.hasError = true;
          },
          getActivities: function() {
            var self = this;
            var config = window.config.services.configuration
            self.$.http.get('/alloy/log-activity', config, function(activities) {
              self.set('configActivities', activities.options);
              self.set('selectedActivity', activities.options[0]);
            });
          }
      })
  </script>
</dom-module>
