<html-import html-href="ui-elements/inputs/csr-select-input.html"></html-import>
<html-import html-href="services/status-management-service.html"></html-import>
<dom-module id="modify-status">
    <template>
        <style>
            .control-label {
                font-weight: bold;
            }

            div.checkbox.checkbox-inline.checkbox-primary label::before {
                background-color: #03426b!important;
                border-color: #03426b!important;
            }
        </style>
        <status-management-service
            id="statusManagementService">
        </status-management-service>

        <div id="error-message" class="alert alert-danger"
             hidden$="{{ !state.error }}">{{ state.error }}
        </div>

        <div class="form-group">
            <!--<csr-select-input items="{{ state.statuses }}"-->
                              <!--change-handler="{{ setNextStatus }}">-->
            <!--</csr-select-input>-->

            <select on-change="setNextStatus" class="form-control">
                <option selected>Active</option>
                <option>Cancelled</option>
                <option>Declined</option>
            </select>
        </div>

        <div hidden$="{{ shouldHideChecklist }}">
            <div class="form-group">
                <div
                    class="checkbox checkbox-inline checkbox-primary style-scope payment-check">
                    <input type="checkbox" disabled checked
                           class="style-scope payment-check">
                    <label class="style-scope payment-check">
                        Bank Statements
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div
                    class="checkbox checkbox-inline checkbox-primary style-scope payment-check">
                    <input type="checkbox" disabled
                           class="style-scope payment-check">
                    <label class="style-scope payment-check">
                        Business Reports
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="notes" class="control-label">Notes</label>
            <textarea
                id="notes"
                rows="6"
                class="form-control"
                value="{{ state.form.notes }}"
                on-input="setNotes">
            </textarea>
        </div>

        <input
            id="submit"
            type="submit"
            class="btn btn-primary"
            on-click="submitForm"
            disabled$="{{ state.canSubmit }}">
        or <span><a href="javascript:;" on-click="cancel">Cancel</a></span>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "modify-status",

            behaviors: [eventHub],

            properties: {
                state: {
                    value: function () {
                        return {
                            form: {
                                notes: ""
                            },
                            shouldDisableSubmit: true,
                            shouldHideChecklist: false,
                            statuses: [
                                "Active",
                                "Declined",
                                "Cancelled"
                            ]
                        };
                    },
                    type: Object,
                    notify: true
                },
                events: {
                    value: function () {
                        return {
                            CLOSE: "activity:close",
                            RESET: "activity:reset"
                        }
                    }
                }
            },

            attached: function () {
                var self = this;
                self.subscribe(
                    "statusManagementService.ready",
                    function (payload) {
                        self.$.statusManagementService.fetchStatuses().then(function () {

                        });
                    },
                    self.$.statusManagementService);
            },

            setNextStatus: function(event) {
                this.state.form.nextStatus = event.target.value;
                if (this.state.form.nextStatus !== "Active") {
                    this.shouldHideChecklist = true;
                }
            },

            setNotes: function setNotes(event) {
                this.state.form.notes = event.target.value;
            },

            submit: function () {},

            cancel: function () {
                this.publish("activity:close", {
                    activity: this.is
                });
                this.publish(this.events.RESET, null, this);
            }
        });
    </script>
</dom-module>