<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/forms/activity-form.html"></html-import>
<html-import html-href="ui-elements/forms/address-form.html"></html-import>
<html-import html-href="ui-elements/censor-ssn.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<dom-module id="modify-applicant-info">
  <style>
    #ssn {
      margin-left: 0;
    }
    .two-column-form:first-of-type {
      margin-right: 0;
    }
    input.error {
      border: 1px solid #cc5965;
    }
    .static-details {
      font-size: 14px;
    }
    .static-details span strong {
      margin-right: 10px;
    }
    .form-group h4:not(:first-of-type) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .fa-times:hover {
      color: darkred;
    }
    .btn-white {
      border-color: #88bf40;
    }
    .phone-table > thead > tr > th,
    .phone-table > tbody > td > th
    .address-table  > thead > tr > th,
    .address-table  > tbody > td > th {
      padding-right: 0;
      padding-left: 0;
    }
    .phone-table {
      position: relative;
      top: -15px;
    }
    .address-table {
      position: relative;
      top: -10px;
      margin-bottom: -30px;
    }
    .address-section {
        position: relative;
        top: -30px;
    }
  </style>
  <template>
      <div class="form-group">
        <activity-form id="modify-customer-form">
          <div class="static-details">
            <div class="row">
              <span class="col-xs-4">
                <strong>Name</strong><div>{{computeFullName(applicantInfo.firstName, applicantInfo.middleName, applicantInfo.lastName)}}</div>
              </span>
              <span class="col-xs-4">
                <strong>Date of Birth</strong><div>{{formatDate(applicantInfo.dateOfBirth)}}</div>
              </span>
              <span class="col-xs-4">
                <strong>SSN</strong><div><censor-ssn full-ssn="{{applicantInfo.ssn}}"></censor-ssn></div>
              </span>
            </div>
            <div class="row">
              <span class="col-xs-4">
                <strong>Email</strong><div>{{applicantInfo.email}}</div>
              </span>
            </div>
          </div>
          
          <br>
          <div class="divider"></div>
          <br>
          
          <h4><strong>Phone</strong>
          <span class="btn btn-white btn-sm pull-right" on-click="addPhoneNumber">Add Phone Number</span></h4>
          <table class="table table-hover phone-table">
            <thead>
              <tr>
                <th>Number</th>
                <th>Type</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <template id="phoneTemplate" is="dom-repeat" items="{{applicantInfo.phoneNumbers}}" as="phone">
                <tr>
                  <td><input class="phonemask form-control" type="text" value="{{phone.number::input}}"></td>
                  <td>
                    <select class="form-control m-b" name="account" value="{{phone.type::change}}">
                        <option value="home">Home</option>
                        <option value="work">Work</option>
                        <option value="mobile">Mobile</option>
                        <option value="other">Other</option>
                    </select>
                  </td>
                  
                  <td>
                    <template is="dom-if" if="{{phone.isPrimary}}">
                      <span class="btn btn-default btn-xs">Primary</span>
                    </template>
                    <template is="dom-if" if="{{!phone.isPrimary}}">
                      <span class="btn btn-default btn-xs" on-click="setAsPrimaryPhone">Make Primary</span>
                    </template>
                  </td>
                  <td><i hidden$="{{phone.isPrimary}}" class="fa fa-times" on-click="removePhoneNumber"></i></td>
                </tr>
              </template>
            </tbody>
          </table>
          
          <div class="address-section">
            <h4><strong>Address</strong>
            <span class="btn btn-white btn-sm pull-right" on-click="addAddress">Add Address</span></h4>
            
            <template is="dom-if" if="{{modifyingAddress}}">
                <address-form hidden$="{{!modifyingAddress}}" address-info="{{selectedAddress}}" editing-address="{{editingAddress}}"></address-form>
            </template>
            <table class="table table-hover address-table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <template id="addressTemplate" is="dom-repeat" items="{{applicantInfo.addresses}}" as="address">
                    <tr>
                    <td>{{concatAddress(address)}}</td>
                    <td>
                        <template is="dom-if" if="{{address.isPrimary}}">
                        <span class="btn btn-default btn-xs">Primary</span>
                        </template>
                        <template is="dom-if" if="{{!address.isPrimary}}">
                        <span class="btn btn-default btn-xs" on-click="setAsPrimaryAddress">Make Primary</span>
                        </template>
                    </td>
                    <td><span class="btn btn-default btn-xs" on-click="editAddress">Edit</span></td>
                    <td><i hidden$="{{address.isPrimary}}" class="fa fa-times" on-click="removeAddress"></i></td>
                    </tr>
                </template>
                </tbody>
            </table>          
          </div>
        </activity-form>
      
      </div>
    <input type="submit" class="btn btn-primary" on-click="submitForm">
    or
    <span><a href="javascript:;" on-click="resetForm">Cancel</a></span>
    <event-hub id="hub"></event-hub>
    <http-request id="http"></http-request>
    <alloy-format id="format"></alloy-format>
  </template>
  <script>
    Polymer({
      is : "modify-applicant-info",
      attached : function() {
        var self = this;

        if (window.jQuery && $.fn.mask) {
          self.init()();
        } else {
          window.addEventListener("WebComponentsReady", self.init());
        }
      },
      init : function() {
        var self = this;

        self.applicantInfo = self.config.properties;
        console.log(self.applicantInfo);
        self.isDirty = false;
        self.modifyingAddress = false;
        self.selectedAddress;
        self.editingAddress = false;
        
        return function() {
            self.addEventListener("address-modified", function(e) {
                self.submitAddress(e.detail)
            });
            $("input", self).each(function() {
                    $(this).on("input", function() {
                    if (self.isDirty === true) { return }
                    self.isDirty = true;
                })
            })
            self.phoneMask();
        }
      },
      phoneMask: function() {
        $(".phonemask", this).mask("(000) 000-0000");
      },
      observers: [
        "onModifyAddress(selectedAddress)",
        "onPhoneChange(applicantInfo.phoneNumbers)"
      ],
      parsedAddress : function(address) {
        var parsed = ""
        for (var key in address) {
          parsed += " " + address[key];
        }
        return parsed;
      },
      submitForm : function() {
        var self = this;
        var form = self.$["modify-customer-form"];
        var $inputs = self.modifyingAddress ? $("input[type='text']:not(#line2)", self)
            : $("input[type='text']:not(.address-form)", self);
        var hasError = false;
        
        form.clearErrorMessages();
        
        $inputs.each(function() {
            var $this = $(this)
            if (!$this.val()) {
                $this.addClass("error");
                form.displayErrorMessage("Fill out all fields marked red.")
                hasError = true;
            }
        })
        if (hasError) { return }
        
        for (var i = 0; i < self.applicantInfo.phoneNumbers.length; i++) {
          var phone = self.applicantInfo.phoneNumbers[i];
          phone.number = phone.number.replace(/\)\s*|\(\s*|-/g, "");
        }
        
        var submitInfo = {
          email: self.applicantInfo.email,
          addresses: self.applicantInfo.addresses,
          phones: self.applicantInfo.phoneNumbers
        }
        
//TODO INTEGRATE MODIFY APPLICANT WITH APPLICANT SERVICE
return;

        self.$.http.post("/:loan/" + self.applicantInfo.referenceNumber, submitInfo, window.config.services.loan,
        function(data) {
            self.$.hub.publish("notification:show", {type: "success", message: "Modify customer information successfully submitted."});
            self.$.hub.publish("loan:refresh");
            self.resetForm();
        })
      },
      formatDate: function(date) {
          return this.$.format.formatDate(date);
      },
      checkIfDirty : function() {
        return this.isDirty;
      },
      onPhoneChange: function() {
        this.async(function() {
            $(".phonemask", this).each(function() {
              if (!$(this).unmask) { return }
              $(this).unmask();
              $(this).mask("(000) 000-0000");
            })
        })
      },
      resetForm : function() {
        var self = this;
        
        self.init();
        
        this.$.hub.publish("activity:close", {
            activity: self.is
        });
      },
      removePhoneNumber : function(e) {
        this.splice("applicantInfo.phoneNumbers", e.model.index, 1);
        if (this.applicantInfo.phoneNumbers.length === 1) {
          this.setAsPrimaryPhone(null)
        }
        e.stopPropagation();
      },
      addPhoneNumber : function(e) {
        this.push("applicantInfo.phoneNumbers", {
          number: "",
          type: "Home",
          isPrimary: false
        })
      },
      setAsPrimaryPhone : function(e) {
        if (e === null) {
          var index = 0;
        } else {
          var index = this.$.phoneTemplate.modelForElement(e.target).index;
        }
        for (var i = 0; i < this.applicantInfo.phoneNumbers.length; i++) {
          this.set("applicantInfo.phoneNumbers." + i + ".isPrimary", false);
        }
        this.set("applicantInfo.phoneNumbers." + index + ".isPrimary", true);
      },
      setAsPrimaryAddress: function(e) {
        var index = this.$.addressTemplate.modelForElement(e.target).index;
        for (var i = 0; i < this.applicantInfo.addresses.length; i++) {
          this.set("applicantInfo.addresses." + i + ".isPrimary", false);
        }
        this.set("applicantInfo.addresses." + index + ".isPrimary", true);
      },
      onModifyAddress : function() {
        this.modifyingAddress = !!this.selectedAddress;
      },
      concatAddress : function(address) {
        return [address.line1,address.line2,address.city,address.state,address.zipCode].join(" ");
      },
      removeAddress : function(e) {
        if (this.modifyingAddress && e.model.index === this.selectedAddress._index) {
          this.selectedAddress = false;
        }
        this.splice("applicantInfo.addresses", e.model.index, 1);
        e.stopPropagation();
      },
      editAddress : function(e) {
        this.editingAddress = true;
        this.set("selectedAddress", $.extend(true, {_index: e.model.index}, e.model.address));
      },
      addAddress : function() {
        this.editingAddress = false;
        this.set("selectedAddress", {
          _index: "new",
          line1: "",
          line2: "",
          city: "",
          state: "",
          zipCode: "",
          isPrimary: false
        });
      },
      submitAddress : function(address) {
        var index = address._index
        delete address._index;
        if (index === "new") {
          this.push("applicantInfo.addresses", address);
        } else {
          this.set("applicantInfo.addresses." + index, address);
        }
      },
      computeFullName: function(first, middle, last) {
        return [first, middle, last].join(" ");
      }
      
    })
  </script>
</dom-module>
