<dom-module id="replace-document">
    <template>
        <style>
        </style>

        <div class="static-details">
            <div class="row">
              <span class="col-xs-6">
                <strong>Name</strong><div>{{doc.name}}</div>
              </span>
              <span class="col-xs-6">
                <strong>Date Added</strong><div>{{doc.date}}</div>
              </span>
            </div>
          </div>
                    
          <br>
          <div class="divider"></div>
          <br>

        <template is="dom-if" if="{{target}}">
            <drop-zone id="document-drop"
                submit-target="{{target}}"
                file-reference="{{fileReference}}"
                max-files="1">
                <span>Drag and drop your documents into this window</span>
            </drop-zone>
        </template>

        <input type="submit" class="btn btn-primary" on-click="submitForm">
          or
          <span><a href="javascript:;" on-click="resetForm">Cancel</a></span>
          <event-hub id="hub"></event-hub>
          <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "replace-document",
            behaviors: [eventHub],
            attached: function() {
                this.doc = this.config.properties.document;
                this.target = this.config.properties.target + "/" + this.doc.id + "/replace";
            },
            submitForm: function() {
                this.$$("#document-drop").processQueue();
                this.$.hub.publish("activity:close", {
                    activity: this.is
                });
                this.publish("documents.updated");
            },
            resetForm: function() {
                this.$.hub.publish("activity:close", {
                    activity: this.is
                });
            }
            
        });
    </script>
</dom-module>