<dom-module id="send-message">
    <template>
        <style>
            .control-label {
                font-weight: bold;
            }
        </style>
        <div id="error-message" class="alert alert-danger"
             hidden$="{{ !state.error }}">{{ state.error }}
        </div>

        <div class="form-group">
            <label for="to" class="control-label">To:</label>
            <input id="to" type="text" class="form-control" readonly
                   value="{{ applicant.email }}">
        </div>

        <div class="form-group">
            <label for="subject">Subject</label>
            <input id="subject" type="text" class="form-control">
        </div>

        <div class="form-group">
            <label for="message" class="control-label">Message</label>
            <textarea
                id="message"
                rows="6"
                class="form-control"
                on-input="setNotes">
            </textarea>
        </div>

        <input
            id="submit"
            type="submit"
            class="btn btn-primary"
            on-click="submitForm">
        or <span><a href="javascript:;" on-click="cancel">Cancel</a></span>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "send-message",

            behaviors: [eventHub],

            properties: {
                merchant: Object,
                state: {
                    value: function() {
                        return {};
                    }
                },
                events: {
                    value: function() {
                        return {
                            CLOSE: "activity:close",
                            RESET: "activity:reset"
                        }
                    }
                }
            },

            attached: function() {
                this.publish("activity.request.merchant", this);
            },

            submit: function() {},

            cancel: function() {
                this.publish(this.events.RESET, null, this);
                this.publish(this.events.CLOSE, null, this);
            }
        });
    </script>
</dom-module>