<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="ui-elements/button-secondary.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<dom-module id="action-center-list">
    <template>
        <style>
            .content {
                padding: 20px;
            }
            .header {
                margin-bottom: 10px;
            }
            .header-right {
                position: absolute;
                right: 50px;
            }
            .btn.selected {
                background-color: #73b143;
                border: 1px #73b143 solid;
            }
            .btn.selected:hover:active {
                color: white;
                background-color: #73b143;
                border-color: #73b143;
            }
            #actions-search {
                width: 250px;
            }
            .header .input-group {
                width: 1px;
            }
            .inline-block {
                display: inline-block;
            }
            #length-selector {
                width: auto;
                display: inline-block;
                margin-right: 10px;
            }
            label {
                font-weight: normal;
            }
            .tags {
                margin-right: 10px;
            }
            tr td:nth-of-type(6) {
                text-align: center;
            }
            </style>
            
            <div class="content">
                <div class="header">
                    <span class="header-left">
                        <span class="tags">
                            <span class="btn btn-xs btn-default selected">Pending</span>
                            <span class="btn btn-xs btn-default">Completed</span>
                            <span id="show-all" class="btn btn-xs btn-default">All</span>
                        </span>
                        <label>
                            <select name="table_length" id="length-selector" class="form-control">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> actions per page
                        </label>
                    </span>
                    <span class="header-right">
                        <div class="inline-block">
                            <div class="input-group">
                                <input type="text" id="actions-search" class="form-control" value="{{searchTerm::input}}" placeholder="Search...">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </span>
                </div>
            
            <div hidden$="{{!hasError}}" id="status-message" class="animated fadeIn well">No actions found</div>

            <div hidden$="{{hasError}}">
                <table width="100%" id="actions-table" class="table hover issue-tracker">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <event-hub id="hub"></event-hub>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "action-center-list",
            behaviors: [eventHub],
            attached: function() {
                var self = this;

                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            properties: {
                cachedActionsList: {
                    type: Object,
                    value: function() {
                        return {}
                    }
                },
                hasError: {
                    type: Boolean,
                    value: true
                }
            },
            init: function() {
                var self = this;

                return function() {
                    self.subscribe("activity.complete", function() {
                        self.checkForRender(function() {
                            self.setActions();
                        });
                    });
                    self.checkForRender(function() {
                        self.getUser()
                            .then(self.getMerchantId.bind(self))
                            .then(self.getApplications.bind(self))
                            .then(self.setActions.bind(self))
                            .then(self.initDataTable.bind(self));
                    });
                    
                }
            },

            getUser: function() {
                var self = this;
                return self.$.http.get("/", window.config.services.security)
                    .then(function(user) {
                        self.user = user;
                    });
            },

            getMerchantId: function() {
                var self = this;
                var email = this.user.result.email;
                var url = "/" + email + "/email";
                return self.$.http.get(url, window.config.services.merchant)
                    .then(function(merchant) {
                        self.merchantId = merchant;
                    });
            },

            checkForRender: function(callback) {
                var self = this;

                var url = "/application/count";
                var base = window.config.services.actionCenter;

                self.$.http.get(url, base, function(summary) {
                    var changed = false;
                    for (var prop in summary) {
                        if (self.cachedActionsList[prop] !== summary[prop]) {
                            changed = true;
                        }
                    }
                    self.cachedActionsList = summary;
                    if (changed) {
                        callback();
                    }
                });
            },
            
            getApplications: function() {
                var self = this;
                if (!self.merchant) {
                    throw Error("No merchant found");
                }
                
                var url = "/merchant/" + self.merchant.merchantId + "/all"
            
                return self.$.http.get(url, window.config.services.applicationFilters, function(applications) {
                    self.applicationIds = applications.map(function(application) {
                        return application.applicationId;
                    });
                    if (applications && applications.length) {
                        self.set("hasError", false)
                    }
                });
            },

            setActions: function(callback) {
                var self = this;

                var url = "/application/filter/applicationId/" + this.applicationIds.join("/");
                var base = window.config.services.actionCenter;

                return self.$.http.get(url, base, function(actions) {
                    var actionRows = [];

                    for (var i = 0; i < actions.length; i++) {
                        var action = actions[i];
                        if (action.status.toLowerCase() === "pending" || action.status.toLowerCase() === "completed") {
                            actionRows.push(self.convertToRow(action));
                        }
                    }
                    self.actions = actionRows;
                });
            },

            convertToRow: function(action) {
                return [
                    action.entityId,
                    action.data.applicant,
                    action.requestType.description,
                    this.formatDate(action.dueDate),
                    action.priority,
                    action.status,
                    action.requestType.activity,
                    action.data
                ].map(function(column) {
                    return column == null ? "" : column;
                    if (column == undefined) {
                        return ""
                    }
                });
            },
            formatDate: function(date, isLong) {
                if (!date) {
                    return "";
                }
                if (isLong) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY")
                }
                return moment.tz(date, window.tenant.timezone).format("MMM D, YYYY");
            },

            initDataTable: function() {
                var self = this;

                var table = self.table = $("#actions-table", self).DataTable({
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    data: self.actions,
                    autoWidth: false,
                    columns: [
                        { title: 'Application ID' },
                        { title: 'Applicant' },
                        { title: 'Description' },
                        { title: 'Date' },
                        { title: 'Priority' },
                        { title: 'Status' },
                        { visible: false },
                        { title: '' }
                    ],
                    columnDefs: [
                        {
                            targets: [7],
                            sortable: false,
                            render: function(data, type, rowData, meta) {
                                return "<button-secondary title=\"Review\" xs class=\"action-btn\">...</button-primary>"
                            }
                        }
                    ]
                });
                
                self.addClickHandling();
                table.columns(5).search('pending').draw()
                
                // Create and render buttons
                new $.fn.dataTable.Buttons( table, {
                    buttons: ['copyHtml5', 'csvHtml5',
                        {
                            extend: 'excelHtml5',
                            title: 'payments',
                            extension: '.xlsx'
                        }, 'pdfHtml5', 'print'
                    ]
                })    
                
                // Tag Filters
                $(".tags span:not(#show-all)", this).on('click', function() {
                    if ($(this).hasClass("selected")) {
                        $(this).removeClass("selected");
                        $("#show-all", self).addClass("selected");
                        table.columns().search('').draw()
                    } else {
                        $(".tags span", self).each(function() {
                            $(this).removeClass("selected");
                        })
                        $(this).addClass("selected");
                        table.columns(5).search($(this).text()).draw()
                    }
                });
                $(this.$["show-all"]).on('click', function() {
                    $(".tags span", self).each(function() {
                        $(this).removeClass("selected");
                    })
                    $(this).addClass("selected");
                table.columns().search('').draw()
                });
                
                // Custom Length Selector
                $(this.$["length-selector"]).on("change", function() {
                    table.page.len(this.value).draw();
                })
                // Custom search
                $(this.$["actions-search"]).on('input', function() {
                    table.search(this.value).draw();
                });
            },
            addClickHandling: function() {
                var self = this;
                
                $(".action-btn:not([disabled])", self).each(function() {
                    $(this).on('click', function() {
                        var rowPosition = $("#actions-table", self).dataTable().fnGetPosition($(this).closest('tr')[0]);
                        var rowData = $("#actions-table", self).dataTable().fnGetData(rowPosition);
                        var activityData = rowData[rowData.length - 1];
                        var rowAction = rowData[rowData.length - 2];
                        self.$.hub.publish("activity:dynamo",
                        {   
                            path: rowAction.url,
                            title: rowAction.parameters.title,
                            properties: activityData
                        });
                    })
                });
            }
            
        });
    </script>
</dom-module>