<dom-module id="csr-select-input">
    <template>
        <select class="form-control" on-change="changeHandler">
            <template is="dom-repeat" items="{{ items }}">
                <option value="{{ getValue(item) }}">
                    {{ getLabel(item) }}
                </option>
            </template>
        </select>
    </template>
    <script>
        Polymer({
            is: "csr-select-input",

            properties: {
                changeHandler: Function,
                items: {
                    value: function() {
                        return []
                    },
                    type: Array
                }
            },

            getValue: function (item) {
                return item.value ?
                    item.value :
                    item;
            },

            getLabel: function (item) {
                return item.label ?
                    item.label :
                    item;
            }
        });
    </script>
</dom-module>