<link rel="import" href="readOnlyInput.html">
<dom-module id="number-input">
    <template>
        <template is="dom-if" if="{{isDefault(inputType)}}">
            <input class="form-control" value="{{inputValue::input}}"
                   on-keydown="_filterNumbers"
                   placeholder="{{placeholder}}" readonly$="{{readOnly}}">
        </template>
        <template is="dom-if" if="{{isCurrency(inputType)}}">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input id="currency" type="text" class="form-control"
                       value="{{inputValue::input}}" on-blur="_setDefaultToZero"
                       placeholder="{{placeholder}}"
                       readonly$="{{readOnly}}">
            </div>
        </template>
        <template is="dom-if" if="{{isPhone(inputType)}}">
            <input type="text" class="form-control phone_us"
                   value="{{inputValue::input}}"
                   placeholder="{{placeholder}}" readonly$="{{readOnly}}">
        </template>
    </template>

    <style>
        .form-control {
            height: 3em;
            border: 2px solid #cdcdcd;
            border-radius: 10px;
        }

        .form-control:focus {
            border: 2px solid #03426b!important;
        }
    </style>
    <script>
        Polymer({
            is: "number-input",
            behaviors: [ReadOnlyInput],
            properties: {
                inputValue: {
                    type: Number,
                    notify: true
                },
                inputType: {
                    type: String,
                    notify: true,
                    value: "default"
                },
                placeholder: {
                    type: String,
                    notify: true,
                    value: ""
                }
            },

            ready: function () {
                var self = this;

                if (window.jQuery && $.fn.autoNumeric && $.fn.mask) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                var self = this;

                return function () {
                    self.async(function () {
                        self.lightHost = $(this).closest("activity-form")[0];

                        $(self.$$("#currency")).autoNumeric("init", {vMax: Infinity})
                            .on("blur keypress keyup focusout input", function (e) {
                                self.inputValue = $(this).val();
                            })

                        $('.phone_us', self).mask('(000) 000-0000', {placeholder: "(___) ___-____"}).bind("blur", function () {
                            // Work around for extra digit being masked but saved in input
                            // eg. mask: (999) 999-9999 data: (999) 999-99999
                            self.inputValue = $(this).val().slice(0, 14);
                        });
                    })
                }
            },
            _filterNumbers: function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190, 37, 38, 39, 40]) !== -1 ||
                    (e.ctrlKey === true && ($.inArray(e.keyCode, [65, 67, 88, 35])) !== -1) ||
                    window.getSelection().toString())
                {
                    return;
                }
                if (((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) ||
                    (e.target.id === "routing-number" && $(this.$["routing-number"]).val().length >= 9) ||
                    (e.target.id === "account-number" && $(this.$["account-number"]).val().length >= 17))
                {
                    e.preventDefault();
                }
            },
            _setDefaultToZero: function () {
                if (!this.inputValue) {
                    this.inputValue = "0.00";
                }
            },
            cleanPhone: function (phoneNumber) {
                if (phoneNumber == undefined) { return ""; }
                var result = phoneNumber.split('').filter(function (character) {
                    return character.match(/[0-9]/g);
                }).join('').slice(0, 10);
                return result;
            },
            validate: function () {
                this.clearError();
                var validStatus = {
                    "default": !isNaN(+this.inputValue) && typeof +this.inputValue === "number",
                    "currency": /^[+-]?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})?$/g.test(this.inputValue),
                    "phone": this.cleanPhone(this.inputValue).length === 10
                }[this.inputType];
                if (!validStatus || !this.inputValue || this.inputValue.length <= 0) {
                    this.highlightError();
                    return false;
                }
                this.clearError();
                // this.lightHost.clearErrorMessages();
                return true;
            },
            highlightError: function () {
                this.async(function () {
                    $("input", this).addClass("error");
                }.bind(this))
            },
            clearError: function () {
                $("input", this).removeClass("error");
            },
            addError: function () {
                $("input", this).addClass("error");
            },
            clearField: function () {
                this.inputValue = "";
                this.enableField();
            },
            isCurrency: function (inputType) {
                return inputType === "currency";
            },
            isDefault: function (inputType) {
                return inputType === "default";
            },
            isPhone: function (inputType) {
                return inputType === "phone";
            },
            disableField: function () {
                $("input", this).attr("disabled", "");
            },
            enableField: function () {
                $("input", this).removeAttr("disabled");
            },
            set: function (value) {
                this.inputValue = new Number(value).formatMoney(2);
            },
            val: function () {
                if (arguments[0] != undefined) {
                    this.inputValue = arguments[0];
                }
                return this.inputValue || "";
            }
        });
    </script>
</dom-module>
