<dom-module id="select-input">
    <template>
        <select class="form-control" disabled$="{{ disabled }}">
            <content></content>

            <template is="dom-if" if="{{ placeholder }}">
                <option disabled selected value="" hidden>{{ placeholder }}</option>
            </template>

            <template is="dom-repeat" items="{{ items }}">
                <option value="{{ getValue(item) }}" disabled$="{{ item.disabled }}" selected$="{{ item.selected }}">
                    {{ getLabel(item) }}
                </option>
            </template>
        </select>
        <style>
            .form-control {
                height: 3em;
                border: 2px solid #cdcdcd;
                border-radius: 10px;
            }

            .form-control:focus {
                border: 2px solid #03426b !important;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "select-input",

            properties: {
                items: {
                    value: function () {
                        return []
                    },
                    type: Array
                },
                placeholder: String,
                disabled: {
                    type: Boolean,
                    value: false
                }
            },

            getValue: function (item) {
                if (item.value) {
                    return item.value;
                } else if (item.label) {
                    return item.label
                } else {
                    return item
                }
            },

            getLabel: function (item) {
                if (item.label) {
                    return item.label;
                } else if (item.value) {
                    return item.value
                } else {
                    return item
                }
            },

        });
    </script>
</dom-module>