<html-import html-href="ui-elements/inputs/text-input.html"></html-import>
<html-import html-href="utils/ensureInit.html"></html-import>
<dom-module id="ssn-input">
    <template>
        <text-input id="input"></text-input>
        <!--<ensure-init method="mask" init="{{ init }}"></ensure-init>-->
    </template>
    <script>
        Polymer({
            is: "ssn-input",

            behaviors: [eventHub],

            attached: function()
            {
                var self = this;
                if (window.jQuery && $.fn.mask) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init);
                }
            },

            init: function ()
            {
                $(this.$.input).find("input").each(function() {
                    $(this).mask("000-00-0000", {
                        placeholder: "___-__-____"
                    });
                });
            }
        });
    </script>
</dom-module>

