<dom-module id="text-input">
<template>
    <input type="text" class="form-control" placeholder$="{{ placeholder }}">
    <style>
        .form-control {
            height: 3em;
            border: 2px solid #cdcdcd;
            border-radius: 10px;
        }

        .form-control:focus {
            border: 2px solid #03426b!important;
        }
    </style>
</template>
<script>
    Polymer({
        is: "text-input",

        behaviors: [eventHub, publishLifecycleEventsBehavior],

        properties: {
            type: String,
            placeholder: String,
            value: {
                type: String,
                notify: true
            },
            readonly: {
                value: false,
                type: Boolean
            }
        },

        observers: ["valueChanged(value)"],

        ready: function() {
            var self = this;
            $("input", this).each(function() {
                this.addEventListener("input", function(e) {
                    if (e.target.value !== self.value) {
                        self.set("value", e.target.value);
                    }
                });
            });
        },

        valueChanged: function(value) {
            var self = this;
            $("input", self).each(function() {
                if (value !== this.value) {
                    this.value = value;
                }
            });
        },

        attached: function() {
            var self  = this;

            if (self.type !== undefined) {
                $("input", self).each(function() {
                    var el = $(this);
                    el.attr("type", self.type);
                    el.attr("placeholder", self.placeholder);
                    if (self.readonly) {
                        el.attr("readonly", self.readonly);
                    }
                });
            }
        }

    });
</script>
</dom-module>