<html-import html-href="ui-elements/lfCollapse.html">
<html-import html-href="ui-elements/forms/lfFormGroup.html">
<html-import html-href="ui-elements/lusaCollapse.html">
<html-import html-href="ui-elements/lusaButtonDefault.html">
<dom-module id="verification-one">
    <template>
        <h3>Just a few more steps while we verify your information:</h3>
        <lf-collapse-group>
            <lusa-collapse title="Link Your Bank" icon="fa fa-link">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </lusa-collapse>

            <lusa-collapse title="Confirm Email Address" icon="fa fa-envelope-o">
                <p>Hello John Doe,</p>
                <p>You should have received an email to confirm your account. Click Resend Email if you would like to request a new email confirmation</p>
                <lusa-button-default>Resend Email</lusa-button-default>
            </lusa-collapse>

            <lusa-collapse title="Phone Verification" icon="fa fa-mobile-phone">
                <phone-verification></phone-verification>
            </lusa-collapse>

            <lusa-collapse title="Documents" icon="fa fa-file-text-o">
                <loan-documents></loan-documents>
            </lusa-collapse>

            <lusa-collapse title="Sign Loan Application" icon="fa fa-pencil-square-o">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </lusa-collapse>
        </lf-collapse-group>
    </template>
    <script>
        Polymer(
        {
            is: "verification-one",
        })
    </script>
</dom-module>


<dom-module id="loan-documents">
    <template>
        <style>
            .feed-activity-list {
                margin-top: -15px;
                margin-bottom: -15px;
            }
        </style>
        <div class="feed-activity-list">
            <loan-document doc-name="Bank Statement"></loan-document>
            <loan-document doc-name="Driver's License"></loan-document>
            <loan-document doc-name="Proof of Income"></loan-document>
        </div>
    </template>
    <script>
        Polymer(
        {
            is: "loan-documents",

        })
    </script>
</dom-module>


<dom-module id="loan-document">
    <template>
        <style>
            .doc-icons i {
                margin-right: 4em;
            }

            .doc-icons i:last-of-type {
                margin-right: 10px;
            }

            .feed-element {
                padding-top: 15px;
            }
        </style>
        <div class="feed-element">
            <div class="media-body">
                <span>{{ docName }} <i class="fa fa-info-circle"></i></span>
                <span class="pull-right doc-icons">
            <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
            <i class="fa fa-check-circle fa-2x" aria-hidden="true"></i>
            </div>
        </span>
            </div>
    </template>
    <script>
        Polymer(
        {
            is: "loan-document",

            properties:
            {
                docName: String,
            }

        })
    </script>
</dom-module>


<dom-module id="phone-verification">
    <template <form class="form-inline">
        <style>
            form {
                margin-bottom: 15px;
            }
        </style>
        <form class="form-inline">
            <lf-form-group>
                <input type="text" class="form-control" placeholder="Phone No.">
            </lf-form-group>
            <lusa-button-default>Send Code</lusa-button-default>
        </form>
        <form class="form-inline">
            <lf-form-group>
                <input type="text" class="form-control" placeholder="Code">
            </lf-form-group>
            <lusa-button-default>Verify</lusa-button-default>
        </form>
    </template>
    <script>
        Polymer(
        {
            is: "phone-verification",
        })
    </script>
</dom-module>
