<html-import html-href="event/hub.html"></html-import>
<dom-module id="alloy-activity">
    <style>
        .ibox {
            margin-bottom: 5px;
        }
        .ibox-title {
            cursor: pointer;
        }
    </style>
    <template>
        <div class="ibox float-e-margins">
            <div class="ibox-title collapse-link">
                <h5>{{title}}</h5>
                <div class="ibox-tools">
                    <a>
                        <i hidden="{{unCloseable}}" class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content collapse">
                <content></content>
            </div>
        </div>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is : "alloy-activity",
            ready : function(){
                var self = this;
                
                self.isOpen = false;
                if (window.jQuery)
                    self.init()();
                else
                    window.addEventListener('WebComponentsReady', self.init());
                },
            properties : {
                initOpen: {
                    type: Boolean,
                    notify: true
                },
                unCloseable: {
                    type: Boolean,
                    notify: true,
                    value: true
                }
            },
            init : function(){
                var self = this;
                
                return function(){
                    self.async(function() {
                        if (self.initOpen) {
                            self.openActivity();
                            self.isOpen = true;
                        }
                        if (self.domHost.tabs) {
                            self.domHost.tabs[self.id] = self.isOpen;
                        }
                        $('.collapse-link', self).click(function() {
                            // Clicking on dynamic activity; will hide dynamic activity
                            if (self.domHost.activityOpen) {
                                self.domHost.closeActivity();
                                return;
                            }
                            // Clicking on static activity; will hide dynamic activity
                            if (self.domHost.dynamicOpen) {
                                self.$.hub.publish("dynamic:close");
                                setTimeout(function() {
                                    self.domHost.dynamicOpen = false;
                                }.bind(self), 1000)
                            }
                            if (self.isOpen) {
                                self.closeActivity.call(self);
                            } else {
                                self.openActivity.call(self);
                            }
                        })
                    });
                };
            },
            closeActivity: function() {
                if (this.isOpen && !this.unCloseable) {
                    this.toggleActivity();
                }
            },
            openActivity: function() {
                if (!this.isOpen) {
                    this.toggleActivity();
                }
            },
            toggleActivity: function () {
                var self = this;
                $(".collapse-link", self).each(function() {
                    var ibox = $(this).closest("div.ibox");
                    var button = $(this).find("i");
                    var content = ibox.find("div.ibox-content");
                    
                    $(self).siblings().find("div.ibox").slideToggle(200);
                    $(self.domHost).siblings().find("div.ibox").slideToggle(200);
                    
                    content.slideToggle(200);
                    button.toggleClass("fa-times").toggleClass("fa-chevron-right");
                    ibox.toggleClass('').toggleClass('border-bottom');
                    
                    setTimeout(function () {
                        ibox.resize();
                        ibox.find('[id^=map-]').resize();
                    }, 50);
                })
                
                if (self.domHost.tabs) {
                    self.domHost.tabs[self.id] = !self.isOpen;
                }
                self.isOpen = !self.isOpen;
            }
        });
    </script>
</dom-module>