<dom-module id="lf-select">
    <template>
    <select>
        <template is="dom-repeat" items="{{ items }}">
            <option value="{{ getValue(item) }}">
                {{ getLabel(item) }}
            </option>
        </template>
    </template>
    <script>
        Polymer({
            is: "lf-select",
            properties: {
                items: Array,
                value: String
            },
            getValue: function(item) {
                return item.value ? item.value : item;
            },
            getLabel: function(item) {
                return item.label ? item.label : item;
            }
        })
    </script>
</dom-module>
