<dom-module id="text-input">
    <template>
        <input type="text" class="form-control" value="{{ inputValue::input }}">
    </template>
    <script>
        Polymer({
            is: "text-input",
            properties: {
                inputValue: {
                    type: String
                }
            }
        })
    </script>
</dom-module>
