<dom-module id="cash-flow-activity">
    <template>
        <style>
        </style>
        <h1>Cash Flow</h1>
    </template>
    <script>
        Polymer({
            is: "cash-flow-activity"
            
        });
    </script>
</dom-module>