<html-import html-href="event/hub.html"></html-import>
<dom-module id="make-request">
    <template>
        <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
        
        <div class="form-group">
          <label class="control-label"></label>
          <select name="activity-dropdown" id="activity" class="form-control" value="{{selectedAction::change}}">
            <template is="dom-repeat" items="{{actions}}">
              <option value="{{item}}">{{item.text}}</option>
            </template>
          </select>
        </div>
        
        <h4><b>Notes</b></h4>
        <div class="form-group">
            <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{notes::input}}"></textarea>
        </div>
        
        <input id="submit" type="submit" class="btn btn-primary" on-click="submitForm">
        or <span><a href="javascript:;" on-click="resetApp">Cancel</a></span>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
  <script>
      Polymer({
          is : "make-request",
          properties:{
              loanReference : String
          },
          attached: function() {

              this.actions = [
                  {
                    text: "Upload Bank Statements",
                    action: "upload-doc",
                    detail: {
                        data: {
                            applicant: "Vim Diesel"
                        },
                        dueDate: "2016-06-25",
                        priority: "normal",
                        entityId: "LoanRef0003"
                    }
                  }
              ];
              this.selectedAction = this.actions[0];
            var self = this;
            
            if (window.jQuery) {
              self.init()();
            } else {
              window.addEventListener("WebComponentsReady", self.init());
            }
          },
          init: function() {
            var self = this;
            
            self.hasError = false;
            self.selectedActivity;
            
            return function() {
                self.getActivities();
            }
          },
          resetApp: function() {
              $(this.$.notes).val("");
              this.init();
              
              this.$.hub.publish("activity:close", {
                  activity: "Make Request"
              });
          },
          submitForm: function() {
              var self = this;
              
              if ($(self.$.notes).val().length <= 0) {
                return self.displayErrorMessage("Notes field must be filled out.");
              }

              self.selectedAction.detail.notes = self.notes;
              var request = self.selectedAction.detail;

              self.$.http.post("/merchant/" + self.selectedAction.action, request, window.config.services.actionCenter,
              function(){
                self.$.hub.publish("notification:show", { type: "success", message: "Request sent successfully." });
                self.resetApp();    
              }, function(error) {
                  if (error && error.responseJSON && error.responseJSON.message) {
                        return self.displayErrorMessage(error.responseJSON.message);
                    }
                    return self.displayErrorMessage("Error submitting request. Please try again or contact support.");
              });
              
          },
          displayErrorMessage : function(message) {
              $("#error-message", this).text(message);
              this.hasError = true;
          },
          getActivities: function() {
            var self = this;
            var config = window.config.services.configuration
            self.$.http.get('/alloy/log-activity', config, function(activities) {
              self.set('configActivities', activities.options);
              self.set('selectedActivity', activities.options[0]);
            });
          }
      })
  </script>
</dom-module>
