<dom-module id="ensure-init">
    <template>
        <content></content>
    </template>
    <script>
        Polymer({
            is: "ensure-init",

            behaviors: [eventHub],

            properties: {
                // Name of method in jquery
                method: String,
                init: {
                    type: Function
                }
            },

            attached: function ()
            {
                this.ensureJqueryMethod();
            },

            /**
             * Calls init on content children if the specified mask is
             * present in jQuery
             * @param method
             */
            ensureJqueryMethod: function ()
            {
                var self = this;
                var method = self.method;
                if (window.jQuery && $.fn[method]) {
                    self.init();
                } else {
                    window.addEventListener(
                        "WebComponentsReady",
                        self.onWebComponentsReady
                    );
                }
            },

            onWebComponentsReady: function ()
            {
                var self = this;
                self.init();
                window.removeEventListener(
                    "WebComponentsReady",
                    self.onWebComponentsReady
                );
            }
        });
    </script>
</dom-module>