<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/tables/index.html"></html-import>
<dom-module id="applications-filter">
    <template>
        <style>
            .alert {
                text-align: center;
            }
            #applications-search {
                width: 250px;
            }
            #length-selector {
                width: auto;
                display: inline-block;
                margin-right: 5px;
            }
            .header-right {
                position: absolute;
                right: 50px;
            }
            .footer-right {
                float: right;
            }
            .header {
                margin: 20px 0;
            }
            .header .input-group {
                width: 1px;
            }
            label {
                font-weight: normal;
            }
            .well {
                margin-top: 30px;
                text-align: center;
            }
        </style>

        <alloy-table table-config="{{tableConfig}}"></alloy-table>

        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
    </template>
    <script>
        Polymer({
            is: "applications-filter",
            attached: function() {
                var self = this;

                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            properties: {
                hideButton: {
                    type: Boolean
                },
                hasAlert: {
                    type: Boolean,
                    value: true
                }
            },
            init: function() { 
                var self = this;

                return function() {
                    self.loadData()
                    .then(function(applications) {
                        var applicationRows = [];
                
                        for (var i = 0; i < applications.length; i++) {
                            var application = applications[i];
                            var applicationRow = self.convertToRow(application);
                            applicationRows.push(applicationRow);
                        }

                        var columns = [
                            { title: 'Application ID' },
                            { title: 'Applicant' },
                            { title: 'Submitted' },
                            { title: 'Amount Financed' },
                            { title: 'Max Approval' },
                            { title: 'Payout Amount' },
                            { title: 'Payment Amount' },
                            { title: 'Status' },
                            {}
                        ];
                        var columnDefs = [
                            {
                                targets: [columns.length - 1],
                                orderable: false,
                                render: function(data, type, rowData, meta) {
                                    if (type === "display") {
                                        return "<span class=\"btn btn-primary btn-xs detail-btn\">Details</span>"
                                    }
                                    return data;
                                }
                            }
                        ];
                        var data = applicationRows;
                        self.tableConfig = {
                            columns: columns,
                            columnDefs: columnDefs,
                            data: data,
                            addClickHandling: self.addClickHandling,
                            pageLabel: "applications"
                        };
                    });
                }
            },
            loadData: function() {
                var self = this;

                var url = self.filterPath;

                return self.$.http.get(url, window.config.services.applicationFilters);
            },
            convertToRow: function(app) {
                var statuses = {
                    "200.01": "Initiated",
                    "200.02": "Policy Validation",
                    "200.03": "Fraud Review",
                    "200.04": "Email Validation",
                    "200.05": "Phone Validation",
                    "200.06": "Income Verification",
                    "300.01": "Underwriting Review",
                    "300.02": "Offer Generated",
                    "300.03": "Offer Selected",
                    "300.04": "Loan Agreement Generated",
                    "300.05": "Loan Agreement Signed",
                    "400.01": "Funding Review",
                    "500.01": "Declined",
                    "500.02": "Expired",
                    "500.03": "Cancelled",
                    "500.04": "Fraud",
                    "600.01": "In Service"
                };
                return [app.applicationId, app.applicant, this.formatDate(app.submitted), this.formatCurrency(app.amount), this.formatCurrency(app.maxApproval), this.formatCurrency(app.payout), this.formatCurrency(app.paymentAmount),
                app.statusCode ? statuses[app.statusCode] : "",
                ""
                ];
            },
            formatDate: function(date, isLong) {
                if (!date) {
                    return "";
                }
                if (isLong) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY")
                }
                return moment.tz(date, window.tenant.timezone).format("MMM D, YYYY");
            },
            formatCurrency: function(currency) {
                return "$" + currency.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },

            addClickHandling: function() {
                var self = this;
                
                $(".detail-btn", self).each(function() {
                    $(this).on('click', function() {
                        var rowPosition = $("#alloy-table", self).dataTable().fnGetPosition($(this).closest('tr')[0]);
                        var rowData = $("#alloy-table", self).dataTable().fnGetData(rowPosition);
                        var applicationId = rowData[0];

                        window.location.hash = "#/application/id:" + applicationId;
                    });
                });
            }
        });
    </script>
</dom-module>