<html-import html-href="applications/filter.html"></html-import>
<dom-module id="applications-view">
    <template>
        <style>
        </style>
        <div class="wrapper wrapper-content">
            <div class="ibox-title">
                <h1>Applications</h1>
            </div>
            <div class="ibox-content table-responsive">
                <template is="dom-if" if="{{filterPath}}">
                    <applications-filter filter-path="{{filterPath}}"></applications-filter>
                </template>
            </div>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "applications-view",
            attached: function() {
                this.getUser()
                    .then(this.getMerchantId.bind(this))
                    .then(this.getFilterPath.bind(this))
            },
            getUser: function() {
                return this.$.http.get("/", window.config.services.security)
            },
            getMerchantId: function(user) {
                var email = user.result.email;
                var url = "/" + email + "/email";
                return this.$.http.get(url, window.config.services.merchant)
            },
            getFilterPath: function(merchant) {
                var filterPath = "/Merchant/" + merchant.merchantId + "/all";
                this.filterPath = filterPath;
            }
        });
    </script>
</dom-module>