<html-import html-href="ui-elements/button-secondary.html"></html-import>
<dom-module id="additional-qualified-amounts">
    <template>
        <alloy-format id="alloyFormat"></alloy-format>

        <style>

            .bg-blue-default {
                background-color: #03426b;
            }

            .bg-blue-light {
                background-color: #0d6c96;
            }

            .table-header {
                padding: 5px 10px 5px 10px;
                color: white;
            }

            table-header h4 {
                padding: 0;
                padding-left: 10px;
            }

            .header {
                font-weight: 800;
                line-height: 1.5em;
                color: #03426b;
                margin-bottm: 1em;
            }

            .row.no-gutters {
                margin-right: 0;
                margin-left: 0;
            }
            .row.no-gutters > [class^="col-"],
            .row.no-gutters > [class*=" col-"] {
                padding-right: 2px;
                padding-left: 2px;
            }

            .table.table-striped.table-offers thead tr th{
                background-color: #d7d7d7;
            }
        </style>

        <h3 class="header">You also qualify for the following loan amounts</h3>
        <div class="row no-gutters">
            <template is="dom-repeat" items="{{ additionalOffers }}" as="offerGroup">
                <div class="col-sm-6">
                    <div class$="{{getTableHeaderClass(index)}}" class="bg-blue-default table-header">
                        <h4>{{ offerGroup.group }} Months</h4>
                    </div>
                    <table class="table table-striped table-offers">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Amount</th>
                            <th>Rate</th>
                            <th>APR</th>
                            <th>Monthly Payment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template is="dom-repeat" items="{{ offerGroup.data }}">
                            <tr>
                                <td>
                                    <label>
                                        <input
                                            type="radio"
                                            name="additionalOffers"
                                            checked$="{{ item.isPreferred }}"
                                            value="{{ item.id }}"
                                            id$="{{ item.id }}">
                                    </label>
                                </td>
                                <td>
                                    ${{ formatCurrency(item.offerAmount) }}
                                </td>
                                <td>
                                    {{ item.rate.amount }}%
                                </td>
                                <td>
                                    {{ item.apr }}%
                                </td>
                                <td>
                                    ${{ formatCurrency(item.paymentAmount) }}
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </template>
        </div>
        <div class="row">
            <div class="col-sm-12 text-right">
                <button-secondary on-click="acceptAlternateLoan">Get This Loan Instead</button-secondary>
            </div>
        </div>
    </template>
    <script>
        Polymer(
            {
                is: "additional-qualified-amounts",

                properties: {
                    offers: Object,
                    selectOffer: Object
                },

                behaviors: [eventHub, ensureDependenciesBehavior],

                observers: ["transformOffers(offers)"],

                attached: function() {
                    var self = this;
                    this.ensure("alloyFormat").then(function(alloyFormat) {
                        self.set("formatCurrency", alloyFormat.formatCurrency);
                        Polymer.dom.flush();
                    })
                },

                getOfferTableClass: function(index) {
                    return index % 2 === 0 ?
                        "table table-bordered table-offers-light" :
                        "table table-bordered table-offers-dark";
                },

                getTableHeaderClass: function(index) {
                    return index % 2 === 0 ?
                        "table-header bg-blue-default":
                        "table-header bg-blue-light";
                },

                transformOffers: function (offers) {
                    var additionalOffers = _(offers.offers)
                        .map(function (offer) {
                            if (offer.id === offers.preferred.toString()) {
                                offer.isPreferred = true;
                            }
                            return offer;
                        })
                        .groupBy(function (offer) { return offer.terms })
                        .map(function (v, k) {
                            return {
                                group: k,
                                data: v
                            }
                        })
                        .value();

                    this.async(function() {
                        this.set("additionalOffers", additionalOffers);
                    });
                },

                formatCurrency: function(value) {
                    return value;
                },

                acceptAlternateLoan: function (e) {
                    var self = this;
                    e.preventDefault();
                    e.stopPropagation();

                    $("input[type='radio']", self).each(function () {
                        if (this.checked) {
                            self.selectOffer(this.value);
                        }
                    })
                }
            })
    </script>
</dom-module>