<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="ui-elements/inputs/number-input.html"></html-import>
<html-import html-href="ui-elements/inputs/input-label.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<dom-module id="different-loan-form">
    <template>
        <alloy-format id="alloyFormat"></alloy-format>
        <style>
            :host {
                margin-bottom: 30px;
                display: block;
            }

            .light {
                color: #73b143;
            }

            .header {
                font-weight: 800;
                line-height: 1.5em;
                color: #03426B;
            }

            .margin-right-15px {
                margin-right: 15px;
            }
        </style>
        <h3 class="header">Need a Different Loan Amount? <br>
            <span class="light">You Are Approved Up to ${{ formatCurrency(maxAmount) }}</span></h3>
        <form class="form-inline">

            <form-block>
                <input-label for="differentAmount">Loan Amount</input-label>
                &nbsp
                <number-input id="differentAmount" class="margin-right-15px"></number-input>
            </form-block>
            &nbsp
            <button-primary on-click="onClick">Change Loan Amount</button-primary>
        </form>
    </template>
    <script>
        Polymer(
            {
                is: "different-loan-form",

                properties: {
                    maxAmount: String,
                    changeOffer: Object,
                    setOffer: Object
                },

                onClick: function(e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var self = this;
                    var nextAmount = $("input", this)[0].value;

                    if (!nextAmount) { return }

                    $("input", this)[0].value = "";

                    this.changeOffer(nextAmount)
                },

                formatCurrency: function(value) {
                    if (this.$.alloyFormat && this.$.alloyFormat.formatCurrency) {
                        return this.$.alloyFormat.formatCurrency(value);
                    } else {
                        return value
                    }
                }
            })
    </script>
</dom-module>
