<html-import html-href="dtm-application/loan-offer/offer-panel.html"></html-import>
<html-import html-href="dtm-application/loan-offer/different-loan-form.html"></html-import>
<html-import html-href="dtm-application/loan-offer/additional-qualified-amounts.html"></html-import>
<html-import html-href="services/offer-engine-service.html"></html-import>
<html-import html-href="services/dtm-application-service.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<dom-module id="loan-offer">
    <template>
        <offer-engine-service id="offerEngineService"></offer-engine-service>
        <dtm-application-service id="dtmService"></dtm-application-service>
        <alloy-format id="alloyFormat"></alloy-format>
        <http-request id="http"></http-request>
        <div class="row">
            <div class="col-sm-12">
                <offer-panel
                    id="offerPanel"
                    preferred-offer="{{ preferredOffer }}"
                    select-preferred-offer="{{ selectPreferredOffer }}">
                </offer-panel>

                <different-loan-form
                    change-offer="{{ changeOffer }}"
                    set-Offer="{{ setOffer }}"
                    max-amount="{{ offers.maxAmount }}">
                </different-loan-form>

                <additional-qualified-amounts
                    select-offer="{{ selectOffer }}"
                    offers="{{ offers }}">
                </additional-qualified-amounts>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "loan-offer",

            properties: {
                selectPreferredOffer: Object,
                changeOffer: Object,
                changeLoanAmount: Object,
                getOtherLoan: Object,
                preferredOffer: Object,
                offer: Object
            },

            behaviors: [eventHub, workflowActivityBehavior, dtmApplicationBehavior],

            attached: function () {
                var self = this;

                // TODO REMOVE
//                self.completeActivity(self.getApplicationNumber());

                // methods used in template bindings
                this.set("setOffer", setOffer.bind(this));
                this.set("selectPreferredOffer", selectPreferredOffer.bind(this));
                this.set("selectOffer", selectOffer.bind(this));
                this.set("changeOffer", changeOffer.bind(this));

                this.ensure("offerEngineService")
                    .then(function (offerEngineService) {
                        return offerEngineService.createOffer("default", self.getApplicationNumber());
                    })

                    .then(function (response) {
                        if (response && !response.offers.length) {
                            return self.terminateWorkflow("declined");
                        }

                        self.set("offers", response);
                        self.set("preferredOffer", self.$.offerEngineService.getPreferredOffer(response));
                        // create groups based on number of loan terms
                        self.set("groupedOffers", _.groupBy(response, function (offer) {
                            return offer.terms;
                        }));
                    })
                    .then(function () {
                        return self.ensure("alloyFormat")
                    })
                    .then(function (alloyFormat) {
                        self.set("toCurrency", alloyFormat.formatCurrency);
                    });

                function setOffer(nextOffers) {
                    this.set("offers", nextOffers);
                }

                function selectPreferredOffer() {
                    var self = this;
                    var offers = this.offers;
//                    var offerType = this.$.offerEngineService.getOfferType(offers);
                    var applicationNumber = this.getApplicationNumber();

                    self.ensure("offerEngineService")
                        .then(function (offerEngineService) {
                            return offerEngineService.selectPreferredOffer("default", applicationNumber, offers);
//                            return offerEngineService.selectPreferredOffer(offerType, applicationNumber, offers);
                        })
                        .then(function () {
                            self.completeActivity(self.getApplicationNumber());
                        });
                }


                function selectOffer(index) {
                    var self = this;
                    var applicationNumber = self.getApplicationNumber();

                    return this.ensure("offerEngineService")
                        .then(function (offerEngineService) {
//                            var offerType = offerEngineService.getOfferType(self.offers);
//                            return offerEngineService.selectOffer(offerType, applicationNumber, index);
                            return offerEngineService.selectOffer("default", applicationNumber, index);
                            var url = ["default", self.getApplicationNumber(), 1, "select"].join("/");
//                            return self.$.http.post(url, {}, window.config.services.offerEngine);
                        })
                        .then(function () {
                            self.completeActivity({
                                applicationNumber: applicationNumber,
                                selectedOffer: self.$.offerEngineService.getSelectedOffer(self.offers)
                            });
                        });
                }

                /**
                 * Request a loan offer with a new amount
                 * @param nextAmount
                 * @returns {*|Promise.<any>}
                 */
                function changeOffer(nextAmount) {
                    var self = this;
                    var offerType = this.$.offerEngineService.getOfferType(this.offers);
                    var applicationNumber = this.getApplicationNumber();

                    self.publish("isBusy.changed", {isBusy: true});

                    return this.$.offerEngineService.changeOffer(offerType, applicationNumber, nextAmount)
                        .then(function (response) {
                            console.log(self.offers.offers.map(function (offer) {
                                return offer.offerAmount;
                            }));

                            self.set("offers", response);
                            self.set("preferredOffer", self.$.offerEngineService.getPreferredOffer(response));

                            self.publish("isBusy.changed", {isBusy: false});

                            if (self.offers && !self.offers.offers.length) {
                                self.terminateWorkflow("declined")
                            }

                            console.log(self.offers.offers.map(function (offer) {
                                return offer.offerAmount;
                            }));

                        })
                        .catch(function () {
                            self.publish("isBusy.changed", {isBusy: false});
                        });
                }
            },

            getPreferredOffer: function (offer) {
                var preferredOffer = {};
                this.ensure()
                    .then(function () {
                        $.extend(preferedOffer, offerEngineService.getPreferredOffer(offer))
                    });

                return preferredOffer;
            }

        });
    </script>
</dom-module>
