<dom-module id="offer-panel">
    <template>
        <style>
            :host {
                margin-bottom: 30px;
                display: block;
            }

            .loan-offer-list {
                list-style-type: none;
                display: table;
                background-color: #03426b;
                color: #fff;
                margin: 0;
                padding: 0;
                padding-top: 15px;
                padding-bottom: 15px;
                border-radius: 5px;
            }

            .loan-offer-list-item {
                display: table-cell;
                padding: 10px;
                width: 1%;
                text-align: center;
                vertical-align: middle;
                line-height: .4em;
            }

            .loan-offer-list-item:not(:last-of-type) {
                border-right: 3px solid white;
            }

            .header {
                font-weight: 800;
                line-height: 1.5em;
                color: #03426b;
                margin-bottm: 1em;
            }

            .btn.btn-primary.btn-primary-revised {
                background-color: #73b143;
            }
        </style>
        <alloy-format id="alloyFormat"></alloy-format>
        <h3 class="header">Congratulations! You Qualify for ${{ formatCurrency(preferredOffer.offerAmount) }} Loan!</h3>
        <ul class="loan-offer-list">
            <li class="loan-offer-list-item">
                <h5>Amount</h5> ${{ formatCurrency(preferredOffer.offerAmount) }}
            </li>
            <li class="loan-offer-list-item">
                <h5>Rate</h5> {{ preferredOffer.rate.amount }}%
            </li>
            <li class="loan-offer-list-item">
                <h5>APR</h5> {{ preferredOffer.apr }}%
            </li>
            <li class="loan-offer-list-item">
                <h5>Payment Amount</h5> ${{ formatCurrency(preferredOffer.paymentAmount) }}
            </li>
            <li class="loan-offer-list-item">
                <button class="btn btn-primary btn-primary-revised" on-click="selectPreferredOffer">Get This loan</button>
            </li>
        </ul>
    </template>
    <script>
        Polymer(
            {
                is: "offer-panel",

                properties: {
                    selectPreferredOffer: Object,
                    preferredOffer: Object,
                    formatCurrencyReady: Boolean
                },

                behaviors: [eventHub, ensureDependenciesBehavior],

                attached: function () {
                    var self = this;
                    this.ensure("alloyFormat").then(function (alloyFormat) {
                        self.set("formatCurrency", alloyFormat.formatCurrency);
                        Polymer.dom.flush();
                    });
                },

                formatCurrency: function (value) {
                    return value;
                }
            })
    </script>
</dom-module>
