<dom-module id="nav-minimize-button">
	<template>
		<style>
			.btn-primary {
				color: #FFFFFF;
				background-color: #03466b;
				border-color: #03466b;
			}
		</style>
		<a id="minimizeButton"
           class="navbar-minimalize minimalize-styl-2 btn btn-primary"
           href="javascript:;"
           on-click="handleClick">
            <i class="fa fa-bars"></i>
        </a>
	</template>
	<script>
		Polymer({ 
			is : 'nav-minimize-button',
			handleClick : function(){
				$("body").toggleClass("mini-navbar");
		        
				if (!$('body').hasClass('mini-navbar') || $('body').hasClass('body-small')) {
			        // Hide menu in order to smoothly turn on when maximize menu
			        $('#side-menu').hide();
			        
					// For smoothly turn on menu
			        setTimeout(function () {
                		$('#side-menu').fadeIn(500);
		            }, 100);
					
			    } else if ($('body').hasClass('fixed-sidebar')) {
					
			        $('#side-menu').hide();
			        setTimeout(function () {
		                $('#side-menu').fadeIn(500);
		            }, 300);
					
			    } else {
			        // Remove all inline style from jquery fadeIn function to reset menu state
			        $('#side-menu').removeAttr('style');
			    }
			}
		});
	</script>
</dom-module>
