<dom-module id="nav-node">
	<template>
		<style>
			li.active {
				background: #03466B !important;
				border-left: 4px solid #D80109 !important;
			}
			li a:hover,
			li a:focus {
				background: #03466B !important;
			}
		</style>
		<li class$="{{getActiveClass(active)}}" aria-expanded$="{{active}}">
			<a class='link' href$="{{node.url}}" data-title$="{{node.title}}" on-click="handleClick">
				<i class$="{{join('', 'fa ', 'fa-', node.icon)}}"></i>
				<span class="nav-label">{{node.title}}</span>
				<template is="dom-if" if="{{node.nodes}}">
					<span class="fa arrow"></span>
				</template>
			</a>
			<template is="dom-if" if="{{node.nodes}}">
				<ul class$="{{join('', 'nav ', 'nav-', level, '-level')}}">
					<template is="dom-repeat" items="{{node.nodes}}">
						<nav-node node="{{item}}" level="{{level+1}}"></nav-node>
					</template>
				</ul>
			</template>
		</li>
	</template>
	<script>
		Polymer({
			is:"nav-node",
			properties : {
				node : {
					type: Object,
					readOnly : false
				},
				level : Number,
				active : {
					type : Boolean,
					value : true
				}
			},
			ready : function(){
                var self = this;
                if (window.jQuery) {
                    self.init()()
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
			},
            init: function() {
                var self = this;

				return function() {
					if (self.node.nodes) {
						self.menuShowing = true;
					}
					self.checkIfActive();
				}
            },
			checkIfActive : function(){
				this.active = this.isActive();
				if(this.$$("ul") != undefined) 
					this.$$("a.link").setAttribute("aria-expanded", this.active);
				
			},
			isActive : function(){
				var sameUrl = function(url){
                    return url == document.location.hash;
				};
				if (this.menuShowing) {
					return true;
				}
				return sameUrl(this.node.url) || (this.node.nodes != undefined && this.node.nodes.find(function(e){ return sameUrl(e.url); }) != undefined); 
			},
			join : function(separator){
				return Array.prototype.slice.call(arguments, 1).join(separator);
			},
			getActiveClass : function(active){
				return active ? "active" : "";
			},
            handleClick: function(target) {
				if (!this.node.nodes) {
					$(this).parent().find("nav-node").each(function(index, node) {
						if (node.active && !node.node.nodes) {
							node.active = false;
						}
					});
				}
				$('ul', this).toggleClass("collapse");
				if (this.menuShowing != null) {
					this.menuShowing = !this.menuShowing;
				}
				if (this.node.nodes) {
					this.active = !this.active;
				} else {
					this.active = true;
				}
            }
		});
	</script>
</dom-module>