<html-import html-href="ui-elements/groups/activities.html"></html-import>
<html-import html-href="ui-elements/groups/tabs.html"></html-import>
<dom-module id="default-view">
    <template>
        <style>
            .wrapper.wrapper-content {
                padding: 20px 10px 40px !important;
            }

            .sidebar-panel {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 3;
            }
            .height-controller {
                background-color: #F3F3F4;
                height: 2000px;
                margin-bottom: -2000px;
                overflow: hidden;
            }
            .col-md-4 {
                width: 33.33333333%;
            }
            .filler {
                position: absolute;
                right: 0;
                background-color: #EBEBED;
                z-index: 2;
                width: 33.33%;
            }
            .main-filler {
                position: absolute;
                left: 0;
                background-color: #F3F3F4;
                z-index: -1;
                width: 66.66%;
            }
        </style>

        <div class="main-filler height-controller"></div>
        <div class="filler height-controller"></div>
        <div class="container-fluid">
            <div class="row">
                    <div class="sidebar-panel col-md-4">
                        <activity-group activity-list="{{config.activities}}"></activity-group>
                    </div>
                    <div class="wrapper wrapper-content col-md-8">
                        <content></content>
                        <tab-group tab-list="{{config.tabs}}"></tab-group>
                    </div>
            </div>
        </div>
        <event-hub id="hub">
            <event-subscription event="loan:refresh" on-handle="getLoan"></event-subscription>
        </event-hub>
        <alloy-config id="config" config-ready="{{configReady}}"></alloy-config>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "default-view",
            properties: {
                config: {
                    type: Object
                }
            }
        });
    </script>
</dom-module>