<dom-module id="borrower-activities">
    <template>
        <style>
        </style>
        <alloy-table table-config="{{tableConfig}}"></alloy-table>
    </template>
    <script>
        Polymer({
            is: "borrower-activities",
            attached: function() {
                this.getTableData();
            },
            getTableData: function() {
                this.tableConfig = {
                    data: [
                        [
                            "Bank of America",
                            "$120,746.00",
                            "$24,558.00"
                        ]
                    ],
                    columns: [
                        { title: "Bank" },
                        { title: "Beginning Balance" },
                        { title: "Cash Money"}
                    ],
                    columnDefs: [
                        {
                            targets: [3],
                            orderable: false,
                            render: function(data, type, rowData, meta) {
                                return "<span class=\"btn btn-primary btn-xs detail-btn\">Details</span>"
                            }
                        }
                    ]
                };
                
            }
            
        });
    </script>
</dom-module>