<html-import html-href="ui-elements/tables/index.html"></html-import>
<dom-module id="borrower-payments">
    <template>
        <style>
        </style>
        <alloy-table table-config="{{tableConfig}}"></alloy-table>
    </template>
    <script>
        Polymer({
            is: "borrower-payments",
            attached: function() {
                this.getTableData();
            },
            getTableData: function() {
                this.tableConfig = {
                    pageLabel = "payments",
                    data: [
                        [
                            "Bank of America",
                            "$120,746.00",
                            "$24,558.00"
                        ]
                    ],
                    columns: [
                        { title: "Bank" },
                        { title: "Beginning Balance" },
                        { title: "Cash Money"}
                    ],
                    columnDefs: [
                        {
                            targets: [3],
                            orderable: false,
                            render: function(data, type, rowData, meta) {
                                return "<span class=\"btn btn-primary btn-xs detail-btn\">Details</span>"
                            }
                        }
                    ]
                }
            }
        });
    </script>
</dom-module>