<html-import html-href="loan-view/tabs.html"></html-import>
<html-import html-href="loan-view/details.html"></html-import>
<html-import html-href="loan-view/activities.html"></html-import>
<html-import html-href="loan-view/paging-overlay.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<dom-module id="loan-view">
    <style>
        .wrapper.wrapper-content {
            padding: 20px 10px 40px !important;
        }

        .sidebar-panel {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 3;
        }
        .height-controller {
            background-color: #F3F3F4;
            height: 2000px;
            margin-bottom: -2000px;
            overflow: hidden;
        }
        .col-md-4 {
            width: 33.33333333%;
        }
        .filler {
            position: absolute;
            right: 0;
            background-color: #EBEBED;
            z-index: 2;
            width: 33.33%;
        }
        .main-filler {
            position: absolute;
            left: 0;
            background-color: #F3F3F4;
            z-index: -1;
            width: 66.66%;
        }
    </style>
    <template>
        <div class="main-filler height-controller"></div>
        <div class="filler height-controller"></div>
        <div class="container-fluid">
            <div class="row">
                <div hidden$="{{!loanLoaded}}" class="sidebar-content">
                    <div class="sidebar-panel col-md-4">
                        <loan-activities current-loan="{{currentLoan}}" primary-borrower="{{primaryBorrower}}"></loan-activities>
                    </div>
                    <div class="wrapper wrapper-content col-md-8">
                        <paging-overlay paging-state="{{pagingState}}">
                            <loan-details current-loan="{{currentLoan}}" primary-borrower="{{primaryBorrower}}"
                            paging-state="{{pagingState}}"></loan-details>
                        </paging-overlay>
                        <micro-app app-id="loanTabs" current-loan="{{currentLoan}}"></micro-app>
                    </div>
                </div>
            </div>
        </div>
        <div hidden$="{{loanLoaded}}" class="sidebar-content app-shell">
            <div class="sidebar-panel col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title collapse-link">
                        <div class="ibox-tools"></div>
                    </div>
                    <div class="ibox-content"></div>
                </div>
            </div>
            <div class="wrapper wrapper-content col-md-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title"></div>
                            <div class="ibox-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <event-hub id="hub">
            <event-subscription event="loan:refresh" on-handle="getLoan"></event-subscription>
        </event-hub>
        <alloy-config id="config" config-ready="{{configReady}}"></alloy-config>
        <http-request id="http"></http-request>
    </template>
    <script>
        Alloy({
            is: 'loan-view',
            observe: ["log(currentLoan.status.*)"],
            properties: {
                pagingState: {
                    type: Object,
                    notify: true
                }
            },
            attached: function () {
                var self = this;

                self.loanLoaded = false;
                self.currentLoan;

                self.getLoan();

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener('WebComponentsReady', self.init());
                }
            },
            init: function() {
                var self = this;
                return function() {
                    var fixHeight = function () {
                        var heightWithoutNavbar = $("body > #wrapper").height() - 61;
                        $(".sidebar-panel").css("min-height", heightWithoutNavbar + "px");
                    }
                    fixHeight();
                    self.getLoan();
                }
            },
            getLoan: function () {
                var self = this;

                var getData = function (data) {
                    self.set("currentLoan", data);
                    self.set("appData", {
                        currentLoan: data
                    });
                    self.set("loanLoaded", true);
                    for (var i = 0; i < data.borrowers.length; i++) {
                        var borrower = data.borrowers[i];
                        if (borrower.isPrimary) {
                            self.set("primaryBorrower", borrower);
                            continue;
                        }
                    }
                }
                return self.$.http.get("/:loan/info", self.$.config.services.loan, getData);
            },
            resetView: function() {
                this.$.hub.publish("activities:reset");
                this.$.hub.publish("tabs:reset");
            }
        });
    </script>
</dom-module>
