<html-import html-href="applications/filter.html"></html-import>
<dom-module id="csr-applications-view">
    <template>
        <style>
        </style>
        <div class="wrapper wrapper-content">
            <div class="ibox-title">
                <h1>Applications</h1>
            </div>
            <div class="ibox-content table-responsive">
                <template is="dom-if" if="{{filterPath}}">
                    <applications-filter filter-path="{{filterPath}}"></applications-filter>
                </template>
            </div>
        </div>

        <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "csr-applications-view",
            attached: function() {
                var params = this.$.url.getParams();
                var filterTitle = params.filter;
                this.generateFilterPath(filterTitle);
            },
            generateFilterPath: function(filterTitle) {
                var statusCodes = this.config.filterMap[filterTitle.toLowerCase()];
                var url = "/status/" + statusCodes.join("/");
                this.filterPath = url;
            }
        });
    </script>
</dom-module>