<html-import html-href="services/dtm-application-service.html"></html-import>
<html-import html-href="ui-elements/spinner-backdrop.html"></html-import>

<dom-module id="fraud-detection">
    <template>
        <dtm-application-service id="dtmService"></dtm-application-service>
        <!--<spinner-backdrop is-busy="{{ isBusy }}"></spinner-backdrop>-->
    </template>
    <script>
        Polymer({
            is: "fraud-detection",

            behaviors: [eventHub, workflowActivityBehavior, dtmApplicationBehavior],

            properties: {
                isBusy: {
                    value: true,
                    type: Boolean
                }
            },

            observers: ["onIsBusyChanged(isBusy)"],

            onIsBusyChanged: function(isBusy) {
                this.publish("isBusy.changed", { isBusy: isBusy });
            },

            execute: function () {
                var self = this;
                var applicationNumber = this.getApplicationNumber();

                self.set("isBusy", true);
                this.executeFraudDetection(applicationNumber)
                // TODO REMOVE
//                Promise.resolve({
//                    output: {
//                        idMismatch: false,
//                        requiresReview: false,
//                        applicationNumber: "APP_0000000025_SUF"
//                    }
//                })
            .then(function (response) {
                        self.set("isBusy", false);
                        // TODO remove foced mismatch
//                        response.output.idMismatch = true;
//                        response.output.requiresReview = true;
                        if (response.output.requiresReview) {
                            self.terminateWorkflow("pending");
                        } else {
                            self.completeActivity(response.output);
                        }
                    })
                    .catch(function(error) {
                        self.set("isBusy", false);
                    });
            },

            executeFraudDetection: function (applicationNumber) {
                return this.ensure("dtmService").then(function (dtmService) {
                    return dtmService.executeFraudDetection(applicationNumber);
                });
            }
        });
    </script>
</dom-module>