<html-import html-href="dtm-application/id-verification-questions.html"></html-import>
<html-import html-href="services/instant-id-service.html"></html-import>
<html-import html-href="ui-elements/spinner-backdrop.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>

<dom-module id="id-verification">
    <template>

        <dtm-application-service id="dtmService"></dtm-application-service>
        <instant-id-service id="instantIdService"></instant-id-service>
        <!--<spinner-backdrop is-busy="{{ isBusy }}"></spinner-backdrop>-->

        <div class="alert alert-danger" hidden$="{{ shouldHideErrorMessages(errorMessages) }}">
            <ul>
                <template is="dom-repeat" items="{{ errorMessages }}">
                    <li>{{item}}</li>
                </template>
            </ul>
        </div>
        <form class="form-horizontal" hidden$="{{ shouldHideQuestions(questions) }}">
            <id-verification-questions questions="{{ questions }}"></id-verification-questions>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button-primary on-click="submit">Submit</button-primary>
                </div>
            </div>
        </form>
        <!--</div>-->
    </template>
    <script>
        // TODO rebuild rules engine response to preserve spaces within strings
        Polymer({
            is: "id-verification",

            behaviors: [eventHub, workflowActivityBehavior, dtmApplicationBehavior],

            properties: {
                errorMessages: {
                    value: function () {
                        return []
                    }
                },
                isBusy: {
                    value: true,
                    type: Boolean
                },
                requiresKba: {
                    value: false,
                    type: Boolean
                },
                questions: {
                    value: function () {
                        return []
                    },
                    type: Array
                }
            },

            observers: ["onIsBusyChanged(isBusy)"],

            onIsBusyChanged: function (isBusy) {
                this.publish("isBusy.changed", {isBusy: isBusy});
            },

            shouldHideErrorMessages: function (errorMessages) {
                return !errorMessages.length;
            },

            shouldHideQuestions: function (questions) {
                if (!questions) {
                    return true;
                }
                return !Object.keys(questions).length;
            },

            submit: function (e) {
                var self = this;
                var payload = {};
                var errors = {};

                e.preventDefault();
                e.stopPropagation();

                // Gather input values
                _.each(this.questions, function (q) {
                    // answerType === "single" aka radio buttons
                    if (q.answerType.toLowerCase() === "single") {
                        // Map input values into request payload
                        payload.answer = $("input[type=radio]:checked").map(function (i, elem) {
                            return {
                                questionId: $(this).attr("name"),
                                choices: [$(this).val()]
                            }
                        }).toArray();
                    }
                });

                payload.transactionId = this.getTransactionId(this.questionSet);
                payload.questionSetId = this.getQuestionSetId(this.questionSet);

                // Number of answers should match number of questions
                if (!payload.answer || payload.answer.length < this.questions.length) {
                    errors.required = "All questions must be answered";
                }

                // Extract error messages from errors object
                self.set("errorMessages", Object.keys(errors).map(function (key) {
                    return errors[key]
                }));

                // if no errors
                if (!Object.keys(errors).length) {
                    this.set("isBusy", true);

                    // Submit KBA question responses
                    this.$.dtmService.submitIdVerification(self.getApplicationNumber(), payload)
                            .then(function (response) {
                                self.set("isBusy", false);
                                if (response && response.type === "success") {
                                    if (response.output.requiresReview) {
                                        self.terminateWorkflow("pending");
                                    } else {
                                        self.completeActivity(self.getApplicationNumber());
                                    }
                                }
                            })
                            .catch(function () {
                                self.set("isBusy", false)
                            });
                }
            },

            getTransactionId: function (questionSet) {
                return questionSet.transactionId;
            },

            getQuestionSetId: function (questionSet) {
                return questionSet.questionSetId
            },

            execute: function () {
                var self = this;
                var applicationNumber = self.getApplicationNumber();

                if (self.output.idMismatch) {
                    self.initKba();
                } else {
                    self.completeActivity(applicationNumber)
                }
            },

            prettyPrintJSON: function (json) {
                return JSON.stringify(json, null, 2);
            },

            next: function (e) {
                e.stopPropagation();
                // TODO Examine why this is hardcoded?
                var applicationNumber = "app001";
                this.completeActivity(applicationNumber);
            },

            initKba: function () {
                var self = this;

                this.ensure("dtmService")
                        .then(function (dtmService) {
                            self.set("isBusy", true);
                            return dtmService.executeIdVerification(self.getApplicationNumber())
                        })
                        .then(function (response) {
                            if (!response.output.questions.question) {
                                self.completeActivity(self.getApplicationNumber());
                                return Promise.reject("Unable to initiate KBA.");
                            }

                            self.set("questionSet", response.output);
                            return response;
                        })

                        .then(self.extractQuestions)
                        .then(function (questions) {

                            self.set("questions", questions);
                            self.set("requiresKba", false);
                            self.set("isBusy", false);
                        })
                        .catch(function (error) {
                            setTimeout(function () {
                                console.error(error);
                            });
                            self.set("isBusy", false);
                        });
            },

            extractQuestions: function (response) {
                return response.output.questions.question;
            },

//            extractQuestions: function (response) {
//                if (response && response.type) {
//                    return response.output.questions;
//                }
//            }
        });
    </script>
</dom-module>