<dom-module id="id-verification-questions">
    <template>
        <style>
            input[type=radio] {
                opacity: 1 !important;
            }

            .hr-line-dashed {
                margin: 20px 0;
            }
        </style>

        <!--<pre>{{ prettyPrintJSON(questions) }}</pre>-->


        <!--repeat over all questions-->
        <template is="dom-repeat" items="{{ questions }}" as="q">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <!--show only if the question is single answer type-->
                    <template is="dom-if" if="{{ isSingleAnswerType(q) }}">
                        <h4>{{ extractQuestionText(q) }}</h4>

                        <!--repeat over answer choices-->
                        <template is="dom-repeat" items="{{ q.choice }}" as="choice">
                            <div>
                                <input-label for="{{ choice.choiceId }}" class="control-label">
                                    <input
                                        type="radio"
                                        id="{{ choice.choiceId }}"
                                        value="{{ choice.choiceId }}"
                                        name="{{ q.questionId }}">
                                    {{ extractChoiceText(choice) }}
                                </input-label>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
        </template>

    </template>
    <script>
        Polymer({
            is: "id-verification-questions",

            properties: {
                questions: Array,
                onSubmit: Object,
                language: {
                    value: "english"
                }
            },

            isSingleAnswerType: function (q) {
                return q.answerType.toLowerCase() === "single";
            },

            extractQuestionText: function (question) {
                return this.extractByLanguage(question.text)[0].statement;
            },

            extractChoiceText: function (choice) {
                return this.extractByLanguage(choice.text)[0].statement;
            },

            extractByLanguage: function (collection) {
                var language = this.language;
                return _.filter(collection, function (item) {
                    return item.language.toLowerCase() === language;
                })
            },

            prettyPrintJSON: function (json) {
                return JSON.stringify(json, null, 2);
            }
        });
    </script>
</dom-module>