<html-import html-href="ui-elements/button-primary.html"></html-import>
<dom-module id="dtm-oncomplete">
<template>
    <template is="dom-if" if="{{ isDeclined(output) }}">
        <h1>Your Loan Application is Declined</h1>
        <p>Thank you for your loan application. Your application for credit was carefully considered and we regret that we are unable to approve your application at this time.</p>
        <p>Thank you for your interest with LendingUSA.</p>
        <p>LendingUSA</p>
        <br>
        <button-primary on-click="goToDashboard">Go To Dashboard</button-primary>
    </template>


    <template is="dom-if" if="{{ isPending(output) }}">
        <h1>Your Loan Application is Under Review</h1>
        <p>Thank you for your loan application. Your application is under review and one of our team members will be in touch with your shortly.
            As we continue to work together, you can access your account information by visiting your Account Dashboard.</p>
        <p>Glad to be of service for all your financial needs!</p>
        <p>LendingUSA</p>
        <br>
        <button-primary on-click="goToDashboard">Go To Dashboard</button-primary>
    </template>

    <template is="dom-if" if="{{ isApproved(output) }}">
        <h1>Your Loan Application is Approved</h1>
        <p>Congratulations, your loan has been approved. Your funds will be sent to your bank shortly. Please note that your bank may take up to four
            additional business days to show the loan in your account.</p>
        <p>As we continue to work together, you can access your account information by visiting your <a href="#/dashboard">Account Dashboard</a>.</p>
        <p>Welcome Aboard!</p>
        <p>LendingUSA</p>
        <br>
        <button-primary on-click="goToDashboard">Go To Dashboard</button-primary>
    </template>

</template>
<script>
    Polymer({
        is: "dtm-oncomplete",

        behaviors: [eventHub, workflowActivityBehavior],

        isDeclined: function(output) {
            return output.reason && output.reason.toLowerCase() === "declined";
        },

        isApproved: function(output) {
            return output.reason && output.reason.toLowerCase() === "approved";
        },

        isPending: function(output) {
            return output.reason && output.reason.toLowerCase() === "pending";
        },

        goToDashboard: function(e) {
            e.preventDefault();
            window.location.href ="#/dashboard";
        }
    });
</script>
</dom-module>