<html-import html-href="ui-elements/inputs/text-input.html"></html-import>
<html-import html-href="ui-elements/inputs/input-label.html"></html-import>
<html-import html-href="ui-elements/inputs/select-input.html"></html-import>
<html-import html-href="ui-elements/forms/form-title.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<html-import html-href="ui-elements/forms/form-error.html"></html-import>
<html-import html-href="ui-elements/button-secondary.html"></html-import>

<html-import html-href="services/values-service.html"></html-import>
<html-import html-href="services/form-factory.html"></html-import>
<html-import html-href="services/offer-engine-service.html"></html-import>
<html-import html-href="services/dtm-application-service.html"></html-import>
<html-import html-href="services/consent-tracker-service.html"></html-import>
<!--<html-import html-href="services/identity/session-manager.html"></html-import>-->


<dom-module id="short-app">
    <template>
        <div class="component-deps">
            <dtm-application-service id="dtmService"></dtm-application-service>
            <values-service id="values"></values-service>
            <form-factory id="formFactory"></form-factory>
            <offer-engine-service id="offerEngine"></offer-engine-service>
            <consent-tracker-service id="consentTrackerService"></consent-tracker-service>
            <http-request-promisified id="$http"></http-request-promisified>
            <session-manager id="sessionManager"></session-manager>
        </div>

        <style>
            input-label {
                text-align: right;
            }

            .alert.alert-danger.alert-sm {
                padding: 5px;
            }
        </style>

        <button on-click="fill">Fill</button>
        <form class="form-horizontal">
            <form-block>
                <div class="col-sm-9 col-sm-offset-3">
                    <form-title content="Check My Rate"></form-title>
                </div>
            </form-block>

            <form-block hidden$="{{ !formMessage }}">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="alert alert-danger">{{ formMessage }}</div>
                </div>
            </form-block>

            <form-block error-keys="firstName, lastName">
                <input-label for="firstName" class="col-sm-3">Name</input-label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <text-input id="firstName" placeholder="First"></text-input>
                            <form-error error-keys="firstName"></form-error>
                        </div>
                        <div class="col-sm-6">
                            <text-input id="lastName" placeholder="Last"></text-input>
                            <form-error error-keys="lastName"></form-error>
                        </div>
                    </div>
                </div>
            </form-block>

            <form-block error-keys="dobMonth, dobDay, dobYear">
                <input-label for="dobMonth" class="col-sm-3">Date of Birth</input-label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <select-input items="{{ months }}" id="dobMonth" placeholder="Month"></select-input>
                            <form-error error-keys="dobMonth"></form-error>
                        </div>
                        <div class="col-sm-4">
                            <text-input items="{{ days }}" id="dobDay" placeholder="Day"></text-input>
                            <form-error error-keys="dobDay"></form-error>
                        </div>
                        <div class="col-sm-4">
                            <text-input items="{{ years }}" id="dobYear" placeholder="Year"></text-input>
                            <form-error error-keys="dobYear"></form-error>
                        </div>
                    </div>
                </div>
            </form-block>

            <form-block error-keys="ssn">
                <input-label for="ssn" class="col-sm-3">SSN</input-label>
                <div class="col-sm-9">
                    <text-input id="ssn" placeholder="XXX-XX-XXXX"></text-input>
                    <form-error></form-error>
                </div>
            </form-block>

            <form-block error-keys="email">
                <input-label for="email" class="col-sm-3">Email Address</input-label>
                <div class="col-sm-9">
                    <text-input id="email"></text-input>
                    <form-error></form-error>
                </div>
            </form-block>

            <form-block error-keys="password">
                <input-label for="password" class="col-sm-3">Password</input-label>
                <div class="col-sm-9">
                    <text-input type="password" id="password"></text-input>
                    <form-error></form-error>
                </div>
            </form-block>

            <form-block error-keys="address">
                <input-label for="address" class="col-sm-3">Home Address</input-label>
                <div class="col-sm-9">
                    <text-input id="address" placeholder="As listed on your state issued ID"></text-input>
                    <form-error></form-error>
                </div>
            </form-block>

            <form-block error-keys="city, state, zip">
                <div class="col-sm-9 col-sm-offset-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <text-input id="city" placeholder="City"></text-input>
                            <form-error error-keys="city"></form-error>
                        </div>
                        <div class="col-sm-3">
                            <select-input items="{{ states }}" id="state" placeholder="State"></select-input>
                            <form-error error-keys="state"></form-error>
                        </div>
                        <div class="col-sm-3">
                            <text-input id="zip" placeholder="Zip"></text-input>
                            <form-error error-keys="zip"></form-error>
                        </div>
                    </div>
                </div>
            </form-block>

            <form-block error-keys="phone, homeOwnerShip">
                <input-label for="phone" class="col-sm-3">Phone Number</input-label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <text-input id="phone"></text-input>
                            <form-error error-keys="phone"></form-error>
                        </div>
                        <div class="col-sm-6">
                            <select-input id="homeOwnership" items="{{ homeOwnership }}"
                                          placeholder="Home Ownership"></select-input>
                            <form-error error-key="homeOwnership"></form-error>
                        </div>
                    </div>
                </div>
            </form-block>


            <form-block error-keys="annualGrossIncome, employmentStatus">
                <input-label for="annualGrossIncome" class="col-sm-3">Annual Gross Income</input-label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <text-input id="annualGrossIncome" placeholder="$"></text-input>
                            <form-error error-key="annualGrossIncome"></form-error>
                        </div>
                        <div class="col-sm-6">
                            <select-input id="employmentStatus" items="{{ employmentStatus }}"
                                          placeholder="Employment Status"></select-input>
                            <form-error error-key="employmentStatus"></form-error>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                <small style="color: #aaa">*Alimony, Child Support, or Separate Maintenance income need
                                    not be included unless relied upon for
                                    credit.
                                    You may include the
                                    monthly amount that you have available to spend from your assets. Stated income may
                                    be subject to income verification.
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </form-block>

            <form-block error-keys="loanAmount, loanPurpose">
                <input-label for="loanAmount" class="col-sm-3">Loan Amount</input-label>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <text-input id="loanAmount" placeholder="($1,000.00 - $35,000.00)"></text-input>
                            <form-error></form-error>
                        </div>

                        <div class="col-sm-6">
                            <select-input id="loanPurpose" items="{{ loanPurpose }}">
                            </select-input>
                            <form-error error-keys="loanPurpose"></form-error>
                        </div>
                    </div>
                </div>
            </form-block>

            <form-block error-keys="agreeToTerms, consentToESign">
                <div class="col-sm-6 col-sm-offset-3">

                    <div>
                        <input-label>
                            <input class=" pull-left" type="checkbox" value="" id="agreeToTerms">&nbsp I agree to the
                            <span
                                    class="consent"><a>Terms of Use</a></span>
                        </input-label>
                        <form-error error-keys="agreeToTerms"></form-error>
                    </div>

                    <div>
                        <input-label>
                            <input class=" pull-left" type="checkbox" value="" id="consentToESign">&nbsp I consent to
                            <span class="consent">eSign</span>
                            and <span
                                class="consent">Credit Report Authorization</span>
                        </input-label>
                        <form-error error-keys="consentToESign"></form-error>
                    </div>

                    <div class="alert alert-danger alert-sm"
                         hidden$="{{ shouldHideConsentErrorMessage(consentErrorMessage) }}">
                        {{ consentErrorMessage }}
                    </div>

                </div>
                <div class="col-sm-3 text-right">
                    <button-secondary on-click="submit" disabled="{{ form.state.isSubmitting }}">Get My Rate
                    </button-secondary>
                </div>
            </form-block>
        </form>
    </template>
    <script>
        Polymer({
            is: "short-app",

            /**
             * For demo and testing purposes
             */
            fill: function () {
                var self = this;
                _.forOwn(this.test.form, function (v, k) {
                    self.setField(k, v);
                });
                self.setField("email", "harry" + parseInt(Math.random() * 1000 + 1000) + "@me.com");
            },

            /**
             * For demo and testing purposes
             */
            test: {
                "form": {
                    "firstName": "CARLETTA",
                    "lastName": "DCZZH",
                    "dobMonth": "02",
                    "dobDay": "03",
                    "dobYear": "1987",
                    "ssn": "666001666",
                    "email": "h@henderson.com",
                    "password": "123123",
                    "address": "123 Redhill blvd",
                    "city": "KANSAS CITY",
                    "state": "MO",
                    "zip": "64101",
                    "phone": "1234567",
//                    "loanPurpose": "Travel",
                    "loanAmount": "15000",
                    "annualGrossIncome": "100000",
                    "agreeToTerms": true,
                    "consentToESign": true,
                    "homeOwnership": "Rent",
                    "employmentStatus": "Employed",
                    "entityId": "685c7ed2dc354e768c9d23cec80902e3",
                    "entityType": "Merchant"
                }
            },
            behaviors: [
                eventHub,
                workflowActivityBehavior,
                formBehavior,
                formMessages,
                formValidators,
                dtmApplicationBehavior
            ],

            properties: {
                isBusy: {
                    value: false,
                    type: Boolean
                },
                consentErrorMessage: {
                    value: "",
                    type: String
                },
                formMessage: {
                    value: "",
                    type: String
                }
            },

            observers: ["getBusy(form.state.isSubmitting, isBusy)"],

            getBusy: function (isSubmitting, isBusy) {
                this.publish("isBusy.changed", {
                    isBusy: isSubmitting || isBusy
                });
            },

            shouldHideConsentErrorMessage: function (errorMessage) {
                return errorMessage.length === 0;
            },

            attached: function () {
                var self = this;

                this.ensure("values").then(function (values) {
                    self.set("homeOwnership", _.values(values.homeOwnershipStatus));
                    self.set("employmentStatus", _.values(values.employmentStatus));
                    self.set("months", values.monthsDropdown);
                    self.set("states", values.statesDropdown);
                });

                self.set("loanPurpose", [{
                    label: "Travel",
                    value: "Travel",
                    disabled: true,
                    selected: true
                }]);

                self.createForm();

                // Grab email and save to session storage
                this.ensure("$http")
                        .then(function ($http) {
                            return $http.get("/", window.config.services.security);
                        })
                        .then(function (response) {
                            var email = response.result.email;
                            self.$.sessionManager.setSession("email", email);
                            self.$.sessionManager.setSession("entityType", "Merchant");
                        });
            },

            createForm: function () {
                var self = this;
                return self.ensure("formFactory").then(function (formFactory) {
                    self.set("form", formFactory.create({
                        fields: [
                            "firstName",
                            "lastName",
                            "dobMonth",
                            "dobDay",
                            "dobYear",
                            "ssn",
                            "email",
                            "password",
                            "address",
                            "city",
                            "state",
                            "zip",
                            "phone",
                            "loanPurpose",
                            "loanAmount",
                            "annualGrossIncome",
                            "agreeToTerms",
                            "consentToESign",
                            "homeOwnership",
                            "employmentStatus"
                        ],
                        validate: function (formData) {
                            var errors = {};
                            var result;
                            // Require all fields
                            _.filter(formData, function (value, field) {
                                errors[field] = [];
                                result = self.validators.isRequired(value);
                                if (result) {
                                    Array.isArray(errors[field]) ?
                                            errors[field].push(result) :
                                            errors[field] = [result];
                                }
                            });
                            return errors;
                        }
                    }));
                });
            },
            /**
             * Save consent to consent tracker service
             * @param {string} consentType
             * @param {string} entityId
             * @param {string} entityType
             * @returns {*|Promise.<any>}
             */
            consent: function (consentType, entityId, entityType) {
                return this.$.consentTrackerService.accept(consentType, entityId, entityType);
            },

            completeForm: function () {
                var self = this;
                this.gatherFieldValues();
                var payload = self.form.data;

                self.set("isBusy", true);
                var email = "";
                var email = self.$.sessionManager.getSession("email");
                var entityType = self.$.sessionManager.getSession("entityType");
                // Append entityType and merchantId to payload
                self.$.$http.get(email + "/email", window.config.services.merchant)
                        .then(function (response) {
                            payload.entityType = entityType;
                            payload.entityId = response.merchantId;
                            // TODO REMOVE
//                            payload.entityId = "MER0000000040";
                            return self.executeShortApp(payload);
                        })

                        // Ensure the response has the correct properties
                        .then(validateResponse)

                        // Consents are enforced after creating the application
                        .then(requireConsents)

                        // Complete or cancel if necessary
                        .then(complete)
                        .catch(handleError);

                function validateResponse(response) {
                    self.set("formMessage", "");
                    if (response.output.error) {
                        return Promise.reject({
                            show: true,
                            error: response.output.error
                        });
                    }

                    if (response.output && !response.output.applicationNumber) {
                        return Promise.reject("Expected output to have applicationNumber");
                    }
                    return response;
                }

                function requireConsents(response) {
                    var consentsGiven;
                    var requiredConsents;
                    self.set("consentErrorMessage", "");
                    // Gather required consents from template
                    requiredConsents = $("input[type=checkbox]")
                            .siblings(".consent")
                            .map(function () {
                                return $(this).text();
                            })
                            .toArray();

                    // Gather consents given from template
                    consentsGiven = $("input[type=checkbox]:checked")
                            .siblings(".consent")
                            .map(function () {
                                return $(this).text();
                            })
                            .toArray();

                    // Did the user give all the required consents?
                    if (!_.isEqual(consentsGiven, requiredConsents)) {
                        self.set("consentErrorMessage", "Consent must be given for these items");
                        return Promise.reject("All consents required");
                    }

                    // TODO Reimplement consent saving
                    return Promise.all(consentsGiven.map(function (consentType) {
//                                return self.consent(consentType, response.output.applicationNumber, "applicant");
                        return consentType;
                    }))

                    // We want to pass the original response to the next step of the promise chain
                            .then(function () {
                                return response;
                            })

                            // This catch confined to the promise array of consents
                            .catch(function (error) {
                                console.error("Could not save consent.", error);
                                return Promise.reject(error);
                            });
                }

                function complete(response) {
                    self.set("isBusy", false);
                    if (response.output.declined) {
                        self.terminateWorkflow("declined");
                    } else {
                        self.completeActivity(response.output.applicationNumber);
                    }
                }

                function handleError(error) {
                    if (error instanceof Error) {
                        console.warn(error);
                        return;
                    }

                    if (error.show) {
                        self.set("formMessage", error.error);
                    }

                    self.set("isBusy", false);
                }
            },

            executeShortApp: function (payload) {
                return this.ensure("dtmService")
                        .then(function (dtmService) {
                            return dtmService.executeShortApp(payload);
                        });
            }
        });
    </script>
</dom-module>