<html-import html-href="dtm-application/tila-contract.html"></html-import>
<html-import html-href="services/form-factory.html"></html-import>
<html-import html-href="services/consent-tracker-service.html"></html-import>
<html-import html-href="services/offer-engine-service.html"></html-import>
<html-import html-href="services/dtm-application-service.html"></html-import>
<!--<html-import html-href="services/"></html-import>-->


<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<html-import html-href="ui-elements/forms/form-error.html"></html-import>

<dom-module id="tila-doc">
    <template>
        <form-factory id="formFactory"></form-factory>
        <consent-tracker-service id="consentTrackerService"></consent-tracker-service>
        <offer-engine-service id="offerEngineService"></offer-engine-service>
        <dtm-application-service id="dtmService"></dtm-application-service>


        <style>
            .light-label {
                font-weight: 400;

            }

            .tila-modal {
                width: 50%;
            }
        </style>

        <div class="modal fade" id="tilaModal" tabindex="-1" role="dialog">
            <div class="modal-dialog tila-modal">
                <div class="modal-content">
                    <div class="modal-body">
                        <tila-contract loan-offer="{{ loanOffer }}"></tila-contract>
                        <form>
                            <form-block error-keys="signature">
                                <p>Clicking the box below constitutes electronic signature and acceptance of:</p>
                                <label class="light-label">
                                    <input id="signature" type="checkbox">&nbsp<span><a>Loan Agreement</a>, <a>Borrower Agreement</a>, <a>Privacy
                                    Notice</a>, <a>Electronic
                                    Signature</a>
                                    and <a>Credit Score Notice</a></span>
                                </label>
                                <form-error></form-error>
                            </form-block>
                            <div class="text-center">
                                <button-primary on-click="submit">Accept & Submit</button-primary>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <script>

        // TODO call the rule decision engine for tila contract data
        // - get contract template bindings from rule engine request
        // - call rule engine to complete application
        // - on successful response complete step
        Polymer({
            is: "tila-doc",

            behaviors: [eventHub, workflowActivityBehavior, formBehavior, formMessages, dtmApplicationBehavior],

            properties: {
                isBusy: {
                    value: true,
                    type: Boolean
                },
                form: Object,
                loanOffer: Object
            },

            observers: ["getBusy(form.state.isSubmitting, isBusy)"],

            getBusy: function (isSubmitting, isBusy) {
                this.publish("isBusy.changed", {
                    isBusy: isSubmitting || isBusy
                })
            },

            attached: function () {
                var self = this;

                self.createForm();
                self.fetchOffers();
                //  get offer info from decision engine
            },

            execute: function () {
                var self = this;
                this.executeGenerateTila()
                    .then(function (response) {
                        $("#tilaModal").modal({
                            keyboard: false,
                            show: true,
                            backdrop: 'static'
                        });


                    });
            },

            executeGenerateTila: function () {
                var self = this;
                return this.ensure("dtmService")
                    .then(function (dtmService) {
                        return dtmService.executeGenerateTila(self.getApplicationNumber());
                    })
                    .then(function (response) {
                        console.log(response);
                        self.set("loanOffer", response.output);
                        return response;
                    });
            },

            fetchOffers: function () {
                var self = this;

                self.ensure("offerEngineService")
                    .then(function (offerEngineService) {
                        return offerEngineService.getOffersByApplicationNumber(self.getApplicationNumber());
                    })
                    .then(self.$.offerEngineService.getSelectedOffer)
                    .then(function (selectedOffer) {
                        self.set("selectedOffer", selectedOffer);
                    });
            },

            completeForm: function () {
                // TODO complete step by calling decision engine
                var self = this;
                var applicationNumber = self.getApplicationNumber();
                this.ensure("dtmService")
                    .then(function (dtmService) {
                        self.set("isBusy", true);
                        return dtmService.executeSignTila(applicationNumber);
                    })
                    .then(function () {
                        self.set("isBusy", false);

                        $("#tilaModal").modal('hide');

                        self.completeActivity({
                            applicationNumber: applicationNumber,
                            reason: "approved"
                        });
                    }).catch(function (error) {
                        self.set("isBusy", false);
                    });
            },

            createForm: function () {
                var self = this;

                // Instantiate form object
                self.ensure("formFactory")
                    .then(function (formFactory) {
                        self.set("form", formFactory.create({
                            fields: ["signature"],
                            validate: function (formData, errors) {
                                return {
                                    signature: function () {
                                        return [formData.signature ? null : "isRequired"];
                                    }
                                };
                            }
                        }));

                        // Set up form errors for required consents
                        $("a", self).each(function () {
                            var consentType = $(this).text();
                            self.addFormError(consentType, "consentRequired");
                        });

                        // Save consent when checkbox is checked
                        $("input[type=checkbox]", self).on("change", function () {
                            if (this.checked) {
                                $("a", self).each(function () {
                                    var consentType = $(this).text();
//                                    self.set("isBusy", true);
                                    delete self.form.errors[consentType];
//                                    self.consent(consentType, self.getApplicationNumber(), "borrower")
//                                        .then(function () {
//                                            delete self.form.errors[consentType];
//                                            self.set("isBusy", false);
//                                        })
//                                        .catch(function (error) {
//                                            self.set("isBusy", false);
//                                        });
                                });
                            }
                        });
                    });
            },

            /**
             * Save consent to consent tracker service
             * @param {string} consentType
             * @param {string} entityId
             * @param {string} entityType
             * @returns {*|Promise.<any>}
             */
            consent: function (consentType, entityId, entityType) {
                return this.$.consentTrackerService.accept(consentType, entityId, entityType);
            }
        });
    </script>
</dom-module>