<html-import html-href="services/format.html"></html-import>
<dom-module id="tila-contract">
    <template>
        <alloy-format id="alloyFormat"></alloy-format>

        <style>
            :host table.table.table-bordered {
                table-layout: fixed;
            }

        </style>
        <h1>LOAN AGREEMENT</h1>
        <p>

        </p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    <p>LOAN NUMBER</p>
                </th>
                <th>
                    <p>NOTE DATE</p>
                </th>
                <th>
                    <p>PRINCIPAL AMOUNT</p>
                </th>
                <th>
                    <p>MATURITY DATE</p>
                </th>
                <th>
                    <p>INTEREST RATE</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ loanOffer.applicationNumber }}</td>
                <td>{{ formatDate(loanOffer.noteDate) }}</td>
                <td>{{ formatCurrency(loanOffer.amountFinanced) }}</td>
                <td>{{ formatDate(loanOffer.maturityDate) }}</td>
                <td>{{ loanOffer.interestRate }}%</td>
            </tr>
            </tbody>
        </table>
        <p>

        </p>
        <h1>BORROWER INFORMATION:</h1>
        <address>
            {{ formatName(loanOffer) }} <br>
            {{ loanOffer.applicant.primaryAddress.line1 }} <br>
            {{ loanOffer.applicant.primaryAddress.city }}, {{ loanOffer.applicant.primaryAddress.zipCode}}, {{ loanOffer.applicant.primaryAddress.state }}
        </address>
        <p>

        </p>
        <h1>LENDER INFORMATION:</h1>
        <address>
            Cross River Bank 885 Teaneck Road <br>
            Teaneck, NJ 07666
        </address>
        <h4>This Loan Agreement will be referred to in this document as the “Note” and includes any extensions, renewals, modifications, and substitutions of
            this Note.</span>
        </h4>
        <h4>. “Lender,” “we,” “us,” or “our” means Cross River Bank, a federally insured New Jersey state-chartered commercial bank, whose address is stated
            above, and its successors and assigns.</span>
        </h4>
        <h4>“Borrower,” “you,” or “your” means each person who signs this Note.</span>
        </h4>
        <h4>You promise to the principal amount of {{ formatCurrency(loanOffer.amountFinanced) }} (which includes a non-refundable loan origination charge of
            ${{ loanOffer.originationFee }}), plus interest on the
            outstanding principal balance and any other charges. You promise to pay according to the Payment Schedule below. You will pay such amounts to
            the order of Lender at our office at the address noted above or at such other place as we or our Bank Servicer may designate in writing. You
            will make all payments in lawful money of the United States of America. You understand that we may, at our option, transfer this Note.</span>
        </h4>
        <h1>FEDERAL TRUTH IN LENDING DISCLOSURES</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    <p>ANNUAL PERCENTAGE RATE</p>
                </th>
                <th>
                    <p>FINANCE CHARGE</p>
                </th>
                <th>
                    <p>AMOUNT FINANCED</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p>The cost of your credit as a yearly rate.</p>
                </td>
                <td>
                    <p>The dollar amount the credit will cost you.</p>
                </td>
                <td>
                    <p>The amount of credit provided to you or on your behalf.</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>{{ loanOffer.apr }}%</p>
                </td>
                <td>
                    <p>{{ formatCurrency(loanOffer.financeCharges) }}</p>
                </td>
                <td>
                    <p>{{ formatCurrency(loanOffer.amountFinanced) }}</p>
                </td>
            </tr>
            </tbody>
        </table>

        <p>Your payment schedule will be:</p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    <p>Number of Payments</p>
                </th>
                <th>
                    <p>Amount of Payments</p>
                </th>
                <th>
                    <p>When Payments are Due</p>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p>{{ getNumberOfPayments(loanOffer.paymentCount) }}</p>
                </td>
                <td>
                    <p>{{ formatCurrency(loanOffer.firstPaymentAmount) }}</p>
                </td>
                <td>
                    <p>Your
                        first payment is due on {{ formatDate(loanOffer.firstPaymentDate) }} and each subsequent payment is due monthly thereafter on the same
                        day of each month.</p>
                </td>
            </tr>

            <tr>
                <td>
                    <p>1</p>
                </td>
                <td>
                    <p>{{ formatCurrency(loanOffer.lastPaymentAmount) }}</p>
                </td>
                <td>
                    <p>Last payment is due on
                        {{ formatDate(loanOffer.lastPaymentDate) }}
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
        <h4>You are giving a security interest in the [Payment Instrument/ ACH Debit Authorization/ Recurring ACH Authorization for Returned Check Charge
            Remotely Created Checks].</span>
        </h4>
        <h4>If you fail to make a payment within fifteen (15) days of its scheduled due date, you will be charged $15.</span>
        </h4>
        <h4>If you pay off early, you will not have to pay a penalty, and you will not be entitled to a refund of any part of the finance charge.</span>
        </h4>
        <p>See your contract documents for any additional information about nonpayment, default,
            any required repayment in full before the scheduled date, and prepayment penalties and refunds.</p>

        <p><strong>Itemization of Amount Financed of </strong>{{ formatCurrency(loanOffer.amountFinanced) }}</p>
        <p><strong>Amount given to you directly </strong>{{ formatCurrency(loanOffer.amountFinanced) }}</p>
        <p><strong>Amount paid on your account </strong>{{ formatCurrency(loanOffer.amountFinanced) }}</p>
        <p><strong>Prepaid Finance Charge (Non-Refundable Loan Origination Fee)</strong> {{ formatCurrency(loanOffer.financeCharges) }}
        </p><br>
        <h4>This offer of this Note expires if you do not sign and submit it by {{ formatDate(loanOffer.noteExpirationDate) }}. If you submit this Note after
            such date
            or if
            inadvertent processing
            issues exist, then you acknowledge that this Note will not be binding. In those scenarios, you acknowledge that we may, in our sole discretion,
            offer you the opportunity to sign a new note replacing this Note.
        </h4>
        <h4>NONREFUNDABLE LOAN ORIGINATION FEE, INTEREST RATE AND SCHEDULED
            PAYMENT CHANGES. <span>You agree to pay us a non-refundable loan origination fee, which we have included in the principal loan amount, and withheld from the proceeds of this loan. The Finance Charge begins to accrue on the date the non-refundable loan origination fee is withheld from the proceeds of this loan, which is {{ formatDate(loanOffer.noteDate) }}. The simple interest rate on this Note will be fixed at {{ loanOffer.apr }}% per annum, charged on the principal amount outstanding. Nothing contained herein shall be construed to re- quire you to pay interest at a greater rate than the maximum allowed by law. This is a simple interest note. The Finance Charge is figured on a 360-day a year simple interest basis by applying the ratio of the Annual Percentage Rate over 360 multiplied by the outstanding principal balance and multiplied by the actual number of days the principal balance is outstanding. For the purpose or this calcula- tion interest is calculated daily on the basis of a 360-day year with 12 months each of which is 30 (or 30/360) long, regardless if a month has more or less than 30 days. Your actual Finance Charge will depend on your payment patterns. The actual Finance Charge may be more than the Finance Charge disclosed on the front of this Note if you make your payments later than the scheduled dates or in less than the scheduled amount. Payments will be applied first to any fees or charges, then the earned Finance Charge, and then to the unpaid Amount Financed.</span>
        </h4>
        <h4>If your payment is returned unpaid, you agree to pay a returned payment fee of $15 to us, pursuant to applicable law. At our discretion, and after
            any notice required by applicable law, we may add such fee to the balance owing under this Note.
        </h4>
        <h4>If any required payment is not made within fifteen (15) days of its scheduled due date, then at our option, we will assess a late payment charge of
            $15. We will not impose a late charge if the only delinquent amount is part or all of a prior late charge.
        </h4>
        <h4>You agree to pay all of our costs and expenses incurred in connection with the enforcement of this Note including, without limitation, reasonable
            attorneys’ fees and court costs, to the extent permitted by law.
        </h4>
        <h4>This Note may be prepaid in full or in part at any time without penalty. If you prepay, you will not be entitled to a rebate of any portion of the
            non-refundable loan origination fee.
        </h4>
        <h4>Pursuant to Comment 2(a)(25) of the Federal Reserve Board Official Staff Commentary to Regulation Z §1026.2, we have disclosed to you that our
            interest in the [Payment Instrument/ ACH Debit Authorization] / Recurring ACH Authorization for Returned Check Charge Remotely Created Checks.] you
            have agreed to are a security interest for Federal Truth-in-Lending purposes only, because federal and state law do not clearly address whether our
            interest in the [Payment Instrument/ ACH Debit Authorization] / Recurring ACH Authorization for Returned Check Charge Remotely Created Checks] are a
            “security interest.” However, the federal Truth-in-Lending disclosures are not intended to create a security interest under state law and shall not
            be evidence of or an admission by us that this transaction is anything other than an unsecured loan.
        </h4>
        <p>

        </p>
        <h4>APPLICATION OF PAYMENTS. The non-refundable loan origination fee is
            withheld from the loan proceeds. Your payments directly to us will be applied first to [other fees and charges], then to accrued but unpaid interest, then to [principal].
        </h4>
        <h4>You will be in default and we may, to the extent permitted by law, declare the entire unpaid balance of this loan immediately due and payable
            if:
        </h4>
        <ol id="l1">
            <li>
                <p>You do not keep any promise or perform any obligation under this Note or any other agreement that you may have with
                    us;</p>
            </li>
            <li>
                <p>You give us false or misleading information in order to obtain, or while you owe on, this loan; or</p>
            </li>
            <li>
                <p>You die or become involved in any bankruptcy, receivership, insolvency, or custodial proceedings brought by or
                    against you.</p>
            </li>
        </ol>
        <h4>If you are in default under this Note, we may accelerate and require payment of the entire unpaid balance of this loan and use all remedies
            available to us. Lender reserves the right to report loan payment delinquencies of 30 days or longer to one or more consumer reporting agencies in
            accordance with applicable law. Borrower agrees to pay all costs of collecting any delinquent payments, including reasonable attorneys’ fees, as
            permitted by applicable law.</span>
        </h4>
        <h4>We may assign, pledge or transfer this Note or any of our rights and remedies without notice, with all or any of the obligations. The assignee shall
            have the same rights and remedies as if named herein in place of Lender. You may not assign this Note or any benefit accruing hereunder without our
            express written consent.</span>
        </h4>
        <h4>If a court of competent jurisdiction determines any term or provision of this Note is invalid or prohibited by applicable law, that term or
            provision will be ineffective to the extent required. Any term or provision that has been determined to be invalid or prohibited will be severed
            from the rest of this Note without invalidating the remainder of either the affected provision or this Note.</span>
        </h4>
        <h4>The headings preceding text in this Note are for your general convenience in identifying subject matter but have no limiting impact on the text
            which follows any particular heading.</span>
        </h4>
        <h4>This Note shall be governed by and construed, interpreted, and enforced in accordance with federal law and, to the extent state law applies, the
            laws of Utah applicable to a Utah state-chartered bank without regard to conflict of laws provisions. We are located in Utah. We entered into this
            Note with you in Utah. Pursuant to federal law, you agree that we are charging those rates and fees permitted in accordance with the laws of the
            state of Utah, which is the state where we are located. You agree to pay such agreed upon rate, fees, and charges to us in accordance with such law.
            If any provision of this Note is held to be invalid, the remaining provisions will remain valid and enforceable.</span>
        </h4>
        <h4>This Note represents the final agreement between the parties and may not be contradicted by evidence of prior, contemporaneous or subsequent oral
            agree- ments of the parties. There are no unwritten oral agreements between the parties.</span>
        </h4>
        <h4>RESOLUTION OF DISPUTES: YOU HAVE READ THIS PROVISION CAREFULLY AND UNDERSTAND THAT IT LIMITS YOUR RIGHTS IN THE EVENT OF A DISPUTE BETWEEN YOU AND
            US. YOU UNDERSTAND THAT YOU HAVE THE RIGHT TO REJECT THIS PROVISION AS PROVIDED IN PARAGRAPH (b) BELOW.</span>
        </h4>
        <p>

        </p>
        <ol id="l2">
            <li>
                <p>Either you or we may require that the exclusive forum and remedy to resolve a Claim be final and binding arbitration
                    under this Jury Trial Waiver and Arbitration Clause (“this Clause”), unless you opt-out under section 17b.</p>
                <p>“Claim” is any past, present, or future claim, dispute, or
                    controversy involving you (or persons claiming through or connected with you), on the one hand, and us (or persons claiming through or
                    connect- ed with us), on the other hand, relating to or arising out of this Agreement, any Note, the Site, and/or the activities or
                    relationships that involve, lead to, or result from any of these.</p>
                <p>“Claim” also means (except for the last sentence of section 17f) the validity
                    or enforceability of all or any part of this Clause or the entire Agreement.</p>
                <p>A Claim may arise from a contract, an intentional or
                    unintentional tort, a constitution, a statute, the common law, or from principles of equity. Claims include initial claims, counter-claims,
                    cross-claims, and third-party claims.</p>
                <p>“Claim” is to be given the broadest possible interpretation.</p>
            </li>
            <li>
                <p>You may opt-out of this Clause for all purposes. To do so, send us a notice addressed to Cross River Bank, 885
                    Teaneck Road, Teaneck, NJ 07666. We must receive it within 30 days of the date of this Agreement.</p>
                <p>The notice must state that you reject arbitration. The notice must identify the
                    Agreement it applies to by date. The notice must provide your name, address, and social security number. You must sign it.</p>
                <p>You may send notice any way you wish, but we must receive it
                    at the specified address within the specified time. You may use no other method to opt out of this Clause. Any third party sending the
                    notice for you must include evidence of his or her authority to do so.</p>
            </li>
            <li>
                <p>The arbitration administrator shall be the American Arbitration Association, JAMS or any other arbitration
                    organization agreed to by you and us or our Assignee. The administrator’s rules and proce- dures shall determine the conduct and location of
                    the arbitration unless the rules conflict with this Clause or countervailing law.</p>
                <p>If the administrator’s rules and policies and this Clause
                    conflict, this Clause controls, subject to countervailing law, unless all parties to the arbitration consent to have the administrator’s
                    rules and poli- cies apply.</p>
            </li>
            <li>
                <p>If we elect arbitration, we shall pay the administrator’s filing costs and administrative fees (except hearing
                    fees). If you elect arbitration, filing costs and administrative fees (except hearing fees) shall be paid in accordance with the rules of
                    the administrator, or in accordance with law if contrary to the administrator’s rules.</p>
                <p>We shall pay the administrator’s hearing fees for one day of
                    arbitration hearings. Fees for hearings that exceed one day will be paid by the party requesting the hearing, unless the administrator’s
                    rules or applicable law require otherwise, or you request that we pay them and we agree to do so.</p>
                <p>We shall also pay any fees and costs that the arbitrator
                    tells us we must pay in order to enforce this arbitration agreement and for the arbitration organization to conduct the arbitration. Each
                    party shall pay its own attorneys’ fees, unless otherwise provided by law. Any statutory right you have to attorney’s fees shall apply in
                    arbitration.</p>
            </li>
            <li>
                <p>Within 30 days of the arbitrator’s final award, any party may appeal the award to a three- arbitrator panel. The
                    panel shall be chosen under the administrator’s rules. Any opposing party may</p>
                <p>cross-appeal within 30 days after notice of the appeal.
                    The panel will consider de novo all aspects of the award that are appealed. De novo means that the panel will rule on the evidence and
                    matters of law without giving deference to the arbitrator’s findings. This Clause and the administrator’s rules shall govern the costs and
                    conduct of any appeal in the same way as the initial arbitration proceed- ing.</p>
                <p>Any initial award not subject to appeal, and any panel award
                    on appeal, are final and binding, except for any appeal right under the Federal Arbitration Act (“FAA”). A party may enter an award as a
                    judgment in any court with jurisdiction.</p>
            </li>
            <li>
                <p>We will not require you to arbitrate any individual Claim you may bring in a small claims or equivalent court, as
                    long as the Claim is pending only in that court. NO ARBITRATION SHALL PROCEED ON A CLASS, REPRESENTATIVE, OR COLLECTIVE BASIS (INCLUDING AS
                    PRIVATE ATTORNEY GENERAL ON BEHALF OF OTHERS), EVEN IF THE CLAIM OR CLAIMS HAD PREVIOUSLY BEEN ASSERTED (OR COULD HAVE BEEN ASSERTED) IN A
                    COURT AS CLASS REPRESENTATIVE, OR COLLECTIVE ACTIONS.</p>
                <p>Unless all parties to the arbitration consent in writing, no
                    party may join, consolidate, or otherwise bring claims for or on behalf of two or more individuals or unrelated corporate entities in the
                    same arbi- tration unless those persons are parties to a single transaction.</p>
                <p>Unless all parties to the arbitration consent in writing, an
                    arbitration award shall determine the rights and obligations of the named parties only, and only with respect to the claims in arbitration.
                    The award shall not (a) determine the rights, obligations, or interests of anyone other than a named party, or resolve any Claim of anyone
                    other than a named party; nor (b) make an award for the benefit of, or against, anyone except a named party.</p>
                <p>No administrator or arbitrator may waive, modify, or fail to
                    enforce this section 17(f). Any attempt to do so, by rule, policy, arbitration decision or otherwise, shall be invalid and unenforceable. A
                    court, and not the administrator or arbitrator, shall determine any challenge to the validity of this section 17(f).</p>
            </li>
            <li>
                <p>This Clause is governed by and enforceable under the FAA. The arbitrator will apply substantive law consistent with
                    the FAA and applicable statutes of limitations.</p>
                <p>The arbitrator may award damages and other relief under
                    applicable substantive law, subject to the limitations in this Clause. The arbitrator will not be bound by a court’s rules of procedure and
                    evi- dence. The arbitrator shall take steps to reasonably protect confidential information.</p>
            </li>
            <li>
                <p>This Clause shall survive the suspension, termination, revocation, closure, or amendments to this Agreement and the
                    relationship of the parties. This Clause shall survive the bankruptcy or insolven- cy of any party or other person. This Clause shall
                    survive any transfer of any loan or Note or any other promissory note(s) you owe, or any amounts you owe on such loans or notes to any other
                    person or entity.</p>
            </li>
        </ol>
        <p>If any part of this Clause other than section 17f is deemed
            invalid or unenforceable, the rest remains valid and in force. If an arbitration is brought on a class, representative, or collective basis, and the
            limitations on such proceedings in section 17f are finally adjudicated under the last sentence of section 17f to be unenforceable, then no
            arbitration shall be had. Any invalidation shall not authorize an arbitrator to determine Claims or make awards beyond those authorized in this
            Arbitration Clause.</p>
        <p>THE PARTIES ACKNOWLEDGE THAT THEY HAVE A RIGHT TO LITIGATE CLAIMS
            THROUGH A COURT BEFORE A JUDGE OR JURY, BUT WILL NOT HAVE THAT RIGHT IF ANY PARTY ELECTS ARBITRATION UNDER THIS CLAUSE. THE PARTIES KNOWINGLY AND
            VOLUNTARILY WAIVE THEIR RIGHTS TO LITIGATE CLAIMS IN A COURT BEFORE A JUDGE OR JURY UPON ELECTION OF ARBITRATION BY ANY PARTY.</p>
        <h4>YOU HAVE READ THIS CLAUSE CAREFULLY BEFORE SIGNING.</h4>
        <h4>YOU UNDERSTAND THAT IT LIMITS YOUR RIGHTS IN THE EVENT OF A
            DISPUTE BETWEEN YOU AND US.<br> BY SIGNING, YOU WAIVE YOUR RIGHTS TO A JURY TRIAL AND TO PARTICIPATE IN A CLASS ACTION. <br>YOU UNDERSTAND THAT YOU
            MAY REJECT THIS CLAUSE AS DESCRIBED ABOVE.</h4><br>
        <p>This Note contains a JURY TRIAL WAIVER AND ARBITRATION
            CLAUSE governed by the Federal Arbitration Act.</p>
        <h4>By signing this Note on the date shown below, you acknowledge
            reading, understanding, and agreeing to all its provisions, and receiving a completely filled in copy of this Note. STATE LAW NOTICES:</h4>
        <p>CALIFORNIA RESIDENTS ONLY: A married applicant may apply
            for a separate account. If Lender takes any adverse action as defined by § 1785.3 of the California Civil Code and the adverse action is based, in
            whole or in part, on any information contained in a consumer credit report, Borrower has the right to obtain within 60 days a free copy of
            Borrower’s consumer credit report from the consumer reporting agency who furnished the consumer credit report and from any other consumer credit
            reporting agency that complies and maintains files on consumers on a nationwide basis.</p>
        <p>CALIFORNIA AND UTAH RESIDENTS: As required by California
            and Utah law, Borrower is hereby ¬ that a negative credit report reflecting on Borrower’s credit record may be submitted to a credit reporting
            agency if Borrower fails to fulfill the terms of Borrower’s credit obligations.</p>
        <p>KANSAS (and IOWA residents if the principal amount of
            this loan exceeds $20,000): <b>IMPORTANT: READ BEFORE SIGNING. THE TERMS OF THIS AGREEMENT SHOULD BE READ CAREFULLY BECAUSE ONLY THOSE TERMS IN
                WRITING ARE ENFORCEABLE. NO OTHER TERMS OR ORAL PROMISES NOT CONTAINED IN THIS WRITTEN CONTRACT MAY BE LEGALLY ENFORCED. LENDER MAY CHANGE THE
                TERMS OF THIS AGREEMENT ONLY BY ANOTHER WRITTEN AGREEMENT.</b>
        </p>
        <p>MARYLAND RESIDENTS ONLY: Lender elects to make this loan
            pursuant to Subtitle 10 (Credit Grantor Closed End Credit provisions) of Title 12 of the Maryland Commercial Law Article only to the extent that
            such provisions are not incon- sistent with Lender’s authority under federal law (12 U.S.C. § 85, § 1463(g), or § 1831d, as appropriate) and related
            regulations and interpretations, which authority Lender expressly reserves.</p>
        <p>MASSACHUSETTS RESIDENTS ONLY: Massachusetts law prohibits discrimination
            based upon marital status or sexual orientation.</p>
        <p>MISSOURI AND NEBRASKA RESIDENTS: ORAL LOAN AGREEMENTS OR
            COMMITMENTS TO LOAN MONEY, EXTEND CREDIT OR TO FORBEAR FROM ENFORCING REPAYMENT OF SUCH DEBT, INCLUDING PROMISES TO EXTEND OR RENEW SUCH DEBT, ARE
            NOT ENFORCEABLE. TO PROTECT BORROWER(S) AND THE LENDER AND ANY HOLDER OF THIS NOTE FROM MISUNDERSTANDING OR DISAPPOINTMENT, ANY AGREEMENTS WE REACH
            COVERING SUCH MATTERS ARE CONTAINED IN THIS WRITING, WHICH IS THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN US, EXCEPT AS WE MAY
            LATER AGREE IN WRITING TO MODIFY IT.</p>
        <p>MAINE RESIDENTS ONLY: Notice to Consumer (i) Do not sign
            this agreement before you read it; (ii) You are entitled to a copy of this agreement; (iii) You may prepay the unpaid balance at any time without
            penalty, except for minimum charges as permitted by law.</p>
        <p>UTAH RESIDENTS: The section headings of the Note are a
            table of contents and not contract terms. Portions of this Note with references to actions taken to the extent of applicable law apply to acts or
            practices that Utah law permits or requires. In this Note, actions or practices (i) by which Lender is or may be permitted by “applicable law” are
            permitted by Utah law; and (ii) that may be or will be taken by Lender unless prohibited by “applicable law” are permitted by Utah law.</p>
        <p>NEW YORK, RHODE ISLAND and VERMONT RESIDENTS: Borrower
            understands and agrees that Lender may obtain a consumer credit report in connection with this application and in connection with any update,
            renewals for extension of any credit as a result of this application. If Borrower asks, Borrower will be informed whether or not such a report was
            obtained, and if so, the name and address of the agency that furnished the report. Borrower also understands and agrees that Lender may obtain a
            consumer credit report in connection with the review or collection of any loan made to Borrower as a result of this application or for other
            legitimate purposes related to such loans.</p>
        <p>OHIO RESIDENTS ONLY: The Ohio laws against discrimination
            require that all creditors make credit equally available to all credit-worthy customers, and that credit reporting agencies maintain separate credit
            histories on each individual upon request. The Ohio Civil Rights Commission administers compliance with the law.</p>
        <p>WISCONSIN RESIDENTS ONLY: For married Wisconsin residents, Borrower’s
            signature confirms that this loan obligation is being incurred in the interest of Borrower’s marriage or family. No provision of any marital
            property agreement (pre</p>
        <p>-marital agreement), unilateral statement under § 766.59
            of the Wisconsin statutes or court decree under § 766.70 adversely affects Lender’s interest unless, prior to the time that the loan is approved,
            Lender is furnished with a copy of the marital property agreement, statement, or decree or have actual knowledge of the adverse provision. If this
            loan for which Borrower is applying is granted, Borrower will notify Lender if Borrower has a spouse who needs to receive notification that credit
            has been extended to Borrower.</p>

        <p></p>
    </template>
    <script>
        Polymer({
            is: "tila-contract",

            properties: {
                loanOffer: Object
            },

            behaviors: [eventHub, ensureDependenciesBehavior],

            attached: function () {
                var self = this;
                this.ensure("alloyFormat").then(function (alloyFormat) {
//                    self.set("formatCurrency", function (value) {
//                        return $ + alloyFormat.formatCurrency(value);
//                    });
//                    console.log("alloyFormat loaded");
//                    self.set("loanOffer", _.extend({}, self.loanOffer));
//                    Polymer.dom.flush();
                });
            },

            observers: ["onOffersChanged(loanOffer)"],

            onOffersChanged: function(loanOffer) {
                window.loanOffer = loanOffer;
            },

            formatCurrency: function (value) {
                if (this.$.alloyFormat) {
                    return "$" + this.$.alloyFormat.formatCurrency(value);
                }
                return "***" + value;
            },

            formatDate: function(date) {
                var d = new Date(date);
                return d.toLocaleDateString();
            },

            formatName: function(loanOffer) {
                return loanOffer.applicant.firstName + " " + loanOffer.applicant.lastName;
            },

            formatAddress: function(loanOffer) {
                var address = loanOffer.applicant.primaryAddress;
                return [address.line1,address.city];
            },

            getNumberOfPayments:function(numberOfPayments) {
                return numberOfPayments - 1;
            }
        });
    </script>
</dom-module>