<dom-module id="form-title">
<template>
    <input type="text" class="form-control" readonly value$="{{ content }}">
    <style>
        .form-control[readonly] {
            background-color: #03426b;
            color: #fff;
            font-weight: bold;
            border: 2px solid #03426b;
            border-radius: 10px;
            height: 3em;
        }

        .form-control[readonly]:focus {
            border: 2px solid #03426b;
        }
    </style>
</template>
<script>
    Polymer({
        is: "form-title",

        properties: {
            content: String
        }
    });
</script>
</dom-module>