<dom-module id="form-block">
    <template>
        <div class$="{{ className }}">
            <content></content>
        </div>
        <style>
            .alert.alert-danger {
                margin-bottom: 0;
                margin-top: 3px;
                padding: 3px;
            }
        </style>
    </template>
    <script>
        /**
         * Use this component just as you would a div.form-group in a
         * bootstrap form. Contains functionality to identify inputs and
         * determine if error styling should be applied.
         */
        Polymer({
            is: "form-block",

            behaviors: [eventHub],

            properties: {
                formMessages: Object,
                formErrors: Object,
                errorKeys: String,
                className: {
                    value: "form-group"
                },
                hasErrors: {
                    value: false,
                    type: Boolean
                },
                displayMessage: {
                    value: "",
                    type: String
                }
            },

            update: function (formErrors, formMessages) {
                var self = this;
                var hasErrors = this.getOwnErrors(formErrors);

                if (!this.errorKeys) { return }

                self.set("formErrors", formErrors);
                self.set("formMessages", formMessages);

                $("form-error", this).each(function () {
                    if (!this.errorKeys) {
                        this.set("errorKeys", self.errorKeys);
                    }

                    this.set("errors", self.formErrors);
                    this.set("messages", self.formMessages);
                });
                this.getClass(hasErrors);
            },

            getOwnErrors: function (formErrors, formMessages) {
                var messages = [];
                if (!this.errorKeys) { return }
                var errorKeys = this.errorKeys.replace(/ /g, "").split(",");

                var ownErrors = errorKeys.map(function (key) {
                    return formErrors[key];
                }).filter(function (el) {
                    return el
                });

                this.set("hasErrors", ownErrors.length);
                return this.hasErrors;
            },

            /**
             * Computes the correct class of this form-group
             * @param {Array} ownErrors Array of errors pertaining to this
             * form-group
             * @returns {string}
             */
            getClass: function (hasErrors) {
                if (hasErrors) {
                    this.className = "form-group has-error";
                } else {
                    this.className = "form-group";
                }
            },

            /**
             * Predicate for hiding the error alert element
             * @param errorMessage
             * @returns {boolean}
             */
            shouldHideErrors: function (displayMessage) {
                return !displayMessage || !displayMessage.length;
            }
        });
    </script>
</dom-module>