<html-import html-href="ui-elements/inputs/dropdown-input.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<script src="https://npmcdn.com/redux@latest/dist/redux.min.js"></script>
<dom-module id="log-loan-activity">
    <template>
        <div id="error-message" class="alert alert-danger" hidden$="{{ !state.error }}">{{ state.errorMessage }}</div>

        <div class="form-group">
            <dropdown-input id="activity-list" list-options="{{ state.activities }}"></dropdown-input>
        </div>

        <h4><b>Notes</b></h4>
        <div class="form-group">
            <textarea id="notes" rows="6" form="ach-form" class="form-control" value="{{ state.formData.notes }}" on-input="setNotes"></textarea>
        </div>

        <input id="submit" type="submit" class="btn btn-primary" on-click="submitForm">
        or <span><a href="javascript:;" on-click="resetForm">Cancel</a></span>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
  <script>
      (function() {
          var component; // This component
          var store; // Redux Store
          var http; // HTTP request component
          var hub; // Eventhub component
          var initialState; // Initial State

          function reducer(state, action) {
              switch (action.type) {
                  case "SET_LOAN_REFERENCE":
                      state.loanReference = action.loanReference;
                      return state;
                  case "SET_ACTIVITIES":
                      state.activities = action.activities;
                      return state;

                  case "SET_SELECTED_ACTIVITY":
                      state.selectedActivity = action.activity;
                      return state;

                  case "RESET_FORM":
                      state.errorMessage = "";
                      state.error = false;
                      state.formData = {
                          notes: ""
                      };
                      state.selectedActivity = null;
                      return state;

                  case "SET_ERROR_MESSAGE":
                      state.error = true;
                      state.errorMessage = action.message;
                      return state;

                  case "REMOVE_ERROR_MESSAGE":
                      state.error = false;
                      state.errorMessage = action.message;
                      return state;

                  case "SET_NOTES":
                      state.formData.notes = action.notes;
                      return state;

                  case "SUBMIT_FORM":
                      state.submitCount++;
                      state.isSubmitting = true;
                      return state;

                  case "SUBMIT_FORM_SUCCESS":
                      state.error = false;
                      state.isSubmitting = false;
                      return state;

                  case "SUBMIT_FORM_FAILURE":
                      state.error = true;
                      state.isSubmitting = false;
                      return state;

                  default:
                      return state;
              }
          }

          initialState = {
              errorMessage: "",
              error: false,
              isSubmitting: false,
              selectedActivity: "",
              activites: null,
              submitCount: 0,
              loanReference: null,
              formData: {
                  notes: ""
              }
          }
          /**
           * Reducer function
           * Initial State
           * Hook for chrome react dev tools
           */
          store = Redux.createStore(reducer, initialState, window.devToolsExtension ? window.devToolsExtension() : undefined);

          Polymer({
            is : "log-loan-activity",
            properties:{
                loanReference : String
            },
            observers: [
                // Set Loan Reference to Redux store
                "setLoanReference(loanReference)"
            ],
            ready: function() {
                // Share components with Redux store
                var self = component = this;
                http = self.$.http;
                hub = self.$.hub;

                // Listen to events from children
                self.listen(self.$["activity-list"], "SET_SELECTED_OPTION", "setSelectedActivity");

                // Set new state on store dispatch
                store.subscribe(function() {
                    var nextState = JSON.parse(JSON.stringify(store.getState()));
                    self.set("state", nextState);
                });

                self.getActivities();
            },

            detached: function() {
                this.resetForm();
            },

            resetApp: function() {
                this.resetForm();
            },

            validate: function(state) {
                if (!state.selectedActivity) {
                    store.dispatch({
                        type: "SET_ERROR_MESSAGE",
                        message: "Activity must be selected."
                    });
                    return false;
                }

                if (!state.formData.notes.length) {
                    store.dispatch({
                        type: "SET_ERROR_MESSAGE",
                        message: "Notes field must be filled out."
                    });
                    return false;
                }
                return true;
            },
            submitForm: function() {
                var self = this;
                var state = store.getState();

                if (!self.validate(state)) {
                    return;
                }

                var request = {
                    Description : state.formData.notes,
                    LoanReferenceNumber: state.loanReference,
                    Title: state.selectedActivity
                }

                self.$.http.post("/LoanActivityLogged", request, window.config.services.eventHub,
                function(){
                    self.resetForm();

                    store.dispatch({
                        type: "SUBMIT_FORM_SUCCESS"
                    });

                    self.$.hub.publish("notification:show", {
                        type: "success",
                        message: "Activity logged successfully."
                    });
                    
                    self.$.hub.publish("activity:refresh");
                }, function(error) {
                    var errorMessage;
                    if (error && error.responseJSON && error.responseJSON.message) {
                        errorMessage = error.responseJSON.message;
                    }
                    errorMessage = "Error submitting request. Please try again or contact support.";

                    store.dispatch({
                        type: "SUBMIT_FORM_FAILURE"
                    });
                    store.dispatch({
                        type: "SET_ERROR_MESSAGE",
                        message: errorMessage
                    });
                });

            },
            setLoanReference: function(loanReference) {
                if (!loanReference) { return };
                store.dispatch({
                    type: "SET_LOAN_REFERENCE",
                    loanReference: loanReference
                });
            },
            getActivities: function() {
                var self = this;
                var config = window.config.services.configuration
                self.$.http.get('/alloy/log-activity', config, function(activities) {
                    var options = [];

                    activities.options.forEach(function(option) {
                       options.push({
                           value: option,
                           text: option
                       })
                    });
                    store.dispatch({
                        type: "SET_ACTIVITIES",
                        activities: options
                    });
                });
            },
            resetForm: function() {
                this.$["activity-list"].resetSelectedOption();
                store.dispatch({
                    type: "RESET_FORM"
                });
                this.$.hub.publish("activity:close", {
                    activity: component.is
                });
            },
            setNotes: function(event) {
                store.dispatch({
                    type: "SET_NOTES",
                    notes: event.target.value
                });
            },
            setSelectedActivity: function(event, detail) {
                store.dispatch({
                    type: "SET_SELECTED_ACTIVITY",
                    activity: detail.option
                });
            }
        })

      })();
  </script>
</dom-module>
