<dom-module id="appflow-progress">
<template>
    <div class="progress active">
        <div
            style="width: 0%"
            aria-valuemax="100"
            aria-valuemin="0"
            aria-valuenow="75"
            role="progressbar"
            class="progress-bar progress-bar-success">
            <span>{{ formatProgress(progress) }}% Complete</span>
        </div>
    </div>
</template>
<script>
    Polymer({
        is: "appflow-progress",

        behaviors: [eventHub],

        properties: {
            progress: {
                value: 0,
                type: Number
            }
        },

        attached: function() {
            var self = this;

            this.subscribe("workflow", function(payload) {
                switch (payload.event) {
                    case "workflow.created":
                        self.updateFromWorkflowInstance(payload.workflowInstance);
                        return;

                    case "workflow.update":
                        self.updateFromWorkflowInstance(payload.workflowInstance);
                        return;

                    case "workflow.initStep":
                        self.updateFromWorkflowInstance(payload.workflowInstance);
                        return;

                    case "workflow.complete":
                        self.set("progress", 100);
                        self.updateHtml(100);
                        return;

                    default:
                        return;
                }
            });
        },

        updateFromWorkflowInstance: function(workflowInstance) {
            var self = this;
            var length;
            var complete;

            if (!workflowInstance) { return }
            length = workflowInstance.definition.steps.length;
            complete = self.getExecutedStepCount(workflowInstance);
            var progress = (complete/length * 100);
            self.set("progress", progress);
            self.updateHtml(progress);
        },

        getExecutedStepCount: function(workflowInstance) {
            return workflowInstance &&
                Array.isArray(workflowInstance.executedSteps) &&
                workflowInstance.executedSteps.length || 0;
        },

        formatProgress: function(progress) {
            return parseInt(progress);
        },

        updateHtml: function(nextValue) {
            $(".progress div").css("width", nextValue + "%").attr("aria-valuenow", nextValue);
        }
    });
</script>
</dom-module>