<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/censor-ssn.html"></html-import>
<dom-module id="application-details">
	<style>
		.loan-summary .ibox-content {
			padding-bottom: 0;
		}
		.application-details .dl-horizontal dt {
			text-align: left;
			margin-bottom: 5px;
			width: 160px;
		}
        .application-details .col-lg-4:first-of-type .dl-horizontal dd {
            margin-left: 120px;
		}
        .application-details .col-lg-4:first-of-type .dl-horizontal dt {
            width: 100px;
        }
        .fa-arrow-circle-right {
            margin-left: 10px;
        }
        .email {
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .email:hover:before {
            top: 15px;
            background: #333;
            background: rgba(0,0,0,.8);
            border-radius: 5px;
            color: #fff;
            content: attr(name);
            padding: 5px 15px;
            position: absolute;
            z-index: 98;
            width: 220px;
        }
        .no-ellipse.email:hover:before {
            display: none;
        }
	</style>
	<template>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins loan-summary">
					<div class="ibox-title">
						<h1>
                            <strong>{{application.applicationNumber}}</strong> - 
                            <span>{{primaryApplicant.firstName}}</span>
                            <span>{{primaryApplicant.middleName}}</span>
                            <span>{{primaryApplicant.lastName}}</span>
                            <span class="labels">
                                <span class="pull-right label label-primary">{{mapStatus(application.status)}}</span>
                            </span>
                        </h1>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-4">
								<dl class="dl-horizontal">
									<dt>Date of Birth</dt>
									<dd>{{formatDate(primaryApplicant.dateOfBirth)}}</dd>
									<dt>SSN</dt>
									<dd>
                                        <censor-ssn full-ssn="{{primaryApplicant.ssn}}"></censor-ssn>
                                    </dd>
									<dt>Email</dt>
									<dd class="email" name$="{{primaryApplicant.email}}">{{primaryApplicant.email}}</dd>
								</dl>
							</div>
							<div class="col-lg-4">
								<dl class="dl-horizontal">
                                    <dt>Address</dt>
									<dd>
										<span>{{primaryAddress.line1}}</span><br/>
											<template is="dom-if" test="primaryAddress.line2">
												<span>{{primaryAddress.line2}}</span><br/>
											</template>
										<span>{{cityStateZip(primaryAddress)}}</span>
									</dd>
									<dt>Phone Number</dt>
									<dd>{{formatPhone(primaryPhone.number)}}</dd>
									
								</dl>
							</div>

							<div class="col-lg-4">
								<dl class="dl-horizontal">
									<dt>Employment Status</dt>
									<dd>{{primaryApplicant.employmentStatus}}</dd>
									<dt>Employer</dt>
									<dd>{{primaryApplicant.currentEmployer.name}}</dd>
									<dt>Empl Length</dt>
									<dd>{{primaryApplicant.currentEmployer.lengthOfEmploymentInMonths}}</dd>
                                    <br>
                                </dl>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
	</template>
	<script>
        Polymer({
			is : 'application-details',
			properties: {
				application: {
					type: Object
				}
			},
			observers: [
				"setPrimaryApplicant(application)",
				"setPrimaryAddress(primaryApplicant)",
				"setPrimaryPhone(primaryApplicant)",
			],
			setPrimaryApplicant: function(application) {
				var applicants = application.applicants;
				this.primaryApplicant = this.getPrimary(applicants);
			},
			setPrimaryAddress: function(applicant) {
				var addresses = applicant.addresses;
				this.primaryAddress = this.getPrimary(addresses);
			},
			setPrimaryPhone: function(applicant) {
				var phoneNumbers = applicant.phoneNumbers;
				this.primaryPhone = this.getPrimary(phoneNumbers);
			},
			getPrimary: function(collection) {
				return collection.filter(function(item) {
					return item.isPrimary;
				})[0];
			},
			mapStatus: function(code) {
				var statuses = {
                    "200.01": "Initiated",
                    "200.02": "Policy Validation",
                    "200.03": "Fraud Review",
                    "200.04": "Email Validation",
                    "200.05": "Phone Validation",
                    "200.06": "Income Verification",
                    "300.01": "Underwriting Review",
                    "300.02": "Offer Generated",
                    "300.03": "Offer Selected",
                    "300.04": "Loan Agreement Generated",
                    "300.05": "Loan Agreement Signed",
                    "400.01": "Funding Review",
                    "500.01": "Declined",
                    "500.02": "Expired",
                    "500.03": "Cancelled",
                    "500.04": "Fraud",
                    "600.01": "In Service"
                };
				return statuses[code];
			},
			cityStateZip: function(address) {
				var city = address.city ? address.city + ", " : "";
				var state = address.state ? address.state + " - " : "";
				var zip = address.zipCode || "";
				return city + state + zip;
			},
            formatDate: function(date, isLong) {
                if (!date) {
                    return "";
                }
                if (isLong) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY")
                }
                return moment.tz(date, window.tenant.timezone).format("MMM D, YYYY");
            },
            formatPhone: function(phone) {
                return "(" + phone.slice(0, 3) + ") " + phone.slice(3, 6) + "-" + phone.slice(-4);
            },
		});
	</script>
</dom-module>