<html-import html-href="application/details.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/selectable-table.html"></html-import>
<html-import html-href="ui-elements/views/default.html"></html-import>
<dom-module id="csr-application-view">
    <style>
        .wrapper.wrapper-content {
            padding: 20px 10px 40px !important;
        }

        .sidebar-panel {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 3;
        }
        .height-controller {
            background-color: #F3F3F4;
            height: 2000px;
            margin-bottom: -2000px;
            overflow: hidden;
        }
        .col-md-4 {
            width: 33.33333333%;
        }
        .filler {
            position: absolute;
            right: 0;
            background-color: #EBEBED;
            z-index: 2;
            width: 33.33%;
        }
        .main-filler {
            position: absolute;
            left: 0;
            background-color: #F3F3F4;
            z-index: -1;
            width: 66.66%;
        }
    </style>
    <template>
        <default-view config="{{config}}">
            <application-details application="{{application}}"></application-details>
        </default-view>
        <alloy-config id="config" config-ready="{{configReady}}"></alloy-config>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "csr-application-view",
            behaviors: [eventHub],
            ready: function() {
                var self = this;
                self.setApplication();
                self.subscribe("dependent.ready", function(payload) {
                    var dependencies = payload.dependencies;

                    for (var i = 0; i < dependencies.length; i++) {
                        var dependency = dependencies[i];

                        var context = dependency.context;
                        var contextPropName = dependency.name;
                        var parentPropName = dependency.parentProp;

                        context.set(contextPropName, self[parentPropName]);
                    }
                });

                self.subscribe(
                    "activity.request.merchant",
                    function(payload) {
                    payload.set("applicant", self.applicant);
                });
            },
            setApplication: function() {
                var self = this;

                var url = "/:id"

                self.$.http.get(url, window.config.services.application, function(data) {
                    self.application = data;
                });
            }
        });
    </script>
</dom-module>