<html-import html-href="ui-elements/panel-primary.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>
<dom-module id="action-center">
<template>
    <style>
        .bold {
            font-weight: 800;
            color: #03426b;
        }
        .no-top-margin {
            margin-top: 0;
        }
        .list-group-item {
            padding: 30px;
        }
    </style>
    <template is="dom-repeat" items="{{actions}}" as="action">
        <div class="col-sm-12">
            <div class="row border-bottom no-gutters">
                <template is="dom-repeat" items="{{action}}" as="column">
                    <div class="col-sm-6 b-r">
                        <ul class="list-group text-center">
                            <li class="list-group-item">
                                <h1 class="bold no-top-margin">{{column.total}}</h1>
                                <p>{{column.name}}</p>
                                <button-primary on-click="reroute">TAKE
                                    ACTION
                                </button-primary>
                            </li>
                        </ul>
                    </div>
                </template>
            </div>
        </div>
    </template>

    <template is="dom-if" if="{{ !hasActions }}">
        <h3 class="text-center">No actions found.</h3>
    </template>

    <http-request id="http"></http-request>
</template>
<script>
    Polymer({
        is: "action-center",

        ready: function() {
            this.set("actions", []);
            this.getUser()
                .then(this.getMerchantId.bind(this))
                .then(this.getApplications.bind(this))
                .then(this.getActions.bind(this))
                .then(this.setActions.bind(this));
        },

        getUser: function() {
            var self = this;
            return self.$.http.get("/", window.config.services.security)
                .then(function(user) {
                    self.user = user;
                });
        },

        getMerchantId: function() {
            var self = this;
            var email = this.user.result.email;
            var url = "/" + email + "/email";
            return self.$.http.get(url, window.config.services.merchant)
                .then(function(merchant) {
                    self.merchant = merchant;
                });
        },

        getApplications: function() {
            var self = this;

            var url = "/merchant/" + self.merchant.merchantId + "/all"
            
            return self.$.http.get(url, window.config.services.applicationFilters, function(applications) {
                self.applicationIds = applications.map(function(application) {
                    return application.applicationId;
                });
            });
        },

        getActions: function() {
            var url = "/application/groups/" + this.applicationIds.join("/");
            return this.$.http.get(url, window.config.services.actionCenter);
        },

        setActions: function(data) {
            var actions = [];
            var actionRow = [];

            data.forEach(function(action) {
                actionRow.push({
                    name: action.name,
                    total: action.total
                })

                if (actionRow.length === 2) {
                    actions.push(actionRow.slice());
                    actionRow = [];
                }
            });

            if (actionRow.length) {
                actions.push(actionRow.slice());
                actionRow = [];
            }

            this.set("actions", actions);
            this.set("hasActions", true);
        },

        reroute: function() {
            window.location.hash = "#/action-center";
        }
    });
</script>
</dom-module>