<html-import html-href="dashboard/action-center.html"></html-import>
<html-import html-href="ui-elements/panel-primary.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="services/merchant-service.html"></html-import>

<dom-module id="lusa-dashboard">
    <template>
        <style>
            h1 {
                font-weight: 800;
                color: #03426b;
            }

            .merchant-dashboard-welcome-bar {
                background-color: #03466b;
                margin-top: -16px;
            }

            h1.merchant-dashboard-welcome-bar-text {
                color: #fff;
                font-weight: normal;
                font-size: 2em;
            }

            h1.low-bottom-margin {
                margin-bottom: 0px;
            }

            h1.white {
                color: white;
            }

            p.white {
                color: white;
            }

            .list-group-item.list-group-item-no-padding {
                padding: 0;
            }

            .list-group-item.list-group-item-green {
                background-color: #68c05a;
            }

            .list-group-item {
                /*text-align: center;*/
                padding: 30px;
            }

            .row.no-gutters {
                margin-right: 0;
                margin-left: 0;
            }

            .row.no-gutters > [class^="col-"],
            .row.no-gutters > [class*=" col-"] {
                padding-right: 0;
                padding-left: 0;
            }

            .dash-icon {
                padding-right: 15px;
            }

            .dash-list-image {
                margin-top: 15px;
                margin-left: 30px;
            }

            .btn-dash-list,
            .btn-dash-list:hover,
            .btn-dash-list:focus,
            .btn-dash-list:active {
                color: white;
                background-color: #d9010c;
                border-color: #d9010c;
            }
        </style>
        <http-request id="http"></http-request>
        <merchant-service id="merchantService"></merchant-service>

        <div class="row border-bottom">
            <div class="col-sm-12 merchant-dashboard-welcome-bar">
                <h1 class="merchant-dashboard-welcome-bar-text">Welcome {{merchantName}}</h1>
            </div>
        </div>

        <div class="dashboard-header animated fade-in">

            <div class="col-lg-4">
                <panel-primary title-bar="Portal Options" icon="fa fa-flag"
                               no-padding>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-no-padding list-group-item-green">
                            <div class="row no-gutters">
                                <div class="col-sm-3">
                                    <img src="../images/girl_dash.png" class="img-responsive dash-list-image">
                                </div>
                                <div class="col-sm-9 text-center">
                                    <h1 class="low-bottom-margin white">Start Here</h1>
                                    <p class="white">To Submit Your Application</p>
                                    <a href="#/dtm-application" class="btn btn-dash-list">APPLY NOW</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row no-gutters">
                                <div class="col-sm-3">
                                    <img src="../images/icons/appstatus.png" class="pull-right dash-icon">
                                </div>
                                <div class="col-sm-9">
                                    <h3 class="text-capitalize">
                                        Check App Status
                                        <i class="fa fa-chevron-right pull-right"></i>
                                    </h3>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row no-gutters">
                                <div class="col-sm-3">
                                    <img src="../images/icons/appstatus.png"
                                         class="pull-right dash-icon">
                                </div>
                                <div class="col-sm-9">
                                    <h3 class="text-capitalize">
                                        Review Applications
                                        <i class="fa fa-chevron-right pull-right"></i>
                                    </h3>
                                    <p>View current and historical Applications</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row no-gutters">
                                <div class="col-sm-3">
                                    <img src="../images/icons/merchant.png"
                                         class="pull-right dash-icon">
                                </div>
                                <div class="col-sm-9">
                                    <h3 class="text-capitalize">
                                        Merchant Center
                                        <i class="fa fa-chevron-right pull-right"></i>
                                    </h3>
                                    <p>View FAQs, tools and tips process
                                        refunds and more</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </panel-primary>
            </div>
            <div class="col-lg-4">
                <panel-primary title-bar="Action Center" icon="fa fa-flash" no-padding>
                    <action-center></action-center>
                </panel-primary>
            </div>
            <div class="col-lg-4">
                <panel-primary
                        title-bar="Loan Stats"
                        icon="fa fa-bar-chart"
                        no-padding>
                    <div
                            class="row no-gutters border-bottom white-bg text-center">
                        <div class="col-sm-6 b-r">
                            <h1>211</h1>
                            <p>Apps Submitted MtD</p>
                        </div>
                        <div class="col-sm-6">
                            <h1>1298</h1>
                            <p>Apps Submitted YTD</p>
                        </div>
                    </div>
                    <div
                            class="row no-gutters border-bottom white-bg text-center">
                        <div class="col-sm-12">
                            <h1>$2,982,134</h1>
                            <p>Loans Approved</p>
                        </div>
                    </div>
                    <div class="row no-gutters white-bg text-center">
                        <div class="col-sm-12">
                            <span class="pull-left">Loan Applications</span>
                            <span class="pull-right">
                                <div class="btn-group">
                                    <button class="btn btn-white btn-xs">1
                                        Day
                                    </button>
                                    <button class="btn btn-white btn-xs">1
                                        Week
                                    </button>
                                    <button class="btn btn-white btn-xs">1
                                        Month
                                    </button>
                                </div>
                            </span>
                        </div>
                        <div class="col-sm-12">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>
                </panel-primary>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "lusa-dashboard",

            behaviors: [eventHub, alloy.ensureDependenciesBehavior],

            attached: function () {
                var self = this;

                this.ensure("merchantService").then(function (merchantService) {
                    self.fetchCurrentUser()
                            .then(extractCurrentUserEmail)
                            .then(merchantService.getByEmail.bind(merchantService))
                            .then(merchantService.extractMerchantName.bind(merchantService))
                            .then(function (merchantName) {
                                self.set("merchantName", merchantName);
                            })
                            .catch(function(error) {
                                setTimeout(function() {
                                    console.error(error);
                                });
                            });
                });

                self.fetchChartJs().then(function () {
                    setTimeout(function () {
                        self.createChart();
                    }, 2000)
                });

                function extractCurrentUserEmail(response) {
                    return response.result.email
                }
            },

            createChart: function () {
                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["January", "February", "March", "April", "May", "June", "July"],
                        datasets: [
                            {
                                label: "Applications",
                                fillColor: "rgba(220,220,220,0.2)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: [65, 59, 80, 81, 56, 55, 40]
                            },
                            {
                                label: "In Review",
                                fillColor: "rgba(151,187,205,0.2)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(151,187,205,1)",
                                data: [28, 48, 40, 19, 86, 27, 90]
                            }
                        ]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            },

            fetchChartJs: function () {
                return new Promise(function (resolve, reject) {
                    var chartjs = document.createElement("script");
                    $("body").append(chartjs);
                    chartjs.onload = resolve;
                    chartjs.src =
                            "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.min.js";
                });
            },

            fetchCurrentUser: function () {
                return Promise.resolve(this.$.http.get("/", window.config.services.security))
            }
        });
    </script>
</dom-module>