<dom-module id="blank-layout">
    <template>
        <micro-app current-app></micro-app>
    </template>
    <script>
        Polymer({
            is: "blank-layout"
        });
    </script>
</dom-module>