<!--<html-import html-href="ui-elements/sk-cube.html"></html-import>-->
<dom-module id="appflow-request">
    <template>
        <http-request id="http"></http-request>
        <div class="text-center">
            <div class$="{{ getClass(isBusy) }}">
                <h1>Please Wait...</h1>
                <div class="sk-spinner sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "appflow-request",

            behaviors: [
                eventHub,
                workflowActivityBehavior
            ],

            properties: {
                isBusy: {
                    type: Boolean,
                    value: false
                }
            },

            getClass: function (isBusy) {
                return isBusy ? "fade in" : "fade";
            },

            execute: function () {
                var self = this;
                var requestConfig = self.getRequestConfig();

                setTimeout(function() {

                    self.request(requestConfig)
                        .then(function (response) {
                            self.publishActivityComplete({
                                output: {
                                    response: response
                                }
                            });
                        })
                        .catch(function (error) {

                        });

                }, 500);
            },

            request: function (requestConfig) {
                var self = this;
                var url, data, base, type;

                url = requestConfig.url;
                data = requestConfig.data;
                base = requestConfig.base;
                type = requestConfig.type.toUpperCase();
                self.set("isBusy", true);

                return new Promise(function (resolve, reject) {
                    self.$.http._request(url, data, base, type,
                        function success(response) {
                            setTimeout(function () {

                                self.set("isBusy", false);
                                resolve(response);

                            }, 2500);
                        }, function error(error) {
                            self.set("isBusy", false);
                            reject(error);
                        });
                });
            },

            getRequestConfig: function () {
                return this.output.requestConfig || this.params;
            }
        });
    </script>
</dom-module>