<html-import html-href="ui-elements/inputs/text-input.html"></html-import>
<html-import html-href="ui-elements/inputs/input-label.html"></html-import>
<html-import html-href="ui-elements/forms/form-title.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="services/merchant-service.html"></html-import>

<dom-module id="bank-info">
    <template>
        <merchant-service id="merchantService"></merchant-service>
        <form class="form-horizontal">
            <form-block>
                <div class="col-sm-12">
                    <form-title content="Bank Information"></form-title>
                </div>
            </form-block>

            <form-block>
                <input-label class="col-sm-2">Bank Name</input-label>
                <div class="col-sm-10">
                    <text-input></text-input>
                </div>
            </form-block>

            <form-block>
                <input-label class="col-sm-2">Account Type</input-label>
                <div class="col-sm-10">
                    <text-input></text-input>
                </div>
            </form-block>

            <form-block>
                <input-label class="col-sm-2">Account Name</input-label>
                <div class="col-sm-10">
                    <text-input></text-input>
                </div>
            </form-block>

            <form-block>
                <input-label class="col-sm-2">Routing Number</input-label>
                <div class="col-sm-10">
                    <text-input></text-input>
                </div>
            </form-block>

            <form-block class="text-right">
                <div class="col-sm-10 col-sm-offset-2 text-center">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs"></div>
                        <div class="col-sm-4 col-xs-12">
                            <button-primary block on-click="completeForm">
                                Verify My Account
                            </button-primary>
                            <br>
                            <input-label>(Immediate Processing)</input-label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <button-primary block on-click="completeForm" disabled="{{ form.isSubmitting }}">
                                Skip Verification
                            </button-primary>
                        </div>
                    </div>
                </div>
            </form-block>
        </form>
        <style>
            .form-horizontal input-label.col-sm-2 {
                /*padding-right: 0px;*/
                text-align: right;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "bank-info",

            behaviors: [
                eventHub,
                workflowActivityBehavior,
                formValidators,
                formMessages,
                formBehavior
            ],

            properties: {
                form: {
                    value: function () {
                        var self = this;
                        return {
                            data: {},
                            error: {},
                            fields: [],
                            validate: function () {
                                return {};
                            }
                        }
                    }
                }
            },

            completeForm: function (e) {
                e.preventDefault();
                var self = this;
                var payload = this.$.merchantService.mapFieldsToPayload(this.form.data);
                var merchantId = this.output.merchantId;

                this.$.merchantService.safeUpdate(merchantId, payload).then(function () {
                    self.publishActivityComplete({
                        output: {
                            merchantId: merchantId,
                            payload: payload
                        }
                    });
                });
            }
        });
    </script>
</dom-module>