<html-import html-href="ui-elements/inputs/text-input.html"></html-import>
<html-import html-href="ui-elements/inputs/input-label.html"></html-import>
<html-import html-href="ui-elements/forms/form-title.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="services/merchant-service.html"></html-import>
<html-import html-href="services/business-report-service.html"></html-import>
<html-import html-href="services/spinner-service.html"></html-import>


<dom-module id="business-info">
    <template>
        <merchant-service id="merchantService"></merchant-service>
        <spinner-service id="spinnerService"></spinner-service>

        <business-report-service
                id="businessReportService">
        </business-report-service>
        <button on-click="fill">Fill</button>
        <form class="form-horizontal">
            <form-block>
                <div class="col-sm-10 col-sm-offset-2">
                    <form-title content="Merchant Information"></form-title>
                </div>
            </form-block>

            <form-block error-keys="taxId">
                <input-label class="col-sm-2">Federal Tax ID or SSN</input-label>
                <div class="col-sm-10">
                    <text-input id="taxId"></text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>
                </div>
            </form-block>

            <form-block class="text-right">
                <div class="col-sm-6 col-sm-offset-6">
                    <button-primary
                            on-click="submit"
                            disabled="{{ form.state.isSubmitting }}">
                        <template is="dom-if" if="{{ form.state.isSubmitting }}">
                            Submitting...
                        </template>
                        <template is="dom-if" if="{{ !form.state.isSubmitting }}">
                            Get Business Information
                        </template>
                    </button-primary>
                </div>
            </form-block>
        </form>
        <style>
            .form-horizontal input-label.col-sm-2 {
                text-align: right;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "business-info",

            fill: function (e) {
                $("#taxId").find("input").each(function () {
                    this.value = 743107043;
            });
            },

            behaviors: [
                eventHub,
                workflowActivityBehavior,
                formValidators,
                formMessages,
                formBehavior,
                alloy.ensureDependenciesBehavior
            ],

            properties: {
                entityType: {
                    value: "Merchant",
                    type: String
                },
                form: {
                    value: function () {
                        var self = this;

                        return {
                            data: {},
                            errors: {},
                            state: {
                                isSubmitting: false,
                                submitCount: 0
                            },
                            fields: [
                                "taxId"
                            ],
                            validate: function () {
                                return {
                                    taxId: function () {
                                        var taxId = self.form.data.taxId;

                                        return [
                                            self.validators.isRequired(taxId),
                                            self.validators.taxId(taxId)
                                        ];
                                    }
                                }
                            }
                        };
                    }
                }
            },

            completeForm: function (event) {
                var self = this;
                var output = {};

                output.merchantId = this.output.merchantId;
                output.payload = this.form.data;

                this.showSpinner();
                this.$.merchantService
                // Pull merchant info by id
                        .getById(output.merchantId)

                        // Add Tax id in
                        .then(function (response) {
                            return _.extend(response, output.payload);
                        })

                        // Strip falsey keys
                        .then(transformResponse)

                        // Update with cleaned response
                        .then(function (response) {
                            return self.$.merchantService.update(output.merchantId, response);
                        })

                        // Fetch business report with taxId
                        .then(function() {
                            return self.$.businessReportService.create(self.form.data.taxId, output.merchantId, self.entityType);
                        })

                        // Bind business report to appflow step output
                        .then(function (response) {
                            output.businessReport = response;
                        })

                        // Or not...
                        .catch(function (error) {
                            self.hideSpinner();
                            console.error(error);
                        })

                        // Either way, Complete app flow step. Business report isn't necessary.
                        .then(function (businessReport) {
                            self.hideSpinner();
                            self.publishActivityComplete({
                                output: output
                            });
                        });

                /**
                 * Strip out null and falsey fields. Add exceptions back in
                 * @param response
                 * @returns {*}
                 */
                function transformResponse(response) {
                    return _(response)
                            .pick(function (value) {
                                return value
                            })
                            .tap(function (response) {
                                response.FederalTaxIdOrSSN = response.taxId;
                                response.bankAccounts = null;
                                delete response.taxId;
                                return response;
                            })
                            .value()
                }
            }
        });
    </script>
</dom-module>