<html-import html-href="ui-elements/inputs/text-input.html"></html-import>
<html-import html-href="ui-elements/inputs/input-label.html"></html-import>
<html-import html-href="ui-elements/forms/form-title.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<html-import html-href="ui-elements/forms/form-error.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>

<html-import html-href="services/merchant-service.html"></html-import>
<html-import html-href="services/consent-tracker-service.html"></html-import>
<html-import html-href="services/spinner-service.html"></html-import>

<dom-module id="digital-signature">
    <template>
        <merchant-service id="merchantService"></merchant-service>
        <spinner-service id="spinnerService"></spinner-service>
        <consent-tracker-service id="consentTrackerService"></consent-tracker-service>
        <form-block>
            <form-title
                    content="Digital Signature">
            </form-title>
        </form-block>

        <form-block error-keys="signatureCheck1">
            <div class="row">
                <label class="col-sm-12 control-label">
                    <input id="signatureCheck1" type="checkbox">
                    I certify that the information supplied is true
                    and correct to the best of my knowledge and I
                    give LendingUSA and their assignees the right to
                    investigate credit and verify the information as
                    contained in this application.
                </label>
            </div>
            <form-error
                    errors="{{ form.errors }}"
                    messages="{{ formMessages }}">
            </form-error>
        </form-block>

        <form-block error-keys="signatureCheck2">
            <div class="row">
                <label class="col-sm-12 control-label">
                    <input id="signatureCheck2" type="checkbox">
                    Check here to agree to <a href="#">Terms of
                    Agreement</a>, <a href="#">Policy</a>, <a
                        href="#">Platform Access & User Agreement</a>, and
                    <a href="#">Operating Procedures</a> and
                    digitally sign this form.
                </label>
            </div>
            <form-error
                    errors="{{ form.errors }}"
                    messages="{{ formMessages }}">
            </form-error>
        </form-block>

        <form-block error-keys="ownersESignature">
            <div class="row">
                <div class="col-sm-7">
                    <input-label>Owners E-Signature</input-label>
                    <text-input id="ownersESignature"></text-input>
                    <form-error
                            errors="{{ form.errors }}"
                            messages="{{ formMessages }}">
                    </form-error>
                </div>
                <div class="col-sm-5">
                    <input-label>Title</input-label>
                    <text-input id="ownersESignatureTitle"></text-input>
                    <form-error
                            errors="{{ form.errors }}"
                            messages="{{ formMessages }}">
                    </form-error>
                </div>
            </div>
        </form-block>

        <form-block>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <button-primary block on-click="submit" disabled="{{ form.state.isSubmitting }}">
                        <template is="dom-if" if="{{ form.state.isSubmitting }}">
                            Submitting...
                        </template>
                        <template is="dom-if" if="{{ !form.state.isSubmitting }}">
                            Submit Enrollment
                        </template>
                    </button-primary>
                </div>
            </div>
        </form-block>

    </template>
    <script>
        Polymer({
            is: "digital-signature",

            behaviors: [
                eventHub,
                formMessages,
                workflowActivityBehavior,
                formBehavior,
                formValidators,
                alloy.ensureDependenciesBehavior
            ],

            properties: {
                constants: {
                    value: {
                        CONSENT_TYPES: {
                            // Consent types required
                            TERMS_OF_AGREEMENT: "Terms of Agreement",
                            POLICY: "Policy",
                            PLATFORM_ACCESS_AND_USER_AGREEMENT: "Platform Access & User Agreement",
                            OPERATING_PROCEDURES: "Operating Procedures"
                        },
                        CONSENT_ENTITY_TYPE: "merchant"
                    }
                },
                form: {
                    value: function () {
                        var self = this;

                        return {
                            data: {},
                            errors: {},
                            state: {
                                isSubmitting: false,
                                submitCount: 0
                            },
                            fields: [
                                "ownersESignature",
                                "ownersESignatureTitle",
                                "signatureCheck1",
                                "signatureCheck2"
                            ],
                            validate: function () {
                                function getField(field, rule) {
                                    field = self.form.data[field];
                                    return function () {
                                        return rule(field)
                                    };
                                }

                                function requireField(fieldId) {
                                    return getField(fieldId, function (field) {
                                        return self.validators.isRequired(field);
                                    })
                                }

                                return {
                                    "ownersESignature": requireField("ownersESignature"),
                                    "ownersESignatureTitle": requireField("ownersESignatureTitle"),
                                    signatureCheck1: requireField("signatureCheck1"),
                                    signatureCheck2: requireField("signatureCheck2")
                                };
                            }
                        }
                    },
                    type: Object,
                    notify: true
                }
            },

            attached: function () {
                var self = this;
                var checkboxId = "signatureCheck2";
                var CONSENT_REQUIRED = "consentRequired";
                // TODO reactivate consentTracking
                // Set form errors for required consents
//                _.forEach(self.constants.CONSENT_TYPES, function(consentType) {
//                    self.addFormError(consentType, CONSENT_REQUIRED);
//                });

                // Save consent when checkbox is checked
//                $("#" + checkboxId).on("change", function () {
//                    if (this.checked) {
//                        _.forEach(self.constants.CONSENT_TYPES, function(consentType) {
//                            self.consent(consentType).then(function() {
//                                delete self.form.errors[consentType]
//                            });
//                        });
//                    }
//                });
            },

            consent: function (consentType) {
                var self = this;
                var MERCHANT = self.constants.CONSENT_ENTITY_TYPE;
                var merchantId = this.output.merchantId;
                return this.$.consentTrackerService.accept(consentType, merchantId, MERCHANT);
            },

            completeForm: function () {
                var self = this;
                var output = {};

                output.merchantId = self.output.merchantId;
                output.payload = self.$.merchantService.mapFieldsToPayload(self.form.data);

                this.showSpinner();
                this.$.merchantService
                        .getById(output.merchantId)
                        .then(function (merchant) {
                            return output.payload = _.extend(merchant, output.payload);
                            self.$.merchantService.update(output.merchantId, output.payload);
                        })
                        //                    .safeUpdate(output.merchantId, output.payload)
                        .then(function (res) {
                            self.hideSpinner();
                            self.publishActivityComplete({
                                output: output
                            });
                        })
                        .catch(function (error) {
                            self.hideSpinner();
                            setTimeout(function () {
                                console.error(error);
                            })
                        });
            }
        });
    </script>
</dom-module>