<dom-module id="display-request">
<template>
    <h1>Your Results:</h1>
    <pre>{{ formatResponse(truncatedResponse) }}</pre>
</template>
<script>
    Polymer({
        is: "display-request",

        behaviors: [
            eventHub,
            workflowActivityBehavior
        ],

        properties: {
            truncatedResponse: Object
        },

        formatResponse: function(rawResponse) {
            return JSON.stringify(rawResponse[0], null, 2);
        },

        execute: function() {
            this.set("truncatedResponse", this.output.response);
        }
    });
</script>
</dom-module>