<html-import html-href="ui-elements/inputs/text-input.html"></html-import>
<html-import html-href="ui-elements/inputs/input-label.html"></html-import>
<html-import html-href="ui-elements/forms/form-title.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<html-import html-href="ui-elements/forms/form-error.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="services/merchant-service.html"></html-import>
<html-import html-href="services/email-validation-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/spinner-service.html"></html-import>

<dom-module id="merchant-enrollment">
    <template>
        <email-validation-service id="emailValidationService"></email-validation-service>
        <merchant-service id="merchantService"></merchant-service>
        <identity-service id="identityService"></identity-service>
        <spinner-service id="spinnerService"></spinner-service>

        <form class="form-horizontal">
            <button on-click="fillForm">FILL</button>
            <form-block>
                <div class="col-sm-10 col-sm-offset-2">
                    <form-title content="Merchant Information"></form-title>
                </div>
            </form-block>

            <form-block error-keys="firstName, lastName">
                <input-label class="col-sm-2">Contact</input-label>
                <div class="col-sm-5">
                    <text-input id="firstName" placeholder="First" value="{{ form.data.firstName }}"></text-input>
                    <form-error error-keys="firstName" errors="{{ form.errors }}"
                                messages="{{ formMessages }}"></form-error>
                </div>
                <div class="col-sm-5">
                    <text-input id="lastName" placeholder="Last"></text-input>
                    <form-error error-keys="lastName" errors="{{ form.errors }}"
                                messages="{{ formMessages }}"></form-error>
                </div>
            </form-block>

            <form-block>
                <input-label class="col-sm-2">Job Title</input-label>
                <div class="col-sm-10">
                    <text-input id="jobTitle"></text-input>
                </div>

            </form-block>

            <form-block error-keys="businessName">
                <input-label class="col-sm-2">Business Name</input-label>
                <div class="col-sm-10">
                    <text-input id="businessName" placeholder="Legal Business Name"></text-input>
                    <form-error></form-error>
                </div>
            </form-block>

            <form-block>
                <input-label class="col-sm-2">DBA (if exists)</input-label>
                <div class="col-sm-10">
                    <text-input id="dba" placeholder="Doing Business As"></text-input>
                </div>
            </form-block>

            <form-block error-keys="businessPhone">
                <input-label class="col-sm-2">Business Phone</input-label>
                <div class="col-sm-8">
                    <text-input id="businessPhone"></text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>
                </div>
                <div class="col-sm-2">
                    <text-input
                            id="businessPhoneExt"
                            placeholder="Ext">
                    </text-input>
                </div>
            </form-block>

            <form-block error-keys="businessEmail, businessEmailValid">
                <input-label class="col-sm-2">Business Email</input-label>
                <div class="col-sm-10">
                    <text-input id="businessEmail"></text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>
                </div>
            </form-block>

            <form-block error-keys="password">
                <input-label class="col-sm-2">Password</input-label>
                <div class="col-sm-10">
                    <text-input id="password" type="password"></text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>
                </div>
            </form-block>

            <form-block error-keys="passwordConfirmation">
                <input-label class="col-sm-2">Password
                    Confirmation
                </input-label>
                <div class="col-sm-10">
                    <text-input id="passwordConfirmation" type="password"></text-input>
                    <form-error></form-error>
                </div>
            </form-block>

            <form-block class="text-right">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-3 col-sm-offset-9">
                            <button-primary on-click="submit" disabled="{{ form.state.isSubmitting }}">
                                <template is="dom-if" if="{{ !form.state.isSubmitting }}">
                                    Get Started
                                </template>
                                <template is="dom-if" if="{{ form.state.isSubmitting }}">
                                    Saving...
                                </template>
                            </button-primary>
                        </div>
                    </div>
                </div>
            </form-block>

        </form>

        <style>
            .form-horizontal input-label.col-sm-2 {
                /*padding-right: 0px;*/
                text-align: right;
            }
        </style>

    </template>
    <script>
        Polymer({
            is: "merchant-enrollment",

            fillForm: function (e) {
                e.preventDefault();
                var self = this;
                var testFormData = {
                    "firstName": "Krystal",
                    "lastName": "Brown",
                    "jobTitle": "Director",
                    "businessName": "Brown Inc",
                    "dba": "Brown",
                    "businessPhone": "7147171826",
                    "businessPhoneExt": "224",
                    "businessEmail": "info+" + parseInt(Math.random() * 5000) + "@lendfoundry.com",
                    "password": "123456",
                    "passwordConfirmation": "123456"
                };

                _.forOwn(testFormData, function (v, k) {
                    self.setField(k, v);
                });
            },

            attached: function () {
                var self = this;

                // Validate businessEmail field on blur
                this.ensure("businessEmail").then(function (businessEmail) {
                    $(businessEmail).find("input").each(function () {
                        this.addEventListener("blur", function (event) {
                            self.validateEmail(event.target.value);
                        });
                    });
                });

                var submit = this.submit;
            },

            properties: {
                form: {
                    value: function () {
                        var self = this;

                        return {
                            state: {
                                isSubmitting: false,
                                submitCount: 0
                            },
                            data: {},
                            errors: {
                                businessEmailValid: "email"
                            },
                            fields: [
                                "firstName",
                                "lastName",
                                "jobTitle",
                                "businessName",
                                "dba",
                                "businessPhone",
                                "businessPhoneExt",
                                "businessEmail",
                                "password",
                                "passwordConfirmation"
                            ],

                            // Note that validation keys are arbitrary. They do not necessarily correspond to fields.
                            validate: function () {
                                isRequired = self.validators.isRequired;
                                isNotEqual = self.validators.isNotEqual;

                                var rules = {
                                    firstName: function () {
                                        var firstName = self.form.data.firstName;
                                        return isRequired(firstName);
                                    },
                                    lastName: function () {
                                        var firstName = self.form.data.lastName;
                                        return isRequired(firstName);
                                    },
                                    businessName: function () {
                                        var businessName = self.form.data.businessName;
                                        return isRequired(businessName);
                                    },
                                    businessEmail: function () {
                                        var businessEmail = self.form.data.businessEmail;
                                        return isRequired(businessEmail);
                                    },
                                    businessPhone: function () {
                                        var firstName = self.form.data.businessPhone;
                                        return isRequired(firstName);
                                    },
                                    password: function () {
                                        var firstName = self.form.data.password;
                                        return isRequired(firstName);
                                    },
                                    passwordConfirmation: function () {
                                        var password = self.form.data.password,
                                                passwordConfirmation = self.form.data.passwordConfirmation;
                                        return [
                                            isRequired(passwordConfirmation),
                                            (function () {
                                                return isNotEqual(passwordConfirmation)(password) ?
                                                        "passwordConfirmationDifferent" : undefined;
                                            })()
                                        ];
                                    }
                                };

                                return rules;
                            }
                        }
                    },
                    type: Object
                }
            },

            behaviors: [
                eventHub,
                workflowActivityBehavior,
                formBehavior,
                formValidators,
                formMessages,
                alloy.ensureDependenciesBehavior
            ],

            validateEmail: function (email) {
                var self = this;

                if (!email) {
                    return
                }

                this.$.emailValidationService
                        .validate(email)
                        .then(function (res) {
                                    self.set("form.errors.businessEmailValid", undefined);

                                    if (!res.verified) {
                                        self.set("form.errors.businessEmailValid", "email");
                                    }

                                    self.set("form.errors", self.pruneKeys(self.form.errors));
                                    self.updateFormBlocks(self.form.errors, self.formMessages);
                                },
                                function (err) {

                                });
            },

            mapFieldsToPayload: function (fields) {
                return this.$.merchantService.mapFieldsToEnrollPayload(fields);
            },

            completeForm: function (event) {
                var self = this;
                var payload = self.mapFieldsToPayload(self.form.data);
                var email = self.form.data.businessEmail;

                self.showSpinner();
                self.$.identityService.validateUsername(email)
                        .then(function (available) {
                            if (!available) {
                                // TODO: Reconcile async validation with form behavior
//                                self.form.errors.usernameInUse = "usernameInUse";
                                return Promise.reject("Username not available.");
                            }
                        })
                        .then(function () {
                            var userPayload = {
                                username: self.form.data.businessEmail,
                                email: self.form.data.businessEmail,
                                roles: ["admin"],
                                name: self.form.data.firstName + " " + self.form.data.lastName,
                                password: self.form.data.password,
                            };

                            return self.$.identityService.createUser(userPayload);
                        })
                        .then(function () {
                            return self.$.merchantService.enroll(payload)
                        })
                        .then(function (merchant) {
                            self.hideSpinner();
                            self.publishActivityComplete({
                                output: {
                                    merchantId: merchant.merchantId,
                                    payload: payload
                                }
                            });
                        })
                        .catch(function (error) {
                            self.hideSpinner();
                            setTimeout(function () {
                                console.error(error);
                            });
                        });
            }
        });
    </script>
</dom-module>