<html-import html-href="services/rules-engine-service.html"></html-import>
<dom-module id="microbilt-bank">
    <template>
        <style>
            .modal-dialog {
                /*width: 50%;*/
                /*min-width: 700px;*/
            }

            iframe {
                min-height: 100vh;
                width: 100%;
            }

            .margin-top {
                margin-top: 15px;
            }
        </style>
        <div class="modal fade" id="microbiltModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe id="player"
                                type="text/html"
                                src="{{ microbiltCredentials.url }}"
                                frameborder="0">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <http-request id="http"></http-request>
        <rules-engine-service id="rules"></rules-engine-service>
        <merchant-service id="merchantService"></merchant-service>
    </template>
    <script>
        (function () {
            var merchantEnrollmentStep = {
                getMerchantId: function () {
//                    return "MER0000000068";
                    // TODO: remove hardcoded value
                            return this.output.merchantId;
                }
            };

            var bankVerificationStep = {
                execute: function () {
                    return this
                            .startVerification()
                            .then(this.saveVerification.bind(this))
                            .then(this.done.bind(this));
                }
            };

            Polymer({
                is: "microbilt-bank",

                behaviors: [
                    eventHub,
                    workflowActivityBehavior,
                    ensureDependenciesBehavior,
                    bankVerificationStep,
                    merchantEnrollmentStep
                ],

                properties: {
                    config: {
                        value: {
                            rules: {
                                getUrl: {
                                    name: "getUrl",
                                    version: "1.0"
                                },
                                process: {
                                    name: "processBankVerification",
                                    version: "1.1"
                                }
                            },
                            maxLoadEvents: 4,
                            modalId: "microbiltModal"
                        },
                        type: Object
                    },
                    microbiltCredentials: {
                        value: {
                            token: null,
                            url: ""
                        }
                    }
                },

                registered: function () {
                    this.set("startVerification", this.startMicrobiltVerification);
                    this.set("saveVerification", this.saveMicrobiltTransactions);
                    this.set("done", this.completeStep);
                },

                detached: function () {
                    this.closeModal();
                },

                getUrlRule: function () {
                    return this.config.rules.getUrl;
                },

                getProcessRule: function () {
                    return this.config.rules.process;
                },

                getMicrobiltCredentials: function () {
                    return this.microbiltCredentials;
                },

                setMicrobiltCredentials: function(token, url) {
                    this.set("microbiltCredentials", {
                        token: token,
                        url: url
                    });
                },

                getModalId: function () {
                    return this.config.modalId;
                },

                closeModal: function () {
                    $("#" + this.getModalId()).modal("hide");
                },

                openModal: function () {
                    $("#" + this.getModalId()).modal({
                        keyboard: false,
                        show: true,
                        backdrop: 'static'
                    });
                },

                startMicrobiltVerification: function () {
                    var self = this;

                    // TODO: The receipt of this message should control progress, not modal closing
                    // Listen for message posted by finalUrl of Microbilt verification
                    window.addEventListener("message", function(event) {
                        if (event.origin.includes("olark")) { return }
                        self.closeModal();
                    }, false);

                    self.openModal();

                    return self
                            .fetchMicrobiltCredentials()
                            .then(function (auth) {
                                self.setMicrobiltCredentials(auth.token, auth.url);
                            })
                            .then(this.awaitModalClosing.bind(this))
                },

                awaitModalClosing: function () {
                    var self = this;

                    return new Promise(function (resolve) {
                        $("#" + self.getModalId()).on("hidden.bs.modal", resolve);
                    });
                },

                /**
                 * Retreive credentials from rules engine
                 * @returns {Promise<U>}
                 */
                fetchMicrobiltCredentials: function () {
                    var self = this;
                    var getUrl = self.getUrlRule();
                    var merchantId = self.getMerchantId();

                    return self
                            .runRule(getUrl.name, getUrl.version, {
                                merchantId: merchantId
                            })
                            .then(function (result) {
                                if (result.code) {
                                    self.terminateWorkflow(result.message);
                                    return;
                                }

                                return result.output;
                            })
                },

                /**
                 * Send Microbilt Verification information to rules engine
                 * @returns {none}
                 */
                saveMicrobiltTransactions: function () {
                    var self = this;
                    var process = self.getProcessRule();

                    self.runRule(process.name, process.version, {
                        information: {
                            merchantId: self.getMerchantId(),
                            token: self.getMicrobiltCredentials().token
                        }
                    });
                },

                completeStep: function () {
                    this.completeActivity({ merchantId: this.getMerchantId() });
                },

                // TODO Should already be part of a behavior
                completeActivity: function (output) {
                    this.publishActivityComplete({
                        output: output
                    });
                },

                // TODO Should already be part of a behavior
                terminateWorkflow: function (reason) {
                    this.publishActivityComplete({
                        output: {
                            reason: reason
                        },
                        terminated: true
                    })
                }
            });
        })();
    </script>
</dom-module>