<html-import html-href="ui-elements/inputs/text-input.html"></html-import>
<html-import html-href="ui-elements/inputs/number-input.html"></html-import>
<html-import html-href="ui-elements/inputs/input-label.html"></html-import>
<html-import html-href="ui-elements/forms/form-title.html"></html-import>
<html-import html-href="ui-elements/forms/form-group.html"></html-import>
<html-import html-href="ui-elements/forms/form-error.html"></html-import>
<html-import html-href="ui-elements/button-primary.html"></html-import>
<html-import html-href="ui-elements/inputs/select-input.html"></html-import>
<html-import html-href="ui-elements/inputs/ssn-input.html"></html-import>

<html-import html-href="ui-elements/promised-value.html"></html-import>
<html-import html-href="services/merchant-service.html"></html-import>
<html-import html-href="services/business-report-service.html"></html-import>
<html-import html-href="services/spinner-service.html"></html-import>

<dom-module id="prefilled-info">
    <template>
        <merchant-service id="merchantService"></merchant-service>
        <business-report-service id="businessReportService"></business-report-service>
        <spinner-service id="spinnerService"></spinner-service>

        <button on-click="fillForm">Fill</button>
        <form class="form-horizontal">
            <form-block>
                <div class="col-sm-10 col-sm-offset-2">
                    <form-title content="Merchant Information"></form-title>
                </div>
            </form-block>

            <form-block error-keys="taxId">
                <input-label class="col-sm-2">Federal Tax ID or
                    SSN
                </input-label>
                <div class="col-sm-10">
                    <text-input id="taxId"></text-input>
                    <form-error></form-error>
                </div>
            </form-block>

            <form-block>
                <p class="col-sm-10 col-sm-offset-2">We have prefilled some
                    information for you. Please
                    verify
                    .</p>
            </form-block>

            <form-block error-keys="address">
                <input-label class="col-sm-2">Address</input-label>
                <div class="col-sm-10">
                    <text-input id="address"
                                placeholder="123 Main St"></text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>
                </div>
            </form-block>

            <form-block error-keys="city, state, zip">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <text-input
                                    id="city"
                                    placeholder="City">
                            </text-input>
                            <form-error error-keys="city" errors="{{ form.errors }}"
                                        messages="{{ formMessages }}"></form-error>

                        </div>
                        <div class="col-sm-3">
                            <select-input
                                    id="state"
                                    placeholder="State"
                                    items="{{ states }}">
                            </select-input>
                            <form-error error-keys="state" errors="{{ form.errors }}"
                                        messages="{{ formMessages }}"></form-error>

                        </div>
                        <div class="col-sm-3">
                            <text-input
                                    id="zip"
                                    placeholder="Zip"
                                    value="{{ form.data.zip }}">
                            </text-input>
                            <form-error error-keys="zip" errors="{{ form.errors }}"
                                        messages="{{ formMessages }}"></form-error>
                        </div>
                    </div>
                </div>
            </form-block>

            <form-block error-keys="yearStarted">
                <input-label class="col-sm-2">Year Started</input-label>
                <div class="col-sm-10">
                    <text-input id="yearStarted"
                                placeholder="2012"
                                value="{{ form.data.yearStarted }}">
                    </text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>

                </div>
            </form-block>

            <form-block error-keys="website">
                <input-label class="col-sm-2">Website</input-label>
                <div class="col-sm-10">
                    <text-input
                            id="website"
                            placeholder="www.lendingflow.com"></text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>

                </div>
            </form-block>

            <form-block error-keys="annualSales">
                <input-label class="col-sm-2">Annual Sales (Est)</input-label>
                <div class="col-sm-10">
                    <text-input id="annualSales"
                                placeholder="$ 150,000.00"></text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>
                </div>
            </form-block>

            <form-block>
                <div class="col-sm-10 col-sm-offset-2">
                    <label>
                        <input id="sameAsContact" type="checkbox">
                        Same as Contact
                    </label>
                </div>
            </form-block>

            <form-block error-keys="principalOwnerFirstName, principalOwnerLastName">
                <input-label class="col-sm-2">Principal Owner</input-label>
                <div class="col-sm-5">
                    <text-input id="principalOwnerFirstName"
                                placeholder="John"
                                value="{{ form.data.principalOwnerFirstName }}">
                    </text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>
                </div>
                <div class="col-sm-5">
                    <text-input id="principalOwnerLastName"
                                placeholder="Doe"
                                value="{{ form.data.principalOwnerLastName }}">
                    </text-input>
                    <form-error errors="{{ form.errors }}" messages="{{ formMessages }}"></form-error>
                </div>
            </form-block>

            <form-block error-keys="dateOfBirthMonth, dateOfBirthYear, dateOfBirthDay, dateOfBirthDayAfterToday">
                <input-label class="col-sm-2">Date of Birth</input-label>
                <div class="col-sm-4">
                    <select-input
                            id="dateOfBirthMonth"
                            items="{{ months }}"
                            placeholder="Month">
                    </select-input>
                    <form-error error-keys="dateOfBirthMonth, dateOfBirthDayAfterToday"></form-error>
                </div>

                <div class="col-sm-3">
                    <number-input
                            id="dateOfBirthDay"
                            placeholder="Day">
                    </number-input>
                    <form-error error-keys="dateOfBirthDay, dateOfBirthDayAfterToday"></form-error>
                </div>

                <div class="col-sm-3">
                    <number-input
                            id="dateOfBirthYear"
                            placeholder="Year">
                    </number-input>
                    <form-error error-keys="dateOfBirthYear, dateOfBirthDayAfterToday"></form-error>
                </div>
            </form-block>

            <form-block>
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button-primary
                                    on-click="submit"
                                    disabled="{{ form.state.isSubmitting }}">
                                <template is="dom-if" if="{{ form.state.isSubmitting }}">
                                    Submitting...
                                </template>
                                <template is="dom-if" if="{{ !form.state.isSubmitting }}">
                                    Proceed
                                </template>
                            </button-primary>
                        </div>
                    </div>
                </div>
            </form-block>
        </form>
        <style>
            .form-horizontal input-label.col-sm-2 {
                padding-right: 0px;
                text-align: right;
            }
        </style>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "prefilled-info",

            behaviors: [
                eventHub,
                workflowActivityBehavior,
                formBehavior,
                formValidators,
                formMessages
            ],

            properties: {
                months: {
                    value: function () {
                        return [
                            {
                                value: "01",
                                label: "January"
                            }, {
                                value: "02",
                                label: "February"
                            }, {
                                value: "03",
                                label: "March"
                            }, {
                                value: "04",
                                label: "April"
                            }, {
                                value: "05",
                                label: "May"
                            }, {
                                value: "06",
                                label: "June"
                            }, {
                                value: "07",
                                label: "July"
                            }, {
                                value: "08",
                                label: "August"
                            }, {
                                value: "09",
                                label: "September"
                            }, {
                                value: "10",
                                label: "October"
                            }, {
                                value: "11",
                                label: "November"
                            }, {
                                value: "12",
                                label: "December"
                            },

                        ]
                    }
                },
                states: {
                    value: function () {
                        return [
                            {
                                value: "",
                                label: "N/A"
                            },
                            {
                                value: "AK",
                                label: "Alaska"
                            },
                            {
                                value: "AL",
                                label: "Alabama"
                            },
                            {
                                value: "AR",
                                label: "Arkansas"
                            },
                            {
                                value: "AZ",
                                label: "Arizona"
                            },
                            {
                                value: "CA",
                                label: "California"
                            },
                            {
                                value: "CO",
                                label: "Colorado"
                            },
                            {
                                value: "CT",
                                label: "Connecticut"
                            },
                            {
                                value: "DC",
                                label: "District of Columbia"
                            },
                            {
                                value: "DE",
                                label: "Delaware"
                            },
                            {
                                value: "FL",
                                label: "Florida"
                            },
                            {
                                value: "GA",
                                label: "Georgia"
                            },
                            {
                                value: "HI",
                                label: "Hawaii"
                            },
                            {
                                value: "IA",
                                label: "Iowa"
                            },
                            {
                                value: "ID",
                                label: "Idaho"
                            },
                            {
                                value: "IL",
                                label: "Illinois"
                            },
                            {
                                value: "IN",
                                label: "Indiana"
                            },
                            {
                                value: "KS",
                                label: "Kansas"
                            },
                            {
                                value: "KY",
                                label: "Kentucky"
                            },
                            {
                                value: "LA",
                                label: "Louisiana"
                            },
                            {
                                value: "MA",
                                label: "Massachusetts"
                            },
                            {
                                value: "MD",
                                label: "Maryland"
                            },
                            {
                                value: "ME",
                                label: "Maine"
                            },
                            {
                                value: "MI",
                                label: "Michigan"
                            },
                            {
                                value: "MN",
                                label: "Minnesota"
                            },
                            {
                                value: "MO",
                                label: "Missouri"
                            },
                            {
                                value: "MS",
                                label: "Mississippi"
                            },
                            {
                                value: "MT",
                                label: "Montana"
                            },
                            {
                                value: "NC",
                                label: "North Carolina"
                            },
                            {
                                value: "ND",
                                label: "North Dakota"
                            },
                            {
                                value: "NE",
                                label: "Nebraska"
                            },
                            {
                                value: "NH",
                                label: "New Hampshire"
                            },
                            {
                                value: "NJ",
                                label: "New Jersey"
                            },
                            {
                                value: "NM",
                                label: "New Mexico"
                            },
                            {
                                value: "NV",
                                label: "Nevada"
                            },
                            {
                                value: "NY",
                                label: "New York"
                            },
                            {
                                value: "OH",
                                label: "Ohio"
                            },
                            {
                                value: "OK",
                                label: "Oklahoma"
                            },
                            {
                                value: "OR",
                                label: "Oregon"
                            },
                            {
                                value: "PA",
                                label: "Pennsylvania"
                            },
                            {
                                value: "PR",
                                label: "Puerto Rico"
                            },
                            {
                                value: "RI",
                                label: "Rhode Island"
                            },
                            {
                                value: "SC",
                                label: "South Carolina"
                            },
                            {
                                value: "SD",
                                label: "South Dakota"
                            },
                            {
                                value: "TN",
                                label: "Tennessee"
                            },
                            {
                                value: "TX",
                                label: "Texas"
                            },
                            {
                                value: "UT",
                                label: "Utah"
                            },
                            {
                                value: "VA",
                                label: "Virginia"
                            },
                            {
                                value: "VT",
                                label: "Vermont"
                            },
                            {
                                value: "WA",
                                label: "Washington"
                            },
                            {
                                value: "WI",
                                label: "Wisconsin"
                            },
                            {
                                value: "WV",
                                label: "West Virginia"
                            },
                            {
                                value: "WY",
                                label: "Wyoming"
                            }
                        ];
                    },
                    type: Array
                },
                form: {
                    value: function () {
                        var self = this;
                        return {
                            state: {
                                isSubmitting: false,
                                submitCount: 0
                            },
                            data: {},
                            errors: {},
                            fields: [
                                "taxId",
                                "address",
                                "city",
                                "state",
                                "zip",
                                "yearStarted",
                                "website",
                                "annualSales",
                                "sameAsContact",
                                "principalOwnerFirstName",
                                "principalOwnerLastName",
                                "dateOfBirthDay",
                                "dateOfBirthMonth",
                                "dateOfBirthYear"
                            ],
                            validate: function () {

                                function getField(field) {
                                    return self.form.data[field];
                                }

                                function requireField(field) {
                                    return self.validators.isRequired(getField(field))
                                }

                                return {
                                    taxId: self.validators.taxId(getField("taxId")),
                                    address: requireField("address"),
                                    city: requireField("city"),
                                    state: requireField("state"),
                                    zip: requireField("zip"),
                                    yearStarted: requireField("yearStarted"),
                                    website: requireField("website"),
                                    annualSales: requireField("annualSales"),
                                    principalOwnerFirstName: requireField("principalOwnerFirstName"),
                                    principalOwnerLastName: requireField("principalOwnerLastName"),
                                    dateOfBirthDayAfterToday: function () {
                                        var day = self.form.data.dateOfBirthDay;
                                        var month = self.form.data.dateOfBirthMonth;
                                        var year = self.form.data.dateOfBirthYear;
                                        var dateString = [month, day, year].join(" ");
                                        var dob = new Date(dateString);
                                        var today = new Date();

                                        return [
                                            self.validators.dobAfterToday(dob, today)
                                        ];
                                    },
                                    dateOfBirthDay: requireField("dateOfBirthDay"),
                                    dateOfBirthMonth: requireField("dateOfBirthMonth"),
                                    dateOfBirthYear: requireField("dateOfBirthYear")
                                }
                            }
                        };
                    }
                }
            },

            fillForm: function () {
                var self = this;
                _.each({
                            taxId: 743107043,
                            address: "456 Green Street",
                            city: "Pasadena",
                            state: "CA",
                            zip: "91104",
                            yearStarted: "2013",
                            website: "www.lendingfl0w.de.rp",
                            sameAsContact: false,
                            annualSales: "150000",
                            principalOwnerFirstName: "Herman",
                            principalOwnerLastName: "Miller",
                            dateOfBirthMonth: "10",
                            dateOfBirthDay: "03",
                            dateOfBirthYear: "1984"
                        },
                        function (value, fieldId) {
                            self.setField(fieldId, value);
                        })
            },

            attached: function () {
                var self = this;

                // When input is checked, copy contact info to principal owner for field
                $("#sameAsContact").on("change", function () {
                    if (this.checked) {
                        self.$.merchantService
                                .getById(self.output.merchantId)
                                .then(function (response) {
                                    self.set("form.data", _.extend({}, self.form.data, {
                                        principalOwnerFirstName: response.contacts[0].firstName,
                                        principalOwnerLastName: response.contacts[0].lastName
                                    }));
                                });
                    }
                })
            },


            completeForm: function (event) {
                // TODO transform payload to use name: { "key": key, "value": value }
                var self = this;
                var payload;
                var merchantId = self.output.merchantId;

                // Grab merchant info
                this.$.merchantService
                        .getById(merchantId)

                        // Transform form data to merchant service payload
                        .then(function (response) {
                            payload = self.transformFormDataToPayload(self.form.data, response);
                            return payload;
                        })

                        // Update merchant
                        .then(function (payload) {
                            return self.$.merchantService.update(merchantId, payload);
                        })

                        // Complete appflow step
                        .then(function (res) {
                            self.publishActivityComplete({
                                output: {
                                    merchantId: merchantId,
                                    payload: payload
                                }
                            });
                        });
            },

            transformFormDataToPayload: function (formData, payload) {
                var payload = payload || {contacts: [{}]};

                payload.principalOwnerFirstName = formData.principalOwnerFirstName;
                payload.principalOwnerLastName = formData.principalOwnerLastName;
                payload.principalOwnerDateOfBirth = [
                    formData.dateOfBirthYear,
                    formData.dateOfBirthMonth,
                    formData.dateOfBirthDay
                ].join("-");

                payload.annualSales = formData.annualSales;
                payload.website = formData.website;
                payload.YearBusinessStarted = formData.yearStarted;
                payload.businessAddresses = payload.businessAddresses || [];
                payload.businessAddresses.push({
                    Line1: formData.address,
                    City: formData.city,
                    State: formData.state,
                    ZipCode: formData.zip
                });

                payload.principalOwner = payload.principalOwner || {};
                payload.principalOwner.firstName = payload.principalOwnerFirstName;
                payload.principalOwner.lastName = payload.principalOwnerFirstName;
                payload.principalOwner.dateOfBirth = payload.principalOwnerDateOfBirth;

                return payload;
            },

            /**
             * Initialize the ssn field from the payload received from the previous workflow step
             */
            execute: function () {
                var self = this;
                // transform report to form data. some fields may not be available.
                try {
                    this.form.data = this.mapResponseToFormData(this.output.businessReport);
                } catch (e) {
                    console.error(e)
                }

                // populate ssn from previous step's output
                this.form.data.taxId = this.output.payload.taxId;

                // set inputs from form.data
                _.each(this.form.data, function (value, fieldId) {
                    self.setField(fieldId, value);
                });
            },

            /**
             * Use to transform from business report JSON to form data. Use as callback to businessReportService.transformResponse
             * @type {{taxId: string, reportDate: string, expirationDate: string, report: {Best: {BusinessIds: {DotId: number, EmpId: number, PowId: number, ProxId: number, SeleId: number, OrgId: number, UltId: number, DotIdSpecified: boolean, EmpIdSpecified: boolean, PowIdSpecified: boolean, ProxIdSpecified: boolean, SeleIdSpecified: boolean, OrgIdSpecified: boolean, UltIdSpecified: boolean}, CompanyNameSource: null, CompanyNameSourceDocId: string, TinSource: string, Tin: string, Ticker: null, Exchange: null, UrlSource: null, Url: null, Source: null, SourceDocId: null, SourceParty: null, CompanyName: string, Address: {StreetNumber: null, StreetPreDirection: null, StreetName: string, StreetSuffix: null, StreetPostDirection: null, UnitDesignation: null, UnitNumber: null, StreetAddress1: null, StreetAddress2: null, City: string, State: string, Zip5: string, Zip4: string, County: string, PostalCode: null, StateCityZip: null}, PhoneInfo: {Phone10: string, PubNonpub: null, ListingPhone10: null, ListingName: string, TimeZone: string, ListingTimeZone: null}, PhoneFromDate: {Year: number, Month: number, Day: number}, PhoneToDate: {Year: number, Month: number, Day: number}, PhoneType: string, ActiveEda: boolean, Disconnected: boolean, WirelessIndicator: null, Fax: null, YearStarted: number, YearStartedDerived: boolean, YearStartedSource: null, YearStartedSourceDocId: null, YearsInBusiness: number, CountOtherTiNs: number, TotalCountOtherTiNs: number, CountOtherCompanies: number, TotalCountOtherCompanies: number, IsDefunct: boolean, IsActive: boolean, OtherCompanyNames: *[], OtherCompanyTins: *[]}, Parent: {Parents: null, SourceDocs: null}, Finance: {Finances: null}, Industry: {IndustryRecords: *[]}, Incorporation: {CorpFilings: null, ReturnedCorpFilings: number, TotalCorpFilings: number, SourceDocs: null}, OperationsSites: {ReturnedRecordCount: number, TotalRecordCount: number, OperationsSites: *[], SourceDocs: null}, Contact: {OtherAssociatedPersonCount: number, OtherAssociatedPersons: null, CurrentContactCount: number, TotalCurrentContactCount: number, CurrentIndividuals: null, CurrentExecutiveCount: number, TotalCurrentExecutiveCount: number, CurrentExecutives: null, CurrentSourceDocs: null, PriorContactCount: number, TotalPriorContactCount: number, PriorIndividuals: *[], PriorExecutiveCount: number, TotalPriorExecutiveCount: number, PriorExecutives: null}, License: {LicenseRecordCount: number, LicenseTotalCount: number, LicenseRecords: {Licenses: null, SourceDocs: null}}, Url: {UrlRecordCount: number, Urls: null, SourceDocs: null}, Bankruptcy: {DerogSummaryCntBankruptcy: number, TotalDerogSummaryCntBankruptcy: number, AsDebtors: null, DebtorSourceDocs: null}, Lien: {DerogSummaryCntJl: number, ReturnedRecordCount: number, TotalRecordCount: number, JudgmentsLiens: null, SourceDocs: null}, Ucc: {DerogSummaryCntUcc: number, SecuredAssetsCntUcc: number, ReturnedAsDebtorCount: number, TotalAsDebtorCount: number, ReturnedAsSecuredCount: number, TotalAsSecuredCount: number, AsDebtor: {ActiveUcCs: null, ActiveSourceDocs: null, TerminatedUcCs: null, TerminatedSourceDocs: null}, AsSecured: {ActiveUcCs: null, ActiveSourceDocs: null, TerminatedUcCs: null, TerminatedSourceDocs: null}}, Property: {PropertyRecordCount: number, TotalPropertyRecordCount: number, PropertyRecords: {CurrentRecordsCount: number, TotalCurrentRecordsCount: number, PriorRecordsCount: number, TotalPriorRecordsCount: number, Properties: null, CurrentSourceDocs: null, PriorSourceDocs: null, DerogSummaryCntForeclosureNod: number, ForeclosureNodRecordCount: number}}, MotorVehicle: {MotorVehicleRecordCount: number, TotalMotorVehicleRecordCount: number, MotorVehicleRecords: {CurrentRecordCount: number, TotalCurrentRecordCount: number, PriorRecordCount: number, TotalPriorRecordCount: number, CurrentVehicles: null, CurrentSourceDocs: null, PriorVehicles: null, PriorSourceDocs: null}}, Watercraft: {WatercraftRecordCount: number, TotalWatercraftRecordCount: number, WatercraftRecords: {CurrentRecordCount: number, TotalCurrentRecordCount: number, CurrentWatercrafts: null, CurrentSourceDocs: null, PriorRecordCount: number, TotalPriorRecordCount: number, PriorWatercrafts: null, PriorSourceDocs: null}}, Aircraft: {AircraftRecordCount: number, TotalAircraftRecordCount: number, AircraftRecords: {CurrentRecordCount: number, TotalCurrentRecordCount: number, CurrentAircrafts: null, CurrentSourceDocs: null, PriorRecordCount: number, TotalPriorRecordCount: number, PriorAircrafts: null, PriorSourceDocs: null}}, Associate: {ReturnBusinessCount: number, TotalBusinessCount: number, BusinessAssociates: null, ReturnPersonCount: number, TotalPersonCount: number, PersonAssociates: null}, RegisteredAgent: {RegisteredAgentCount: number, RegisteredAgents: null}, Irs5500: {Irs5500RecordCount: number, Irs5500S: null}, DunBradStreet: {DnbRecordCount: number, Dnb: {DateFirstSeen: {Year: number, Month: number, Day: number}, DateLastSeen: {Year: number, Month: number, Day: number}, DunsNumber: string, BusinessName: string, TradeStyle: null, OrigAddress: {StreetNumber: null, StreetPreDirection: null, StreetName: null, StreetSuffix: null, StreetPostDirection: null, UnitDesignation: null, UnitNumber: null, StreetAddress1: string, StreetAddress2: null, City: string, State: string, Zip5: null, Zip4: null, County: string, PostalCode: string, StateCityZip: null}, OrigMailingAddress: {StreetNumber: null, StreetPreDirection: null, StreetName: null, StreetSuffix: null, StreetPostDirection: null, UnitDesignation: null, UnitNumber: null, StreetAddress1: string, StreetAddress2: null, City: string, State: string, Zip5: null, Zip4: null, County: null, PostalCode: string, StateCityZip: null}, Phone10: null, MsaCode: string, MsaName: string, LineOfBusinessDescription: string, Sics: *[], IndustryGroup: string, YearStarted: string, DateOfIncorporation: {Year: number, Month: number, Day: number}, StateOfIncorporation: string, AnnualSalesVolumeSign: string, AnnualSalesVolume: string, AnnualSalesCode: string, EmployeesHereSign: string, EmployeesHere: string, EmployeesTotalSign: string, EmployeesTotal: string, EmployeesHereCode: string, AnnualSalesRevisionDate: {Year: number, Month: number, Day: number}, NetWorthSign: null, NetWorth: null, TrendSalesSign: string, TrendSales: string, TrendEmploymentTotalSign: string, TrendEmploymentTotal: string, BaseSalesSign: string, BaseSales: string, BaseEmploymentTotalSign: string, BaseEmploymentTotal: string, PercentageSalesGrowthSign: null, PercentageSalesGrowth: null, PercentageEmploymentGrowthSign: null, PercentageEmploymentGrowth: null, SquareFootage: string, SalesTerritory: string, OwnsRents: string, NumberOfAccounts: null, BankDunsNumber: null, BankName: null, AccountingFirmName: string, SmallBusinessIndicator: string, MinorityOwned: string, CottageIndicator: string, ForeignOwned: string, ManufacturingHereIndicator: string, PublicIndicator: string, ImporterExporterIndicator: string, StructureType: string, TypeOfEstablishment: string, ParentDunsNumber: null, UltimateDunsNumber: null, HeadquartersDunsNumber: null, ParentCompanyName: null, UltimateCompanyName: null, DiasCode: null, HierarchyCode: null, UltimateIndicator: string, HotList: {NewIndicator: null, OwnershipChangeIndicator: null, CeoChangeIndicator: null, CompanyNameChangeInd: null, AddressChangeIndicator: null, TelephoneChangeIndicator: null, NewChangeDate: null, OwnershipChangeDate: null, CeoChangeDate: null, CompanyNameChgDate: null, AddressChangeDate: null, TelephoneChangeDate: null}, ReportDate: {Year: number, Month: number, Day: number}, DeleteRecordIndicator: null, MailingAddress: {StreetNumber: null, StreetPreDirection: null, StreetName: string, StreetSuffix: null, StreetPostDirection: null, UnitDesignation: null, UnitNumber: null, StreetAddress1: null, StreetAddress2: null, City: string, State: string, Zip5: string, Zip4: string, County: null, PostalCode: null, StateCityZip: null}, Address: {StreetNumber: string, StreetPreDirection: null, StreetName: string, StreetSuffix: null, StreetPostDirection: null, UnitDesignation: null, UnitNumber: null, StreetAddress1: null, StreetAddress2: null, City: string, State: string, Zip5: string, Zip4: string, County: null, PostalCode: null, StateCityZip: null}, RecordType: null, ActiveDunsNumber: string, StructureTypeDecoded: string, TypeOfEstablishmentDecoded: string, OwnsRentsDecoded: string}}, Sanction: {Sanctions: null}, ConnectedBusiness: {CountConnectedBusinesses: number, TotalCountConnectedBusinesses: number, ConnectedBusinessRecords: *[]}, ExperianBusinessReport: {ExperianBusinessReports: *[]}, CompanyVerification: {CompanyVerificationRecordCount: number, CompanyVerification: {VerifiedIndicators: {CompanyName: boolean, Address: boolean, City: boolean, State: boolean, Zip: boolean, Phone10: boolean, Fein: boolean}, VerifiedInputs: {CompanyName: null, Address: null, Phone10: null, Fein: null}}}, BusinessRegistration: {BusinessRegistrationsRecordCount: number, BusinessRegistrations: null}, Source: {AllSourcesCount: number, SourceDocs: *[], Categories: *[]}}, providerType: string, id: string}}
             * @param formData
             * @param {BusinessReport} source
             * @param key
             * @returns {Object}
             */
            mapResponseToFormData: function (source) {
                return {
                    taxId: source.taxId,
                    address: _(source.report.Best.Address)
                            .pick(["StreetName", "StreetNumber", "StreetAddress1", "StreetAddress2", "UnitDesignation", "UnitNumber"])
                            .pick(function (values) {
                                return values
                            })
                            .values()
                            .join(" "),
                    city: source.report.Best.Address.City,
                    state: source.report.Best.Address.State,
                    zip: source.report.Best.Address.Zip5,
                    yearStarted: source.report.Best.YearStarted,
                    website: source.report.Best.Url,
                    sameAsContact: false,
                    annualSales: source.report.DunBradStreet.Dnb.AnnualSalesVolume,
                    principalOwnerFirstName: "",
                    principalOwnerLastName: "",
                    dateOfBirthMonth: "",
                    dateOfBirthDay: "",
                    dateOfBirthYear: ""
                };
            }
        });
    </script>
</dom-module>
