<dom-module id="prepare-request">
    <template>
        <button class="btn btn-primary" on-click="handleClick">SEND REQUEST</button>
    </template>
    <script>
        Polymer({
            is: "prepare-request",

            behaviors: [
                eventHub,
                workflowActivityBehavior
            ],

            handleClick: function () {
                var self = this;

                self.publishActivityComplete({
                    output: {
                        requestConfig: {
                            url: "/all",
                            base: "http://192.168.1.9:5009",
                            type: "GET"
                        }
                    }
                });
            }
        });
    </script>
</dom-module>