<dom-module id="microbilt-redirect">
    <script>
        Polymer({
            is: "microbilt-redirect",

            attached: function() {
                debugger;
                console.log("redirect");
                var microbiltBank = $("microbilt-bank", parent.document)[0];

                microbiltBank && microbiltBank.closeModal();
            }
        })
    </script>
</dom-module>