<dom-module id="thankyou-message">
    <template>
        <p>
            Thank you for enrolling with LendingUSA. One of our representatives
            will contact you shortly. Meanwhile, if you have any questions,
            please call 1-800-994-6177.
        </p>
    </template>
    <script>
        Polymer({
            is: "thankyou-message",
        });
    </script>
</dom-module>